[2019-11-21 09:39] FKrauss commented on #164
the only issue is overwhelming the support agent with low touch requests,
things that would be solved by checking slack or so.

maybe we make a mix of helpcenter/knowledge base articles and support chat?
Similar to what most websites have where you first need to dig the KB a bit
before you can talk to a human for support

On Thu, 21 Nov 2019 at 10:13, Christoph Atteneder <notifications@github.com>

[2019-11-21 09:43] ripcurlx commented on #164
Unfortunately the regular common support SDK integrations with this KB article suggestions is no way for us. Implementing it ourselves might be quite a lot of work. Maybe it is enough to point the user to the knowledge base website first and if she opens a support ticket within the app it has a cost (BSQ?). But I probably would be pretty pissed if I have to pay for support if there is a bug in the

[2019-11-21 09:45] ripcurlx commented on #164
Or we hide to opening of the support dialog with a keyboard shortcut that is revealed after you haven't found anything in the KB? Of course that will only be a one-time hurdle, but could prevent the initial flood of noob support requests.

[2019-11-21 10:38] FKrauss commented on #164
Can we do deeplinking? you know, like slack has: you log in the browser and
then redirects to the app (although they are an electrum app, i.e. a mini
browser).

if yes we could simply prompt people to go to the help center and then
deeplink them to a command to open support. As in a helpcenter it is
trivial to add a search box and recommendations and all that fancy fru fru

Anyways, I guess we hav

[2019-11-21 11:16] FKrauss commented on #31
shall we revive this talk?

[2019-11-21 14:23] ripcurlx commented on #164
Haven't looked into it how difficult it is to do it cross OS properly for Java apps.

Sounds good! For me the goal of this call is to have someone that leads this feature request, creates a proposal based on the decisions made in the call and after it finds consensus pushes it to get implemented and integrated into the client asap.

[2019-11-21 15:18] m52go commented on #31
Personally I don't think the Product Hunt crowd is a good fit for Bisq, especially at the moment.

1. I don't see any of the major commercial/company-backed bitcoin products on there—no wallets, nothing from Blockstream, etc. The only item I recognized from a search for "bitcoin" was Andreas' _Mastering Bitcoin_ book, and even that didn't generate much interest. To me, this isn't a good first sign

[2019-11-21 16:31] m52go commented on #164
Sounds reasonable to me, thanks Fabio. I'll make a slide with this agenda so we can have a visual guide for the discussion.

[2019-11-21 17:03] clearwater-trust commented on #164
Can we add a quick security assessment for the different systems that may be suggested? Maybe consider worse case scenario if the system was compromised. What data will reside server side to make it work for our setup...  and other security things that I don't even know about.

[2019-11-21 17:08] ripcurlx commented on #164
I think to make that as safe as possible we have to have encrypted messages on this systems only and the support staff has to encrypt them in command line or some other decryption tool locally. If we do that it doesn't matter so much if the system is compromised.

[2019-11-21 17:11] ripcurlx commented on #164
We also must not  pass the onion address as identity to this system, but rather some other handler and only the relay server knows the matching onion address to send the response to the right peer.

[2019-11-21 17:28] FKrauss commented on #31
Sounds good. Let's put it back in the fridge

On Thu, 21 Nov 2019, 16:18 Steve Jain, <notifications@github.com> wrote:

[2019-11-21 17:45] m52go commented on #164
![Screenshot from 2019-11-21 12-42-35](https://user-images.githubusercontent.com/735155/69362398-589c2300-0c86-11ea-9500-459ecf8690dd.png)

[2019-11-22 02:37] arunasurya opened #166 "Translator Call 2019.11.26"
## Call Details

   - Date: Tue Nov 26, 2019
   - Time: 11:00 - 12:00 Pacific Time (19:00 - 20:00 GMT)
   - Place: https://us04web.zoom.us/j/3953007925

## Agenda

- Review of current Transifex projects
    - bisq-desktop (core languages, issues)
    - bisq subtitles (languages, views)
    - bisq-website (process, translating documentation)

- Brief review of the Translator Documentation (rates, e

[2019-11-22 11:07] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/69421177-a49ba600-0d20-11ea-83d1-38652db59e71.png)

And we finally have a spread in China!

[2019-11-22 11:19] wdljt6 commented on #135
If the biaq needs,I can keep 2 or 3 seller and buyer.

[2019-11-22 16:03] m52go commented on #164
Recording uploaded here:
https://youtu.be/Pyl_eK5NNig

Check out #ticketing-system on [Keybase](https://keybase.io/team/bisq) if you'd like to help!

Closing as complete.

[2019-11-22 16:03] #164 closed

[2019-11-27 17:38] m52go commented on #166
Call recording:
https://youtu.be/6p1JTfxnSAM

Closing as complete.

[2019-11-27 17:38] #166 closed

[2019-11-28 01:14] m52go opened #167 "[Call] Privacy-Protecting Growth Tactics - Bisq BRIEF for December 05"
## Call details

- **Date:** Thursday December 05 2019
 - **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm–9:15pm Central European (CET)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

## Topic / Agenda

**Privacy-Protecting Growth Tactics**

I

[2019-11-28 18:09] clearwater-trust commented on #167
Before recommending Bisq to new market makers I want to be certain the new 2 of 2 model can stay solvent, relevant, working.  (FULL DISCLOSURE: I don't know any market makers, I don't have any influence on social media or in the real world.)

What will happen to the funds at the mysterious "[donation address](https://www.blockchain.com/btc/address/3EtUWqsGThPtjwUczw27YCo6EWvQdaPUyp)"?
Who is the c

[2019-11-28 22:35] FKrauss opened #168 "Plan 2020 conferences"
## Learning Goal/Objective
Next year is coming and I think we could plan/Aim to have Bisq represented on the stage at some of the major conferences.

## Experiment Design
- map out conferences globally that are relevant for Bisq
- plan on topics to approach (talking about what is the DAO has been our talking point for a long time)
- check who do we have  on the ground that could make these present

[2019-12-03 00:30] m52go commented on #168
We could probably benefit from planning these things a bit further ahead. Let's have a preliminary discussion about this [on this week's call](https://github.com/bisq-network/growth/issues/167).

[2019-12-05 09:34] FKrauss commented on #31
btw, shall we close some of these? This one in particular. We sort of decided we won't do this any time soon, no need to pollute our other issues that might actually have actions we may take

[2019-12-05 13:11] #31 closed

[2019-12-06 19:08] m52go commented on #167
Recording:
https://www.youtube.com/watch?v=MEEG8o5t3eg

[2019-12-06 19:08] #167 closed

[2019-12-13 21:59] FKrauss opened #169 "Proof of keys 2020"
While all the exchanges are getting their ass kicked by people withdrawing their btc, we're chilled because every user already owns their private key.

Here are a few thoughts on things we could do for the celebration of the genesis block (aka proof of keys)

![Read more ](Https://proofofkeys.com)
(there is an episode of WBD podcast that just came out about it).

# add the pok support string in ou

[2019-12-15 16:49] FKrauss opened #170 "Harcode Brazilian Banks to avoid mismatching"
# Problem
I've been following the Brazilain support channel in Telegram and a recurring issue is people who have their fiat accounts mismatch the other side of trades which makes the "same bank transaction" feature a bit useless and risky.

Example:
As the field is an string with no validation, when creating a fiat account, `Brandesco`  can appear as `Banco Bradesco`, `Bco Bradesco` and so on. Tra

[2019-12-15 16:52] wiz commented on #170
We can just fork the Japan Bank Transfer payment method I made to create a new Brazil Bank Transfer payment method - all the banks can be hard-coded like this

<img width="433" alt="Screen Shot 2019-12-16 at 1 51 27" src="https://user-images.githubusercontent.com/232186/70865948-97cc4400-1fa6-11ea-97ba-e4439164bab8.png">

[2019-12-17 11:28] FKrauss commented on #170
@wiz  and I discussed this on Keybase we'll make a diff proposal to make a Brazilian bank transfer payment method.

That is mainly to improve liquidity and simplicity:

- Spread across 4 payment methods, people need to have 4 accounts and makers and takers may not meet in the market.

- With one payment method, we can merge those 4 into 1 and add an extra field for preferred delivery (i.e. cash de

[2019-12-17 11:28] #170 closed

[2019-12-22 02:47] m52go opened #171 "Implement smarter content strategy"
We generate a healthy amount of meaty content that almost no one watches.

But it has a redeeming quality. In [Gary Vaynerchuk's lingo](https://www.youtube.com/watch?v=IwRfUJFpU3E), it's perfect "pillar" content that we can use for generating "micro" content for tweets and other shorter-form mediums. Growth/strategy calls, podcasts, event talks, etc are all 30-120 minute items that can be split up

[2019-12-22 13:36] FKrauss commented on #171
I think we do need to start live tweeting the calls whenever a good quote comes up. But think the reason why we don't do this is because we simply never coordinated / assigned responsibilities for it. We now have some 3/4 people in the growth channel who are good in marketing. Let's try to operationalise that.

I would also add that for Proof of Keys on the 3rd we should have some of that content

[2019-12-22 16:31] m52go commented on #171
I think it would be better to spread content out over time instead of bunching it all up at once while the call is happening...that's the whole point of the suggested approach.

But it's a big topic and needs more discussion...this is why I made the issue. Maybe we can make this the topic of a call early in the new year.

[2019-12-22 23:29] ifarnung commented on #160
I have completed 5 trades in the RUB / BTC market and plan to claim this bounty.

Report:
Dec 21, 2019 I sold .01 BTC for 4561 Rubles.  The customer also paid using Sberbank card online transfer.  The trade was completed very quickly as they sent the money as soon as the blockchain confirmation was received.
Nov 23, 2019 I sold .01 BTC for 4766 Rubles.  The customer also paid using a Sberbank card

[2019-12-23 08:58] flix1 commented on #160
![image](https://user-images.githubusercontent.com/4233784/71347464-ba43fb80-256a-11ea-9b55-fcd958d52d00.png)

@ifarnung congratulations on an execellent job! I've been watching these past months and witnessing how you singlehandedly kickstarted the RUB/BTC market. Even keeping a negative spread  to encourage takers!

Don't worry that it goes very slowly at the beginning. It was the same for EUR a

[2019-12-23 09:11] flix1 commented on #160
@ifarnung to receive the bounty you will need to make a compensation request.
Like this one:  https://github.com/bisq-network/compensation/issues/303

In https://github.com/bisq-network/compensation/issues

[2019-12-23 15:23] ifarnung commented on #160
@flix1 Thanks for the positive feedback, I'm glad you found the contribution useful!  I will look for the Bisq Brief call in January.

[2020-01-01 07:46] user718141 commented on #169
You fools. No need to have keys on exchanges to buy Bitcoin. I moved from Bisq because it sucks.

https://safello.com/
https://bity.com

[2020-01-02 04:26] sundaywar commented on #168
Great idea! Anyone else planning to be at Bitcoin 2020 in San Francisco?

Bisq Happy Hour with P2P trading would be epic.

[2020-01-03 07:05] wiz commented on #160
We had a few more trades on JPY recently, feels like this is really how it goes, extremely slow at first then slowly trickle in...

[2020-01-06 16:16] flix1 opened #172 "Argentina ARS/BTC Market Maker Bounty"
### Argentina ARS/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq ARS/BTC for 1 month.
https://bisq.network/markets/?currency=btc_ars

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report w

[2020-01-06 16:19] flix1 opened #173 "Iran IRR / BTC Market Maker Bounty"
### Iran IRR/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq IRR/BTC for 1 month.
https://bisq.network/markets/?currency=btc_irr

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report with f

[2020-01-06 16:21] flix1 opened #174 "Egypt EGP/BTC Market Maker Bounty"
### Egypt EGP/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq RUB/BTC for 1 month.
https://bisq.network/markets/?currency=btc_rub

This will involve:

1. Keeping at least 2 **BUY** and 2 **SELL** offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Repo

[2020-01-06 16:24] flix1 commented on #172
![image](https://user-images.githubusercontent.com/4233784/71831455-3846ed00-30a9-11ea-8866-a3d2ed62c5ec.png)

There's been some Argentine Peso trades before on Bisq, but not many. This market could definitely use a push. The need is especially great since new restrictions were put on Bitcoin trading in Argentina recently.

[2020-01-06 16:42] flix1 opened #175 "India INR/BTC Market Maker Bounty"
### India INR/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq IRR/BTC for 1 month.
https://bisq.network/markets/?currency=btc_inr

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report with

[2020-01-07 10:04] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/71886958-67a73980-313d-11ea-829d-a27a81d8b7a4.png)

1st trade of the year in CNY!

[2020-01-08 21:39] chimp1984 commented on #160
We should find better ways to bottstrap markets. A 1000 BSQ bounty for 2 small trades is a very expensive way.

<img width="1353" alt="Screen Shot 2020-01-08 at 22 37 55" src="https://user-images.githubusercontent.com/54558767/72018229-8d306200-3267-11ea-9b91-e2c01be51a15.png">

[2020-01-09 09:23] flix1 commented on #160
@chimp1984  I agree that there must be better ways. We have done many experiments and should continue to try new things.

However I absolutely do not think you should focus on the trades, but rather on the fact that the market maker has kept live offers for more than a month and made efforts to attract users. Trades by themselves could be easily spoofed... but locking up funds for months in live o

[2020-01-09 11:34] ifarnung commented on #160
@chimp1984  Totally reasonable criticism of the bounty, either the principle of the incentive or the amount of the bounty. I think it's good to look at the results and use that info. to decide where best to spend BSQ in the future.  Small counterpoint, it was 6 trades (of 7 lifetime) over 3 months while I worked on the bounty. Not much action, I agree, but better than the last trade being made in

[2020-01-09 12:27] flix1 opened #176 "Monero XMR/BTC Volume Booster Bounty 5000 $BSQ"
### Monero XMR/BTC Volume Booster Bounty

The goal of this bounty is to increase XMR/BTC trading volume.

To claim this bounty a contributor must outline and execute a strategy over a 3 month period to attract traders and increase volume traded in the XMR/BTC market by 25%.

https://bisq.network/markets/?currency=xmr_btc

1. Declare intention to claim bounty
2. Outline strategy
3. Report on progre

[2020-01-09 12:30] flix1 opened #177 "Ether ETH/BTC Volume Booster Bounty 1000 $BSQ"
### Ethereum ETH/BTC Volume Booster Bounty

The goal of this bounty is to increase ETH/BTC trading volume.

To claim this bounty a contributor must outline and execute a strategy over a 3 month period to attract traders and increase volume traded in the ETH/BTC market by 50%.

https://bisq.network/markets/?currency=eth_btc

1. Declare intention to claim bounty
2. Outline strategy
3. Report on prog

[2020-01-09 12:34] flix1 opened #178 "Litecoin LTC/BTC Volume Booster Bounty 500 $BSQ"
### Litecoin LTC/BTC Volume Booster Bounty

The goal of this bounty is to increase LTC/BTC trading volume.

To claim this bounty a contributor must outline and execute a strategy over a 3 month period to attract traders and increase volume traded in the LTC/BTC market by 50%.

https://bisq.network/markets/?currency=ltc_btc

1. Declare intention to claim bounty
2. Outline strategy
3. Report on prog

[2020-01-09 12:44] flix1 commented on #176
![image](https://user-images.githubusercontent.com/4233784/72068725-066e9a00-32e6-11ea-9cd4-1b73d29fee97.png)

Considering how high XMR/BTC volumes already are on Bisq and how important this volume is to Bisq, I consider the reward, while high compared to other bounties, well worth paying out if the contributor is successful.

[2020-01-09 12:58] flix1 commented on #177
![image](https://user-images.githubusercontent.com/4233784/72069632-e2ac5380-32e7-11ea-8228-7053cdda605d.png)

ETH/BTC is currently a tiny market for Bisq, but considering volume on other markets this could have very large potential to generate revenue if Bisq is able to capture even a small % of that flow. An effective strategy to attract such volumes would be worth a lot.

[2020-01-09 13:01] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/72069789-4040a000-32e8-11ea-83ca-92298d99e432.png)

LTC/BTC is a very small market currently for Bisq. This bounty should be easy to win. Just attracting a handful of active traders will be enough to achieve the 50% increase in volume.

However the lessons learned and feedback on how to do this will be very useful information to Bisq and a

[2020-01-09 19:02] niyid commented on #156
What is the status of this issue?

[2020-01-09 19:23] flix1 commented on #156
@niyid

The bounty is still open. Nobody has claimed it. If you intend to go for it I recommend that you say something here.

[2020-01-09 19:27] niyid commented on #156
@flix1

Yes, I do.

[2020-01-09 19:42] flix1 commented on #156
I don't know, but I don't think they even tried.

[2020-01-09 19:45] niyid commented on #156
Ah. That's all I need. Try, I will.

[2020-01-10 10:38] flix1 commented on #176
![image](https://user-images.githubusercontent.com/4233784/72146780-7429cd00-339d-11ea-9482-9e6dfd2a5a68.png)

As a reference  XMR/BTC volume for the past 3 months was:
October 2019         373 BTC
November 2019     375 BTC
December 2019     328 BTC

[2020-01-10 10:48] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/72147320-8c4e1c00-339e-11ea-9316-65affbcf8071.png)

LTC/BTC volume for the last 3 months was under 1 BTC.
October 2019  0.5 BTC
November 2019 0.0 BTC
December 2019 0.3 BTC

So on the one hand a 50% increase should be very easy to achieve for whoever wants to claim the bounty. On the other hand the 500 $BSQ will probably not be justified by

[2020-01-10 10:58] flix1 commented on #177
![image](https://user-images.githubusercontent.com/4233784/72147879-cf5cbf00-339f-11ea-9e4b-7c390374b555.png)

ETH/BTC volumes have been small over the past 3 months:
October 2019  0.63 BTC
November 2019 0.85 BTC
December 2019 5.41 BTC

However in the past we have had much larger volumes, so the potential could be relevant. A 1000 $BSQ bounty would not be justified just by extra fees generated thr

[2020-01-10 15:40] shawnyeager opened #179 "Bisq growth metrics & funnels"
<img width="872" alt="Bisq Growth Metrics   Funnels - January 9, 2020" src="https://user-images.githubusercontent.com/980297/72165376-fbbb1000-338c-11ea-91a6-45f6c84cc4e5.png">

Here's a v1 set of metrics and funnel(s), from conversations @m52go and I have had. Of note:

- Section 1. This is a WAG (wild-ass guess) for purposes of illustration, but the intent is to peg our growth target in BTC, as

[2020-01-10 15:54] shawnyeager commented on #179
Copying this over from @m52go on Keybase, as they're key considerations:

[2020-01-10 22:25] chimp1984 commented on #160
@flix1 @ifarnung
I agree to your response and did not argue to reject the promised bounty, just to try to improve our efficiency how we spend money, specially in times of low trade volume as it is the case over the past months.

[2020-01-11 18:27] ifarnung commented on #160
@chimp1984 I took your comments not as a rejection of my bounty completion but more asking the question if this is a useful way to proceed in the first place.  And I'm completely fine with any criticism (general or directed) , I certainly won't get offended at any opposition to this or future bounties.  Some will find it a useful expenditure, others will prefer to conserve precious BSQ resources f

[2020-01-12 20:31] chimp1984 commented on #176
How is the acceptence process of a proposal? We need to make very clear which candidate/concept we will take as bounty candidate. I assume it only makes sense with one single candidate.

[2020-01-13 09:08] flix1 commented on #176
I agree it only makes sense to accept one proposal. The idea is for the candidate to outline his strategy here and have a discussion... No candidate is going to put in the work and time before being sure that the DAO will pay up if he delivers required results.

[2020-01-13 09:25] MwithM commented on #176
For an already bootstrapped market like XMR is, I think that lowering fees could improve volume more than a bounty.
All market participants could benefit from lower fees and the "reward" would be automatic and transparent.

There's an economic behaviour consequence to consider here, though. People tends to prefer rewards over lower fees even if the rational decision would be to prefer the other be

[2020-01-13 10:24] flix1 commented on #176
@MwithM I agree that lowering fees is the best long term policy to attract and retain volume, together with adapting the software to the specific market needs.

However some initial marketing effort is needed. We don't have anybody in Bisq doing it... so offering a bounty to reward somebody who is well placed to do it could be a good option.

It costs nothing if it fails. If it succeeds it creates

[2020-01-13 10:37] flix1 commented on #135
Something is moving in China!

![image](https://user-images.githubusercontent.com/4233784/72249073-ed712c00-35f8-11ea-85f1-48f267a69a03.png)

![image](https://user-images.githubusercontent.com/4233784/72249109-fb26b180-35f8-11ea-8210-478396aaa4e6.png)

[2020-01-13 10:52] flix1 commented on #160
It's nice to see this market still up:

![image](https://user-images.githubusercontent.com/4233784/72250100-227e7e00-35fb-11ea-9fa8-95be2fc47b1d.png)

[2020-01-13 12:39] flix1 commented on #176
Very interesting feedback from Monero community here:
https://www.reddit.com/r/Monero/comments/eo2ssy/monero_bounty_on_bisq/
https://bisq.community/t/dirty-btc-coins-on-the-xmr-market/7798

2 takeaways:
-XMR traders worried about tainted BTC
-Traders value high execution speed

[2020-01-13 15:24] flix1 commented on #176
Let me clarify: technical improvements _are_ part of the strategy to increase volume. For example in the JPY/BTC bounty #138 the work involved translating to Japanese and customizing for local payment methods.

The point of linking the bounty to measurable results is so that we don't waste anybody's time. Technical changes must be highly demanded by actual users. A bounty hunter must outline a via

[2020-01-13 16:14] RadishXN commented on #135
Hi,I would like to take part in this issue. So how can I star with? And who should I talk with? Thx

[2020-01-13 16:33] flix1 commented on #135
Hi @RadishXN just writing here saying that you intend to claim the bounty is enough to start with.

The 5 conditions are clear. Just start being a market maker.

[2020-01-13 16:53] flix1 commented on #160
This bounty was claimed in this compensation request:
https://github.com/bisq-network/compensation/issues/454

[2020-01-13 17:23] MwithM commented on #176
1. To worry about tainted BTC is a XMR maximalist proposition that none exchange can solve just like Bisq can't solve bank payment privacy issues. I don't feel BTC is dead, though. You always can use Wasabi or Wirlpool to mix your BTC after buying BTC on Bisq (and the worries of tainted BTC don't apply to selling BTC for XMR).
2. Cryptobanks are going to behave like fiat banks.
3. I guess that if

[2020-01-13 17:48] flix1 commented on #176
We don't ask for identity. We don't care about identity. Bounty only cares about outcomes. In fact if somebody wants to create a pseudonymous github user to claim the bounty while maintaining their privacy... that is perfect.

I don't see the problem with an already active trader participating, since this bounty is calculated to pay for itself in fees, any existing contributor is welcome to take a

[2020-01-13 17:49] m52go commented on #179
Thanks Shawn. I intended to respond to this thread quicker but encountered a couple of notable items that changed my approach. In a nutshell, I was going to suggest that we follow a more conventional content strategy to increase website traffic, downloads, and (ultimately) volume...but I'm not convinced we need to do all that right now. Such a full-funnel approach is something we'll need to tackle

[2020-01-13 20:34] MwithM commented on #176
I was asking because if one of us or an already active traders takes this challenge the promotional aspect will be smaller, I'm not worried about self trading.

[2020-01-13 20:50] MwithM commented on #176
I was asking because if one of us or an already active traders takes this challenge the promotional aspect would be smaller, I'm not worried about self trading.

[2020-01-14 04:05] RadishXN commented on #135
Thanks again, I have already started my work. I would like to report as soon as the first deal happening.

[2020-01-15 10:20] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/72425834-cfd2cc80-3788-11ea-9b61-4191b661ac5a.png)

![image](https://user-images.githubusercontent.com/4233784/72425851-d95c3480-3788-11ea-819f-a4e3967fa870.png)

Nice to see those offers live @RadishXN

[2020-01-15 11:30] flix1 commented on #23
Bounty was successful. Closing this issue.

[2020-01-15 11:30] #23 closed

[2020-01-15 11:33] flix1 commented on #24
Bounty failed. No takers after 1 year.

Closing this issue.

[2020-01-15 11:33] #24 closed

[2020-01-15 11:34] flix1 commented on #30
Bounty failed. No takers after 1 year.

Closing issue.

[2020-01-15 11:34] #30 closed

[2020-01-15 11:35] #160 closed

[2020-01-15 11:35] flix1 commented on #134
Bounty failed.

Closing issue.

[2020-01-15 11:35] #134 closed

[2020-01-15 11:38] flix1 commented on #175
For examples of similar bounties that were successfully claimed please see #138 and #160

[2020-01-15 11:38] flix1 commented on #174
For examples of similar bounties that were successfully claimed please see #138 and #160.

[2020-01-15 11:38] flix1 commented on #172
For examples of similar bounties that were successfully claimed please see #138 and #160

[2020-01-16 07:28] RadishXN commented on #135
Thanks, now I am waiting for someone to purchase them.

[2020-01-23 14:39] bounhun commented on #178
I claim the intention to collect this bounty.
I've talked to @flix1 about strategy to develop, I'll start as soon as I have got confirmation that there will be BSQ left for me at the DAO if I achieve the goal of this proposal.
I'm claiming ETH growth bounty as well.

[2020-01-23 14:43] bounhun commented on #177
I'm claiming this bounty toghether with [LTC](https://github.com/bisq-network/growth/issues/178#issuecomment-577709523) bounty.
I'm waiting for your approval to start.

[2020-01-23 15:35] flix1 commented on #178
Hi @bounhun you have done step 1 - announced intention to claim the bounty.

Now step 2: outline strategy...

...please **describe here your strategy** so that other DAO users can give you a thumbs up and discuss. No need to give away any secrets or too much detail, just enough so that Bisq contributors can judge that you will make a worthwhile effort.

I think we can take the ETH/BTC volumes of N

[2020-01-23 15:39] flix1 commented on #177
It's great that you wish to claim this bounty @bounhun !

Please **outline your strategy** here as required in step 2. How are you going to achieve this goal?

If you start on February 1st the benchmark for success will be ETH/BTC volumes for the months of Nov-Dec-Jan.

[2020-01-23 16:00] flix1 commented on #172
Hey @fedegrc I see that you claimed a previous ARS bounty #26. Are you interested in this one?

[2020-01-23 16:05] flix1 opened #180 "Vietnam VND/BTC Market Maker Bounty 1000 $BSQ"
### Vietnam VND/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq IRR/BTC for 1 month.
https://bisq.network/markets/?currency=btc_vnd

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report wit

[2020-01-23 16:06] flix1 commented on #180
![image](https://user-images.githubusercontent.com/4233784/73001395-ace88e00-3e02-11ea-99e2-b2e9d3b47d9e.png)

So far there has been limited activity in VND.

[2020-01-23 16:08] flix1 commented on #180
For examples of similar bounties that were successfully claimed please see #138 and #160

[2020-01-23 16:25] bounhun commented on #177
First weeks I'll try keep offers online following a similar pattern to this:
BUY 0.01 btc at -1%, 0.1 at -2.5%, 0.25 at -4% and
SELL 0.01 at +1%, 0.1  at +2.5%, 0.25 at +4%.

I'm not going to make any promotion other than a few forums where I'm already active at. I think Bisq needs volume to be appealing for traders, so I'm providing it.

I'd like to start as soon as possible, but I agree the benc

[2020-01-23 16:27] bounhun commented on #178
First weeks I'll try keep offers online following a similar pattern to this:
BUY 0.01 btc at -1%, 0.1 at -2.5%, 0.25 at -4% and
SELL 0.01 at +1%, 0.1 at +2.5%, 0.25 at +4%.

I'm not going to make any promotion other than a few forums where I'm already active at. I think Bisq needs volume to be appealing for traders, so I'm providing it.

I'd like to start as soon as possible, but I agree the bench

[2020-01-23 16:42] flix1 commented on #178
I like this strategy, I believe that lack of liquidity is what drives most would-be traders away.

However I'd like a few days to give other Bisq contributors an opportunity to object, ask questions and confirm that they agree to this bounty.

[2020-01-23 16:44] flix1 commented on #177
I believe that lack of liquidity is what drives most would-be traders away. A few months of available offers plus some word of mouth can do wonders.

However I'd like a few days to give other Bisq contributors an opportunity to object, ask questions and confirm that they agree to this bounty.

[2020-01-25 11:39] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/73120525-a6c3f000-3f6f-11ea-9854-658e8477b9e3.png)

Is this you already? I have never seen a 2 BTC trade in this market before..

[2020-01-25 15:36] bounhun commented on #178
No, I'm not. My max offer will be 0.25 btc at the beginning. I'm waiting for a clear benchmark and your OK.

[2020-01-26 10:33] flix1 commented on #178
@m52go do you have any questions about this? Can we give @bounhun the OK to start?

[2020-01-26 10:34] flix1 commented on #177
@m52go  Can we give @bounhun the OK to start?

[2020-01-26 16:03] m52go commented on #177
Sounds like a plan -- let's see what happens :+1:

[2020-01-26 16:12] m52go commented on #178
@bounhun anything in particular you're looking for with regard to benchmarks? It sound like you have a clear-enough strategy for making this market, as well as a plan to report progress.

Otherwise this sounds like a worthy experiment to me, please go ahead.

[2020-01-27 10:08] bounhun commented on #178
OK I start today then.
Volume from today to end of April needs to be over 3.575 btc ($30.200) to claim this bounty.

[2020-01-27 10:37] bounhun commented on #177
Hunting this one as well.
Volume at end of April must be over 10.2BTC ($86.200) to claim this bounty.

[2020-01-27 11:49] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/73172452-59788780-4103-11ea-893f-97b1d03e2a7a.png)

Litecoin offer book is looking better than ever! I hope it translates into trades.

[2020-01-27 11:51] flix1 commented on #177
![image](https://user-images.githubusercontent.com/4233784/73172641-c2f89600-4103-11ea-8806-cbedf1c85d9c.png)

It's a nice start...

[2020-01-29 10:07] flix1 commented on #135
@RadishXN remember that it helps to **communicate**... if you don't get the word out about Bisq, nobody will know that your offers are there.

A good place to start might be in Chinese Bitcoin OTC chats... you don't need much. Just a couple of buyers/sellers over the next month will get you there. A good example to follow would be what was done with the JPY bounty. #138

[2020-01-29 15:29] RadishXN commented on #135
Thanks for your asking. In last few days,it's Chinese new year. And after that, it will be a great time to advertise bsq. So I have already found some way to advertise it. So I will try my best to do it. I believe there will be some purchase soon. And thanks again for your asking.

[2020-01-31 09:42] flix1 commented on #177
![image](https://user-images.githubusercontent.com/4233784/73528982-2ccfb300-4416-11ea-97ca-1e8ec2e3041a.png)

Nice to see that we are getting ETH/BTC trades almost every day since this started... The increased liquidity provided is no doubt having an effect. Hopefully it will gather momentum in february as word gets around!

[2020-01-31 11:51] flix1 commented on #45
Since bounty #135 is currently ongoing, it might be a good idea to coordinate these two. Maybe we could make it coincide with the last week of that month. Or maybe the first week after that bounty is completed... Any ideas @RadishXN ?

For reference see previous liquidity weeks here:
#12
#36

[2020-01-31 12:22] FKrauss commented on #168
Btw, we continued the discussion on Keybase but here's the link to the spreadsheet.

https://docs.google.com/spreadsheets/d/1RZr5Fna98lTrNAEzlwxANT2_Hn5p9N0W9pIK7_gPAAM/edit#gid=0

It would be cool to have an idea of who could attend conferences on Bisq's behalf on late Q1 and Q2

[2020-01-31 13:07] FKrauss opened #182 "Experiment on changing the Bisq landing page"
## Learning Goal/Objective

We currently have a very stable website conversion rate(visits with at least 1 download of the app). It hovers around 15% . The question is: is that good? is that bad? can we improve it?
![conversion rate](https://user-images.githubusercontent.com/4820683/73540399-1a627300-4430-11ea-9153-9014822f315d.png)

Also, looking at our "landing page" from a performance marketing

[2020-01-31 16:50] RadishXN commented on #45
Yes, I am happy to. But form now,I think I am going to need a bit more time. Anyway, I will give my idea tomorrow. As for the time, I thought last week of that months will be a perfect time. And I am sorry that I am so busy today. I have to get you the answer tomorrow. sorry again.

[2020-02-05 11:58] flix1 commented on #135
No offers on BTC/CNY since Feb 2 2020.
https://bisq.network/markets/?currency=btc_cny

This coincides with new Chinese financial controls and market restrictions. There is some discussion on keybase about how to bypass restrictions.

I suppose it's only fair to consider this bounty paused until the problem is solved.

I consider this market more important than ever as a test of Bisq's censorship r

[2020-02-06 05:58] mys67 commented on #135
Just so you guys know, the Chinese love red. Their stock market shows gains as red, not green.
I would recommend inverting your color scheme, when the language is set to Chinese.
Also, there is a large Monero mining community there. If you had xmr as a base pair you would probably have more volume, as those guys want to convert their XMR back into CNY after mining. But, they may want to convert CN

[2020-02-07 02:18] m52go commented on #179
Supplanted by new growth approach detailed [here](https://github.com/orgs/bisq-network/teams/growth/discussions/1) (or [here](https://gist.github.com/m52go/4e0e5c5f8fef4d71e22ee4eaa742d141), if you can't access the first link).

With that said, there are some good ideas here that we should refer back to when the time is right. At the moment, we need to focus on liquidity.

[2020-02-07 02:18] #179 closed

[2020-02-07 02:20] m52go commented on #169
Lots of good ideas here too. Didn't have the bandwidth to do much with it this year, but by next year we should have more resources and talent to do something more special.

[2020-02-07 02:20] #169 closed

[2020-02-07 02:21] m52go commented on #171
Supplanted by approach detailed [here](https://github.com/orgs/bisq-network/teams/growth/discussions/1) / [here](https://gist.github.com/m52go/4e0e5c5f8fef4d71e22ee4eaa742d141). Closing.

[2020-02-07 02:21] #171 closed

[2020-02-07 09:46] bounhun commented on #177
### Review:
I've managed to have almost 24/7 the offers published with the with the previously proposed offer structure.
There's been 8 trades performed for 0.17BTC, which is better than previously but still very little. Since a few days ago, there were some instant trade offers, that's not very convenient for me as I want to have the trades 24/7 and the alerts on my mobile phone are not working p

[2020-02-07 09:46] bounhun commented on #178
### Review:

I've managed to have almost 24/7 the offers published with the with the previously proposed offer structure.
There's been 3 trades performed. Still little, but more regular than before, and as @flix1 pointed out there's other offers published and offer book looks better.
All trades were smoothly and settled fast.
### New offer structure
All trades were for 1% and 0.01btc. I don't want

[2020-02-07 11:59] flix1 commented on #177
This looks like a very interesting iteration @bounhun

More volume and lower spreads are obviously better for takers... My concern is that this activity should be profitable for the maker, otherwise after the bounty you will not continue...

I think that a small amount of communication in ETH trading forums could also help...

[2020-02-07 21:38] luisantoniocrag commented on #172
Hi
I am interested in participating, right now I am not in Argentina, in fact I am in Mexico.

But I know many merchants and buyers of BTC in Argentina.

Can I participate for example with western union operations?

And if it is correct, how much is the minimum volume to participate?

[2020-02-08 08:59] bounhun commented on #177
0.8% offers won't be always available, this way it's more dynamic. I did not have too much hope for trading 0.25 btc at 4%, and these 10 days proved it (only one offer for 0.1 at 2.5%). I don't like having unproductive offers.

[2020-02-08 17:36] m52go commented on #172
@luisantoniocrag thanks for your interest, couple of questions.

No problem. Do you have an idea of how you'll be reaching out to your contacts in Argentina? I wonder if/how we could help with your efforts.

Also, an idea: @MwithM mentioned some Latin American countries use USD a lot, and that perhaps folks in those countries could post USD offers instead of bootstrapping their own currencies. Not

[2020-02-08 23:36] mpolavieja commented on #172
I think Argentina is a must market for Bisq.  I know from facebook bitcoin group in Argentina (more than 40,000 members) there is a lot of activity buying and selling bitcoin, and many people want to do it p2p, and they indeed do it just based on trust and other member´s references.   I am willing to help users and market makers.

Many argentinians have accounts in the US, so they could access the

[2020-02-09 08:21] MwithM commented on #172
Bringing a laptop to a trade meeting is a barrier in secure countries. In Argentina this barrier must be higher. If we want F2F trading to be a real thing at Bisq, laptops should stay home (smartphone app could achieve that) and maybe we would need to have more flexibility with deposits for different kind of transactions (high deposits, over 100% for Mutual Assured Destruction and low deposits (15

[2020-02-09 09:42] mpolavieja commented on #172
As a "dirty" alternative while the mobile app is not available, you can use VNC in your laptop and control it from your mobile.  I access Bisq like this very often.  Is not very comfortable, but it works.

[2020-02-09 16:47] flix1 commented on #172
There is no minimum volume. As you can see the requirements listed for this bounty are keeping offers online for 1 month and completing 5 trades.

However the point is to kickstart a market by attracting real traders. We want a good faith effort... not somebody just placing 0.0001 BTC offers and then trading with a friend or with himself to complete the 5 trade minimum.

Ideally this activity shou

[2020-02-10 09:00] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/74135100-fa7b3e00-4beb-11ea-81fa-a78cac224de5.png)

Offers are back on CNY/BTC!

Apparently the bounty hunters found a workaround to bypass the blockade.

Bounty is back on!

[2020-02-10 09:01] RadishXN commented on #135
Nice to hear that, now I carry on the Bounty. And try to get more people to bsq.

[2020-02-11 03:51] doitsu232 opened #183 "Translation Suggestion"
I suggest to complete the glossary for both, bisq-desktop and bisq-website.
currently we have about 250 strings in both glossaries and a total of 755 words to be reviewed, edited and translated.

time: ca. 2 days, could be finished in time to be added to cycle 10

costs:
755 x $0.07 = $52.85 /0.67 = ~79BSQ

[2020-02-11 04:07] m52go commented on #183
Hi @doitsu232, appreciate the estimate. Sure, go ahead.

For what it's worth, this post was actually supposed to be a post on the Translations project board but apparently it's not publicly editable.

[2020-02-11 04:07] #183 closed

[2020-02-13 12:42] flix1 commented on #135
Feb 13th 2020.

![image](https://user-images.githubusercontent.com/4233784/74436363-99ab6a00-4e66-11ea-8c72-a4283bbf075e.png)

[2020-02-13 13:59] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/74442155-4e4a8900-4e71-11ea-86ab-d1b5c533bdd8.png)

We are definitely seeing more movement in this market since the bounty started... there's some volume done almost every day.

[2020-02-13 14:05] flix1 commented on #177
Nice to see that you had one of the 0.06 BTC offers taken... it would be very interesting to know more about why that one... and to see if you can replicate.

![image](https://user-images.githubusercontent.com/4233784/74442658-27d91d80-4e72-11ea-8025-8259a9b740b7.png)

[2020-02-13 17:02] RadishXN commented on #135
I claim this bounty.

I have keep 2 BUY and 2 SELL alive. And so far I still keep 2 BUY and 2 SELL alive.

1. I have done some introduction about what is bisq. And do some research about Bisq and Chinese BTC market.Then I found that China have a wide market that need we to active it, which means maybe more AD will be a choice. Some people need this kind of market to hide thier ID but they can't fo

[2020-02-13 21:10] luisantoniocrag commented on #172
I agree that a local market is better supported, so, I will support the MXN market while in Mexico.

[2020-02-14 09:56] flix1 commented on #135
Thank you very much for all the work and for your great feedback @RadishXN !
We know how difficult it is to start a new market from zero and how complicated it is to explain how it all works to completely new users.

Please don't forget to create a compensation request for cycle 11.

@wiz @m52go do you have more questions for the bounty hunter? or any ideas on how he can continue to grow this mark

[2020-02-14 10:04] RadishXN commented on #135
Yes, I have already put that in cycle 11 at here https://github.com/bisq-network/compensation/issues/494
And thanks again for the help.If there is anything I can help with in the furture I will glad to help.

[2020-02-14 10:05] flix1 opened #184 "Mexico MXN/BTC Market Maker Bounty 1000 $BSQ"
### Mexico MXN/BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq MXN/BTC for 1 month.
https://bisq.network/markets/?currency=btc_mxn

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report with

[2020-02-14 10:06] flix1 commented on #184
For examples of similar bounties that were successfully claimed please see #138 #160 #135

[2020-02-14 10:08] flix1 commented on #172
@luisantoniocrag see #184

[2020-02-14 17:42] m52go commented on #135
Great work! Nice to see some action here, and thanks for the detailed feedback. @flix1 thanks for pushing for this.

@RadishXN is there a way to help with marketing? If we do another bounty, I would prefer to combine it with a stronger marketing effort this time to build on the momentum you've started. If we don't do anything differently, I imagine we can't expect different (i.e., even better) res

[2020-02-14 20:16] bounhun commented on #177
I guess that big traders want big orders to reduce costs, because there were still available 0.01 and 0.025 orders with less spread.
I'm thinking that this is how XMR works and this is how ETH worked in the past (May 2016, mean trade was 0.57BTC and Jul 2019 13.93 BTC traded in 11 trades, a mean of 1.26BTC per trade) so I'm going to try to adjust to this situation. If I have a few thumbs up, I'll

[2020-02-15 01:18] RadishXN commented on #135
Yes,some channel on telegram will offer Chinese some service like buy something needing to hide their ID. Such as sim card, IT information, even something that might not legal. So that's the reason they use it. But some people may only want buy a way to break the obstacle of Internet. And without hide ID something like this will also be banned.So that maybe the next market.

[2020-02-15 15:36] m52go commented on #177
I would say, go for it—already 17 offers with an average spread of 1%...looking like quite a solid offer book, but might benefit from some bigger trade sizes? Worth a try.

[2020-02-16 04:34] aubits commented on #159
Nuggets News on the NPP.
https://www.youtube.com/watch?v=NTQ_4iNFcgQ

[2020-02-17 04:01] m52go commented on #135
Update: @RadishXN, the Chinese translators, and I discussed an approach to broaden Bisq usage in China yesterday.

- the workaround that enables Bisq to be beat the firewall seems to work well but needs a little guidance/education to help others get it working
- RadishXN will explore groups with biggers audiences likely to use Bisq and arrange for Bisq to be promoted there
- RadishXN and translato

[2020-02-17 09:54] MwithM commented on #178
**Review:**

Offers were posted with earlier proposed structure 24/7 and I think results are good.
There's been 6 trades performed for 0.2223 BTC total. There usually are other offers available, but the best ones are mine. Offers over 3% spread are hardly ever going to be taken unless price feed fails or other anomaly occurs. Anyhow, during this period, I did not participate in one of the trades,

[2020-02-17 09:58] bounhun commented on #178
Review:

Offers were posted with earlier proposed structure 24/7 and I think results are good.
There's been 6 trades performed for 0.2223 BTC total. There usually are other offers available, but the best ones are mine. Offers over 3% spread are hardly ever going to be taken unless price feed fails or other anomaly occurs. Anyhow, during this period, I did not participate in one of the trades, whic

[2020-02-17 10:15] bounhun commented on #177
**Review:**

Offers were posted with earlier proposed structure 24/7, and the results are mixed. While frequency and volume is very similar to earlier period (low, while improving pre-bounty volume) there are sell offers at very interesting prices (normally 0% spread) from other traders, but they're not taken.
There's been 5 trades performed for 0.155 BTC total, all performed by me. I took a sell

[2020-02-19 10:17] flix1 commented on #135
Closing as completed successfully.

[2020-02-19 10:17] #135 closed

[2020-02-20 09:50] doitsu232 commented on #180
as discussed on keybase:

i think i would give it a go in cycle 11 but i would only claim the bounty if i can match the requirements at the end of the cycle.

regarding marketing efforts: in the beginning, i would prefer focussing on promoting bisq on IRL events, like bitcoin meetups and hands-on workshops. there is now a trend of digital nomads moving from thailand to vietnam, and i think this sh

[2020-02-20 10:12] flix1 commented on #180
Excellent news @doitsu232 !

I absolutely recommend the meetup + workshop route. The personal touch makes a big difference.

My theory is that for Bisq it is much better to have 4-5 frequent and committed users at the begining, creating offers... and then build from there, than to have 100+ casual users who try it once and then give up.

[2020-02-20 11:56] doitsu232 commented on #180
our next bitcoin meetup in danang is tomorrow btw ;)
there is also a bigger conference coming up at the end of february in hanoi.

[2020-02-20 18:30] luisantoniocrag commented on #184
Hello I'm from Mexico.

I am very interested in participating in this bounty.

My strategy plan is to make a video of how to exchange MXN for BTC and share it for all the BTC trading mexican groups in fb.
I will also create relevant content and tutorials that serve the community in Spanish.

[2020-02-21 15:18] m52go commented on #184
@luisantoniocrag sounds great. Your past videos have been nice. To clarify, I want to make sure we agree that compensation for any content and tutorials you create are included in this bounty.

Are you aware of the [Bisq wiki](bisq.wiki/)? You can add content and tutorials there in Spanish without asking for anyone's permission.

Also, just so you know, there was another contributor `sundaywar` on

[2020-02-21 17:35] MwithM commented on #184
@luisantoniocrag Do you already know what amount are the orders and amounts are going to be? Are they going to be available 24/7?

[2020-02-23 00:15] mpolavieja commented on #172
Fyi, I have opened an issue regarding Moneygram not working for ARS/BTC. https://github.com/bisq-network/bisq/issues/4000

@m52go and myself are doing some interesting research and real tests with Western Union and other payment methods.   We will report when we finish, but it looks interesting.

[2020-02-23 04:09] luisantoniocrag commented on #184
The total orders I would place are 0.1 BTC.

and I have a server to have operations available.

[2020-02-23 04:12] luisantoniocrag commented on #184
@m52go Yes, I would like to release documentation in Spanish. I think it's a good idea.

[2020-02-24 02:57] #21 closed

[2020-02-25 06:55] m52go commented on #184
@luisantoniocrag making a Spanish version of the wiki might be more challenging than initially thought because the wiki software makes [supporting new languages clunky](https://www.mediawiki.org/wiki/Multilingual_MediaWiki), but we can figure something out.

Please let us know what you'd like to create before making new wiki pages and we'll figure out the best way to post it.

@MwithM @flix1 any o

[2020-02-25 19:34] m52go opened #185 ""Make the Market" March"
The items detailed below are part of [a larger effort to boost liquidity in March](https://github.com/bisq-network/projects/issues/14) with successively larger goals every week until Bitcoin 2020.

Here I detail the content effort.

If you're interested in helping, please see the markets kanban board:
https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets

## Background

Goal is to have videos/articles/

[2020-02-25 19:43] m52go opened #186 "March Liquidity Pre-Campaign Call"
## Call Details

- **Date:** Thursday February 27 2019
- **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm - 9:15pm Central European (CET)
- **Place:** Zoom (details below)

## Topic

March liquidity campaign as detailed [here (overview)](https://github.com/bisq-network/projects/issues/14) and [here (content)](https://github.com/bisq-network/growth/issues/185).

## Who Should Join

Anyone intereste

[2020-02-27 06:58] bounhun commented on #177
**Review**

Results for this period are good. Volume has been increased to 0.8844 BTC with 12 trades, more than 1 per day. For that increase to happen, I think it helped to have other traders performing trades between them and reducing spreads for big offers.
There were no incidents performing my trades.

**Offer structure**

BTC | Spread %
------|-------|
0.015 | 0.80
0.03 | 1.00
0.06 | 1.5
0.1 |

[2020-02-27 07:12] bounhun commented on #178
**Review**
There's been only 3 trades for 0.0639 BTC in total. I don't know how to explain this results comparing them to ETH results. Maybe is just a bad streak. There were more offers from other traders in previous periods as well.
One of the offer is in moderation because the other part has not responded and I guess I'll still have to wait for refund agent to come. This takes too many time for

[2020-02-27 08:36] flix1 commented on #178
This feedback is very much appreciated @bounhun it really helps narrow down what works and what doesn't for future initiatives...

[2020-02-28 15:47] luisantoniocrag commented on #184
How can i start?
I am very interested in the MXN market.

[2020-02-28 16:06] m52go commented on #184
@luisantoniocrag looks like there's consensus for you to go ahead (sorry, I had missed the thumbs-up on my last post).

Please feel free to begin, and keep us updated!

[2020-02-28 21:50] m52go commented on #186
Uploaded to the Bisq team Keybase folder:
keybase://team/bisq/march-campaign-overview.mp4

[2020-02-28 21:50] #186 closed

[2020-02-29 06:12] m52go opened #187 "China CNY / BTC Market Maker+ Bounty 1200 $BSQ"
### China CNY / BTC Market Maker+ Bounty

_This bounty follows the successful bounty claimed in #135. The goal of his bounty is to provide more liquidity and stronger marketing to result in more activity, possibly paving the way for [a CNY liquidity week](https://github.com/bisq-network/growth/issues/45). See [this comment](https://github.com/bisq-network/growth/issues/135#issuecomment-586807803)

[2020-03-02 19:47] m52go opened #188 "Make the Markets March - Week 1"
## Call Details

- **Date:** Thursday March 05 2019
- **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm - 9:15pm Central European (CET)
- **Place:** Zoom (details below)

## Topic

Review week 1 of Make the Markets March.
- Cover any notable occurrences and milestones
- Discuss user questions, concerns, and suggestions
- Update on upcoming efforts: remainder of the month and Bitcoin 2020

March liq

[2020-03-03 10:44] flix1 commented on #177
![image](https://user-images.githubusercontent.com/4233784/75768212-349bb380-5d44-11ea-9bc8-2ffbc3a00cd8.png)

March volumes already looking great!

[2020-03-03 10:51] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/75768604-f2bf3d00-5d44-11ea-9d36-4e4b589fe3c0.png)

Volumes so far..

January: 2.10 BTC
February: 0.30 BTC
March:  ....

With almost a full month to go this bounty is almost a lock!

[2020-03-04 10:47] flix1 commented on #175
India’s Supreme Court Lifts Banking Ban on Crypto Exchanges
https://www.coindesk.com/indias-supreme-court-lifts-banking-ban-on-crypto-exchanges

[2020-03-06 19:42] m52go commented on #188
Recording posted here:
https://www.youtube.com/watch?v=uUE9OHUIgHI

Targets for this week -->
1000 offers going online through Thursday
200 trades completed

Results -->
762 offers went online
129 trades completed

Goals were probably lofty given activities. This week's communications focused more on awareness and onboarding (which seemed to work fairly well).

Next week we'll focus more on tradin

[2020-03-06 19:42] #188 closed

[2020-03-07 21:27] atom-mota commented on #172
Hi there, I've read the conditions for the bounty, and flix1's comments about "..good faith effort" .  what I wanted to know is if this bounty is accessible to 1 or all that meet the required criteria?
thank you!

[2020-03-09 08:09] bounhun commented on #177
**Review**

Orders have been available almost 24/7. This period had 0.935 BTC for 11 trades, best volume since this bounty started. All trades in this period have been performed by me.
It's good numbers, but there's very few good orders (I consider good orders those under 2%) other than mine.
There were no trouble performing any trades.

**Offer structure**

Prices are reduced again, some of these

[2020-03-09 08:27] bounhun commented on #178
**Review**

Offers have been available almost 24/7. There's been 5 trades for 0.1618 BTC, better than last period and similar to previous ones. All trades have been performed by me. Last Thursday, there was a 2BTC order for a few hours at fixed price, for around 1% that was not taken.
I still have an order into mediation, waiting for refund agent to say something. It's a very easy dispute that sho

[2020-03-10 01:41] luisantoniocrag commented on #184
Today I start with the 4  orders, in the following days I will change the size or number of orders. It also started with the promotion of BSQ in the MXN market. Wish me the best success haha

![2020-03-09_1938](https://user-images.githubusercontent.com/42625753/76271308-b5274c00-623d-11ea-8aee-0c2dbbd0578d.png)
![2020-03-09_1938_001](https://user-images.githubusercontent.com/42625753/76271312-b658

[2020-03-10 05:28] m52go commented on #172
@atom-mota typically 1 person claims the bounty and owns it. Do you have others you're looking to collaborate with?

[2020-03-10 10:08] flix1 commented on #178
![image](https://user-images.githubusercontent.com/4233784/76301939-71752680-62bf-11ea-8c7d-a19fdb3ea9f8.png)

Congratulations! Nice volume today.

[2020-03-15 20:57] luisantoniocrag commented on #184
![Inked6vzy8_LI](https://user-images.githubusercontent.com/42625753/76710453-3e6ed080-66cd-11ea-9a9d-0ed05994b1a9.jpg)

I performed the first operation on Thursday, March 12.

The operation lasted about a day and there was no problem.

The funny thing is that I had not yet started with the promotion of the MXN market and there was a buyer.

This is good.

[2020-03-16 06:01] luisantoniocrag commented on #184
Second trade: ompzjs-2e5d1fb9-40c9-44cb-a2ec-ee78f1a6fafb-125
started : Mar 11.

A moment ago I just  finished the second one.

There was a problem, it took a day to confirm on the blockchain, then he mentioned that the "Payment started" had been frozen.

After almost 4 days it was completed.

[2020-03-16 06:03] luisantoniocrag commented on #184
Third trade: 052319-9601dc73-67c7-412d-a500-77492b8f228b-127
started: Mar 16.
The trade lasted 30 min.

For this trade there was no problem, it was very fast for both.

[2020-03-16 06:07] luisantoniocrag commented on #184
At this moment I am waiting for a blockchain confirmation of another trade, if this continues the same, the exchanges will be much more than just 5.

I keep the 4 minimum orders on a ubuntu server.

![2020-03-16_0004](https://user-images.githubusercontent.com/42625753/76727609-1f4a6000-671a-11ea-8d6c-b9ee37f9c93c.png)

[2020-03-16 21:39] luisantoniocrag commented on #184
fourth trade: 6PUEQN-66c1f38c-3713-4d70-a383-0bb930918083-125
started: Mar 16.
The trade lasted one day.

[2020-03-17 02:06] luisantoniocrag commented on #184
fifth trade: 582780-20a0ddbb-3df8-4e3f-88a8-1d8207c16ac0-129
Started: Mar 16.
The trade lasted 4 hours.

objective accomplished, but this does not end here. we go for more trades and orders!

[2020-03-18 02:34] luisantoniocrag commented on #184
sixth trade: MUXMCKCG-7fa0b012-2ac8-4504-94c0-6faa37b39eb2-127
Started: Mar 17.
The trade lasted 12 hours.

[2020-03-18 02:48] luisantoniocrag commented on #184
seventh: WJWIF-630da6fc-23ea-483e-8979-6744818f84bb-127
Started: Mar 17.
The trade lasted 12 hours.

[2020-03-18 03:00] luisantoniocrag commented on #184
![2020-03-17_2049](https://user-images.githubusercontent.com/42625753/76920475-32337080-6891-11ea-9d7a-6a2fc5408cee.png)
I'm keeping 4 operations and I am waiting for an eighth trade.

[2020-03-18 21:21] luisantoniocrag commented on #184
Eighth trade: iql3swmb-92e86726-ffac-4943-8538-2b4db12af0ed-129
Started: Mar 17.
The trade lasted 19 hours.

[2020-03-19 08:34] bounhun commented on #177
#### Review

Orders have been available almost 24/7. This period had 0.725 BTC for 9 trades, in line with earlier period. Some trades have been performed between other users.
Still very little offers under 2% range, which are the ones that are taken often. Mining fees are high lately, and small offers like 0.01 BTC suppose a high trade % in fees, specially for takers.
There were no trouble perform

[2020-03-19 08:50] bounhun commented on #178
#### Review

Offers have been available 24/7. There's been 4 trades for 2.076 BTC. As Flix noticed, there was a trade for 2.0 BTC that someone took from me while I was hesitant to take. It was a fixed price offer with something like 0.5% premium. I wish there were more like that and I'm glad someone took it, it means market is being watched and attractive offers don't stay for long.

It's going to

[2020-03-20 10:31] wiz commented on #159
@aubits can you please review this https://github.com/bisq-network/bisq/pull/4078

[2020-03-31 15:23] m52go opened #189 "March 2020 - Recap"
## Call Details

- **Date:** Thursday April 02 2020
- **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm - 9:15pm Central European (CET)
- **Place:** NOT Zoom (details tbd)

## Topic

Review March 2020, and go over upcoming growth initiatives.
- discuss trading activity in march
  - most active month on the network, ever
  - got help from btc volatility
- discuss outcome of initiatives: all videos,

[2020-04-02 14:58] bounhun commented on #177
#### Review

Only 4 trades for 0.179 BTC. It's strange, even with this crisis, volume wasn't bad at other exchanges. I hope it gets better.

#### Offer structure

This is the last month for the bounty, I'm already making orders very close to spot or at spot. Total volume in orders should be lower.

[2020-04-02 15:03] bounhun commented on #178
#### Review

Only one offer, but a big one. 0.25 BTC

#### Order structure

This is the last month for the bounty, I'm already making orders very close to spot or at spot. Total volume in orders should be lower.

[2020-04-09 01:22] luisantoniocrag commented on #184
![2020-04-08_2019](https://user-images.githubusercontent.com/42625753/78848086-54269b80-79d6-11ea-81cd-7ef6b9a09fbd.png)
I still hold a minimum of 4 orders

### Tomorrow is a month since I started with the claim of the bounty.

I have a question. When and how can the call be scheduled?

[2020-04-09 01:23] luisantoniocrag commented on #184
I want to report that there was another exchange on the  March 26th there was another exchange. But it wasn't mine.

![2020-04-08_2022](https://user-images.githubusercontent.com/42625753/78848257-d57e2e00-79d6-11ea-9c76-a41c1cd62af0.png)

[2020-04-09 07:42] MwithM commented on #184
These are the best, it's not like you have to fulfill the whole MXN market!

[2020-04-11 07:32] bounhun commented on #177
#### Review

Orders were posted almost 24/7, hack didn't affect me except for trading halt. 17 trades were made and 1.463 BTC were traded in this period, biggest and pretty acceptable overall. Most, but not all, has been conducted by me and most of them were traders selling ETH.
I wonder how much impact does have the mining fees to trading, specially for amounts under 0.02 BTC. Although very nice

[2020-04-11 07:52] bounhun commented on #178
#### Review

Orders were there 24/7, except trading halt. There's been 12 trades for 0.509 BTC, best ever.
A considerable amount of trading has been performed between other traders.
I did not have any issues settling the trades.

#### Order structure

Keeping all orders under 1% spot.

[2020-04-11 16:30] RadishXN commented on #187
I claim this bounty.

After communication with m52go.So I only need to keep 2 BUY and 2 SELL alive.I have keep 2 BUY and 2 SELL.And so far I still keep 2 BUY and 2 SELL alive.

1.I have communication with the AD telegram channel onwer. And so far there have a lot of people go to bisq to sell their bitcoin.
2.I have go to different channel to talk with different users and they would like to try bis

[2020-04-13 04:14] luisantoniocrag commented on #184
![2020-04-12_2311](https://user-images.githubusercontent.com/42625753/79091528-42653100-7d13-11ea-9063-1b3814b43fd9.png)
Today another trade was made and it was not mine.

Yeahhh! this is excellent.

[2020-04-17 21:25] m52go commented on #189
Recording uploaded here:
https://www.youtube.com/watch?v=MZUbY9hhgF4

[2020-04-17 21:25] #189 closed

[2020-04-20 06:35] luisantoniocrag opened #190 "Start and growth LATAM market"
## Summary

The core idea is to make support, content and relationship efforts focused to grow the Bisq markets on LATAM.

## What?

This idea is a continental effort in Latin America to grow Bisq brand awareness, presence, and adoption in the region.
I will seek to create content and support for the community in Spanish.

This will be by stages and the countries with a central focus are Mexico, A

[2020-04-20 06:37] luisantoniocrag commented on #190
Brazil is not contemplated since the Spanish language is not the main language in that region.

Any questions, suggestions or feedback is welcome.

[2020-04-21 09:02] bounhun commented on #178
#### Review

Even with the lower prices ever, there have been just two trades for 0.12 BTC. There are other traders making orders but too expensive (+3%).

#### Order structure

Keeping all orders under 1% spot.

[2020-04-21 09:08] bounhun commented on #177
#### Review

This is the last period, for the bounty, but I'll try to keep orders just like now until the end of DAO cycle.
It's been another nice period, 1.51BTC traded in 15 trades. Most but not all trades have been performed by me.

#### Order structure

I'm keeping all my orders under 1% spot.

[2020-04-21 14:54] m52go commented on #190
@luisantoniocrag thanks for writing this up. I think it would be great to see this market gain traction. ARS has already been mentioned by others as a [particularly attractive market](https://github.com/bisq-network/growth/issues/172#issuecomment-583787705).

Some questions:

1. it's a lot of work—will you be collaborating with others?
3. do you think there's any interest in altcoin trading in the

[2020-04-22 18:29] luisantoniocrag commented on #190
1.  In fact, the idea is to start alone and find more collaborators along the way.

2. Yes, in LATAM the interest in altcoin trading is increasing due to its good returns. They use Bitcoin as a medium of exchange and altcoins as trading.

3. I want to focus on the markets so the goal is to get users. In Mexico, it would be having a volume of at least 0.1 BTC per week.
In Argentina, we need to be t

[2020-04-22 18:39] luisantoniocrag commented on #190
Something like this ([Bisq September Market Kick-Start Day](#67) ) clearly works.

I will also propose, I just have to finish some tutorials in Spanish in the first month because they have to know how to use the platform.

[2020-04-23 03:11] m52go commented on #190
@luisantoniocrag most of this sounds good to me. I just noticed your budget is in BSQ...could you specify it in USD? BSQ price fluctuates a lot, and the Bisq budget is denominated in USD anyway. I think 1000 USD is the maximum we could do right now, which is about the 1700 BSQ you have right now at last cycle's rate of 0.56 BSQ/USD.

One other question—do you think it would be necessary to have a

[2020-04-23 03:17] m52go commented on #185
March trading activity was incredible...see details [here](https://github.com/bisq-network/roles/issues/100#issuecomment-615497559).

Materials mentioned here are being assembled into a new getting-started page [as detailed here](https://github.com/bisq-network/bisq-website/issues/356).

[2020-04-23 03:17] #185 closed

[2020-04-23 03:29] m52go opened #191 "[Call] Latin America & China Efforts, New Tutorials, Reporting - Bisq PULSE for April 30"
## Call Details

- **Date:** Thursday April 30 2020
- **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm - 9:15pm Central European (CET)
- **Place:** NOT Zoom (details tbd)

## Planned Topics

- [growth efforts in latin america](https://github.com/bisq-network/growth/issues/190)
- growth efforts in china (recap of last cycle's bounty, learnings, future efforts? @radishxn)
- copenhagen meetup (@FKrau

[2020-04-23 12:52] FKrauss commented on #190
Cool idea! For BR the pyramids and scams created a lot of interest in bisq. The telegram group really helps in onboarding and educating ppl. Have you created the group yet?

[2020-04-23 12:56] FKrauss commented on #190
Do you know if the rest of latam(excl. Br) has the same problem of lack of fast payments?

I. E. In Brazil bank transfer is the only method.

Some folks actually found ways to go around that, which is by signing up for transferwise and using it as SEPA and Faster payments (but then tapping into GBP and EUR, not local currency). I wonder if that's also applicable to the rest of latam

[2020-04-23 16:27] luisantoniocrag commented on #190
ok, a maximum of 1000 USD.

I think that a mediator who can provide support in English-Spanish will be necessary.
@m52go

[2020-04-23 16:39] luisantoniocrag commented on #190
@FKrauss Yes, I have created the telegram group.
https://t.me/bisqenespanol

Yes, I think it is the same story.

For example, in Mexico there are multiple forms of payment, more private than others, but in the end as bank transfers.

We also have the option of https://transferwise.com/ with which we can send to multiple countries.

[2020-04-24 15:43] m52go commented on #190
Looks like we'll have a mediator who speaks Spanish! He's not registered yet but should be within the next couple of weeks.

Wondering if @flix1 @mpolavieja @MwithM have any thoughts here before we begin?

Timing is good since we're right at the beginning of a new cycle.

[2020-04-24 17:14] clearwater-trust commented on #190
Of course, mediators are some kind of paid bureaucrat in the 2 of 2 system. They have no authority/power to do anything constructive. Nevertheless, the show must go on. Bisq is still my favorite. :heart:

[2020-04-24 17:14] MwithM commented on #190
I proposed @luisantoniocrag  to open a facebook account specialized in LATAM after seeing the MXN bounty, his will to take on ARS bounty and the videos he created. The reason why I thought  Facebook was a good idea for LATAM market was that @mpolavieja saw that there were a lot of argentinians trying to perform some trades without guarantees.

The proposed it's a nice plan, but I wonder if it woul

[2020-04-25 13:19] flix1 commented on #178
Very nice progress!

![image](https://user-images.githubusercontent.com/4233784/80280883-7115db00-8707-11ea-90f0-c02f56cb142d.png)

October 0.50
November 0
December 0.30
January 2.10
---
February 0.30
March   2.48
April (so far) 0.64

bounhun is well on his way to winning this bounty and achieving that 50% increase in volume.

[2020-04-25 13:26] flix1 commented on #177
Looking amazing!

![image](https://user-images.githubusercontent.com/4233784/80281041-b71f6e80-8708-11ea-9f89-19758fbf83af.png)

There's a clear uptrend in daily volume here. I don't know what the strategy was, but feedback and final report should be very interesting.

[2020-04-30 05:18] m52go commented on #190
I think @MwithM makes some good points. Makes sense for strategy to shift as audience changes.

@luisantoniocrag, looks like we should be ready to go. Would you mind posting updates here like you did for the market making bounties? Once a month, although a little more often might be helpful (up to you).

We're having [a call tomorrow](https://github.com/bisq-network/growth/issues/191) to discuss o

[2020-05-04 05:21] doitsu232 commented on #180
after all the obvious reasons to have a break for a while i'd like to get back to this activity soon.
some of the members of our bitcoin meetup group will attend an online meetup organized by @fabiok https://www.meetup.com/Bitcoin-Copenhagen/events/270277632
after that we will test Bisq in a trading workshop, i expect about 3 to 4 traders to join us.
more updates will follow soon.

[2020-05-04 14:31] m52go commented on #180
I can allot budget for this bounty in Cycle 14 or 15, which I assume shouldn't be a problem since it would be too late to claim this county for Cycle 13 anyway.

One thing I get the impression was missing in recent efforts like this was a stronger marketing/outreach effort to complement market making, so I'd like to see more details on such things going forward (not singling out you/VND—just a gen

[2020-05-04 15:21] bounhun commented on #177
38 orders in the last period, for more than 4 BTC. Last week had 21 trades for 2.44 BTC, different traders are buying ETH and I think if it wasn't for me they would not find a seller. As most of the trades have been performed by me as maker, I would say that the market making is taking effect. All orders are over 0.7 % spot, so this activity is profitable on its own.
Although volume still needs to

[2020-05-04 15:33] bounhun commented on #178
Just 0.04 BTC have been traded in this period, in 4 orders and most of them not mine. Very annoying considering I'm offering spreads near 0 just to remove some liquidity stuck with LTC.

About 3.4 BTC have been traded in the last 3 months. If we remove the 2BTC trade on 10th March, it's 1.4 BTC. An increase considering earlier periods, not a big one, but the proportion with ETH makes sense (last 2

[2020-05-04 16:50] m52go commented on #191
Recording:
https://youtu.be/AxyByjMnphU

[2020-05-04 16:50] #191 closed

[2020-05-04 16:51] m52go commented on #187
@RadishXN shared some good feedback during this call:
https://youtu.be/AxyByjMnphU

We're discussing how a future effort could look.

[2020-05-04 16:51] #187 closed

[2020-05-06 22:32] luisantoniocrag commented on #190
new video:
https://www.youtube.com/watch?v=GPnxbJGa608
Some users asked me how to configure the MXN Nacional bank account in Bisq.

[2020-05-12 04:44] luisantoniocrag commented on #190
I did an [article](https://medium.com/bisq-es/comprar-o-vender-bitcoin-de-forma-segura-en-m%C3%A9xico-a-trav%C3%A9s-de-transferencias-bancarias-dc6644795466?source=friends_link&sk=1bda0357b3bad663772ef4f0fa2ae90a
) about how to buy and sell BTC / MXN through bank transfers on Bisq.
For this article, I also did the translation of [Trading Rules](https://medium.com/bisq-es/reglas-del-comercio-y-disp

[2020-05-17 05:45] luisantoniocrag commented on #190
Hi, I publish a summary of the efforts.

any feed or comment is welcome.

https://github.com/bisq-network/compensation/issues/567

[2020-05-23 21:29] luisantoniocrag commented on #190
Webinar (Bisq Introduction | Q&A  (Spanish) on May 29

https://www.facebook.com/events/2595813257329925/

[2020-05-27 22:13] ricardosaurio commented on #190
Im from Colombia and the single reason there is no COP movement is that there is NO payment method to buy from the regions with better volume.  All the offers I have posted, even with uphold, had spent weeks sitting there even at +5%. I have ideas to promote volumen through publicity, but they are expensive. Any sugestion to fix this i'm all ears

[2020-05-27 22:18] Conza88 commented on #190
SWIFT?
________________________________
From: ricardosaurio <notifications@github.com>
Sent: Thursday, May 28, 2020 8:14:01 AM
To: bisq-network/growth <growth@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [bisq-network/growth] Start and growth LATAM market (#190)

Im from Colombia and the single reason there is no COP movement is that there is NO payment method to

[2020-05-27 22:21] ricardosaurio commented on #190
extremelly expensive, cumbersome and slow (my banks states that it cant take 15 days), from my country to the exterior. Not so much for receiving.

[2020-05-28 02:05] m52go commented on #190
@ricardosaurio is USD used in Colombia? Is it feasible to send/receive USD through bank accounts or money orders?

[2020-05-28 04:22] m52go commented on #141
Translations are largely in maintenance mode now because of tight budget. New website translations are on hold, and documentation translations will be determined on a case-by-case basis based on market making efforts (further details to be posted [here](https://github.com/bisq-network/wiki/issues/37)).

I'm closing this issue since this discussion isn't relevant right now / being addressed in ways

[2020-05-28 04:22] #141 closed

[2020-05-28 04:25] m52go commented on #168
Looks like the concept of meeting people in real life is all but annihilated for 2020.

Maybe we should consider something similar, but for podcasts.

[2020-05-28 04:25] #168 closed

[2020-05-28 04:30] m52go commented on #1
This is already happening as a part of the [community management role](https://github.com/bisq-network/roles/issues/95) (through Twitter and reddit in particular) and on the #pulse channel on Keybase. Often the community itself will suggest Bisq when someone is frustrated with a competitor :)

[2020-05-28 04:30] #1 closed

[2020-05-28 04:35] m52go commented on #11
I believe this has been in place for a while (Google Form link upon completing a trade).

[2020-05-28 04:35] #11 closed

[2020-05-28 04:46] m52go commented on #32
Generally speaking hashtags have become the domain of the #DeFi crowd. Every now and then it makes sense to use hashtags, but I'm going to close this issue as it's more of an ongoing/opportunistic thing that doesn't really need an issue.

[2020-05-28 04:46] #32 closed

[2020-05-28 04:55] m52go commented on #159
Closing as stalled.

[2020-05-28 04:55] #159 closed

[2020-05-28 05:05] m52go commented on #184
This county was claimed successfully in https://github.com/bisq-network/compensation/issues/530, and bounty claimer @luisantoniocrag has moved on to a bigger growth effort in the Latin America region detailed in https://github.com/bisq-network/growth/issues/190.

[2020-05-28 05:05] #184 closed

[2020-05-29 14:12] ricardosaurio opened #192 "Add efecty as a payment method (Colombia users)"
Name: Efecty https://www.efecty.com.co/

Description: Efecty is the main money transmitter here in Colombia, its widely used.

Type: Cash remittance.

Chargeback risk: Moderate. If the person reciving the Cash remittance doesnt cash it out quickly, the remitter could either ask for his money back or change the person receiving the remittance. After cashing out the money, its gone for good and no c

[2020-05-29 14:13] ricardosaurio opened #193 "Add Nequi as a payment method (Colombia users)"
Name: Nequi. https://www.nequi.com.co/

Description: Nequi is a fintech neobank that allows people to send money to anyone in any part of Colombia, and its very popular in here.

Type: Mobile.

Chargeback risk: None, once the money is send, its gone. Their support even states that if you have been scamed using Nequi, your only option is to inform the local authorities. https://comunidad.nequi.co/d

[2020-05-29 14:45] ricardosaurio opened #194 "Add Daviplata as a payment method (Colombia users)"
Payment method: Daviplata https://daviplata.com

### Why

Daviplata is a neobank derived from banco davivienda, the transactions are instant and without chargebacks. Its widely used here in Colombia in e-commerces.

### Region

Only Colombian users, it only handles the colombian peso COP.

### Chargeback risk

No chargebacks are allowed. If you get scammed, their page states that all you can do it

[2020-05-29 15:24] ricardosaurio commented on #190
Not used at all, there are some banks that buy/sell USD but you cannot have an account in USD. What i have found is that its relatively easy to send money to an USD bank account through MoneyGram, but its extremely slow and expensive.

[2020-06-03 22:25] luisantoniocrag commented on #190
The last Broadcast
https://www.facebook.com/bisqES/videos/756028285138369/?eid=ARBDrduL3A68hPh2lgHsH6uIIV74qimqFtm2pUNjTIiKGQctDXJfFa_SfCcR5xxSFwG5eJcz-4RGP6Xe

And the last video on bisq en español channel
¿Qué son los BSQ? y ¿Cómo conseguirlos? - BISQ

[2020-06-03 22:26] luisantoniocrag commented on #190
hey @ricardosaurio  join with us on Telegram
https://t.me/BisqEs

let's talk about payments options in Colombia.

[2020-06-08 20:38] luisantoniocrag commented on #190
**MXN volume increase initiative.**

Idea: On July 23, users will be able to place an order for one day and receive 10 BSQ as a reward.
Therefore, many users will place orders to grow orders in the MXN market.
It is expected to obtain at least 30 orders.

Upon completion of orders, the average number of orders and merchants is expected to grow.

Current MXN market:
- Total exchanges: 41
- 2020 Vol

[2020-06-08 21:57] ricardosaurio commented on #190
how would they claim the reward?

[2020-06-09 02:00] luisantoniocrag commented on #190
@ricardosaurio  it will be something like this: [Market Kick-start](https://github.com/bisq-network/growth/issues/67)

User will claim reward in a compensation request.

[2020-06-09 10:02] MwithM commented on #190
The way I see it, this kind of initiatives are risky for a privacy oriented platform, because sockpuppets could perform self trading just to claim their reward.
I see difficulties on having too many small compensation requests, on the side of voting them and also that mining fees could be more expensive than the reward.

Let's see what @flix1 thinks about it, as he did the market kick-start in the

[2020-06-09 14:59] flix1 commented on #190
Previous experiments with small rewards were not very successful. Even for **liquidity days**, some of which worked well, almost nobody made compensation requests afterwards.

That being said, I'm happy to see anything new tried once. If it works we can replicate, if not we learn and try something else.

[2020-06-10 02:51] sundaywar commented on #190
Any update on this? I was the buyer if the 0.3 BTC, do I don’t think the Mexico market is active by any means. 1 buyer does not a market make.

[2020-06-19 21:17] bounhun commented on #177
May had 23 trades for 2.808 BTC, and June 14 trades for 1.03 BTC so far.
As previous months, volume is not very high, but number of trades is good.

[2020-06-19 21:18] bounhun commented on #178
May was a good month, with 13 trades for 0.951 BTC. June has 2 trades for 0.07 BTC only.
Most of them performed by me.

[2020-06-30 00:07] ricardosaurio commented on #193
Dear Bisq devs, I just realized that neither Uphold, Revolut and AdvCash support funding from Colombian credit/debit cards. And binance and buda do support such cards. I belive that to attract LATAM users, we need payment methods accepted in these LATAM area. My 3 propossals only work in Colombia, but I can promise that these propossal are so widespread used, that I can raise awareness to kickstar

[2020-07-02 21:13] ricardosaurio commented on #14
Add nequi experiment from Colombia.

[2020-07-17 18:57] m52go opened #195 "Experience the DAO: Hat-Tip Compensation"
## Background

The Bisq DAO is not easy to understand, particularly as it relates to compensation.

Every so often, a particularly enthused individual will make a contribution outside explicit budget and priorities. It could be altruistic, or it could be funded/motivated by another entity.

Regardless, this contribution is notable in some way:
- maybe it was a [fantastically thorough post on a cor

[2020-07-17 20:22] MwithM commented on #195
I like the initiative.
I prefer the amount to be offered in USD and then converted to BSQ as the process for compensation requests. 50 USD would be fine, to use round numbers.

[2020-07-17 23:09] m52go commented on #195
Good point, changed.

I also added a stipulation: an individual can only claim the bounty once (no repeats).

[2020-07-20 13:03] bounhun commented on #178
June had four trades, for 0.18 BTC. I'm glad July ishaving good numbers (7 trades for 0.78BC) even when I stopped trading from 2nd July to 17th.

I expose on the ETH thread the reasons why I want to make the bounty request again.

[2020-07-23 12:43] m52go opened #196 "Proactively publish"
We should make a bigger deal out of all the new software features, advancements, and insights about BIsq in general. We already do this (to an extent) with the cycle reports published monthly, as well as tweets (and lately with the wiki), but there is more we can do.

Such updates used to be done on growth calls, but views on those videos never really increased to a point that they felt worthwhile

[2020-08-05 03:25] luisantoniocrag commented on #190
# Summary | Latam efforts

Hello everyone, first of all I want to apologize, I was in very bad health and I interrupted my work status (not only in Bisq).

I want share to you a summary of the effort given and the cost it had for the DAO. I will also leave my plan to follow since I really want to continue participating until Mexico and LATAM use Bisq for the bitcoin exchange.

- Created a Facebook

[2020-08-05 07:21] MwithM commented on #190
I'm happy you're back.
These three countries (Ven, Arg, Col) are ones where you already know people to work with? We're forgetting about Chile, which is a big and one of the most stable and rich countries in Latam. Maybe there's much potential for Chile, even if it's not as in trouble as Venezuela or Argentina.
I have doubts about the potential of Bisq to trade with hyperinflated currencies, as se

[2020-08-05 19:53] m52go commented on #190
@luisantoniocrag glad you're back! You may want to consider hosting a call to see if any others would be interested in helping...it seems like there are a few people over the past few months who have expressed interested in helping with these markets.

Costs sound okay to me, as long as they're based on actual contributions (as usual).

[2020-08-05 22:26] ricardosaurio commented on #190
Im more than interested in helping out the Colombian market, but everyone in here uses Nequi and Daviplata as payment methods with COP. I do need those payment methods in Bisq to do some market making in COP or else my possible audience will just keep using localbitcoins.

[2020-08-07 05:01] luisantoniocrag commented on #190
Hi @MwithM , sincerely I mentioned those three countries because where I did meetups in the past and met some crypto communities. But of course looking for someone to help in Chile is a great idea, it will be another priority market.

[2020-08-07 05:01] luisantoniocrag commented on #190
@m52go, thanks!
Yeah, I'm available for this.

[2020-08-09 17:20] pedromvpg commented on #31
We need more upvotes!

https://www.producthunt.com/posts/bisq

[2020-09-02 21:33] Bayernatoor commented on #195
I really like this idea. Helps encourage people to contribute without necessarily expecting  compensation and it seems like someone's already made use of it!

Awesome!

[2020-09-06 19:30] ricardosaurio commented on #193
Hey Bisq devs,just so you know, Binance now added Daviplata, efecty and nequi to their P2P platform. This is outrageous, if there is something that Bisq should dominate the market is in the P2P options but binance has beaten us. I even have people willing to try out Bisq but they cant because lack of payment options for Colombian users.

[2020-10-03 03:09] smcama opened #199 "BOLETO as payment method for brazilian currency real (BRL) transactions"
### Why

Boleto bancário (or simply "Boleto") is the most popular payment method in Brazil. Bills in Brazil usually are payed using this method (more than bank deposits or wires). It is a barcode that you can pay with cash at banks, supermarkets, lottery agents and even some retail stores. You can also pay with your brazilian internet banking. It preserves the buyer privacy if he wants it. He just

[2020-10-06 04:28] m52go commented on #199
This sounds quite good...I wonder why it wasn't suggested before. So with just a barcode, a buyer can get the seller's bank name, full name, and enough account information that they can cross-reference with the Bisq payment account to make a payment?

Do you know if people might already be using this method to settle national bank transfers at the moment?

@bisq-knight are you aware of this?

[2020-10-06 12:54] smcama commented on #199
I search for it not once, but twice, before posting. Lol. It is like zelle
was not an option because nobody suggested it.

Exactly... and with a little coding Bisq could possible create it is own
boletos with the tradeid, but I think we should start the simple way: a
field where the buyer copy and paste the barcode (numbers only, don't allow
links or words) and the few information I told you need

[2020-10-23 18:49] m52go commented on #196
Original publishing since last post:

- Blog: [Trends in Trading Activity, August 2020](https://bisq.network/blog/trading-trends-august-2020/)
- Video: [suggested deposits](https://twitter.com/bisq_network/status/1288512184952053760)
- Video: [Monero auto-confirm](https://t.me/monero/455267)
- Wiki: [Connecting to your own Bitcoin node](https://bisq.wiki/Connecting_to_your_own_Bitcoin_node)
- Wiki

[2020-10-28 04:38] m52go commented on #195
For the record, this reward has been rewarded twice so far:

1. [Cycle 15](https://github.com/bisq-network/compensation/issues/627) - elkimek's post on the Alza blog
2. [Cycle 17](https://github.com/bisq-network/compensation/issues/660) - acrual's post on Rankia

[2020-10-28 05:41] m52go commented on #199
I was really hoping for more feedback from someone more familiar with the market (@bisq-knight) but...I guess that's not happening.

Let's proceed and try to get Boleto into the next Bisq release.

Hopefully not too many questions...just need to know details to implement in code and inform mediators for handling disputes.

#### Payment account fields

Exactly what fields would be required for a us

[2020-10-28 20:20] m52go opened #200 "Analyze SEO to publish smarter and increase website traffic"
[Publishing new articles and videos](https://github.com/bisq-network/growth/issues/196) is only worthwhile if they're discovered. We can hope posts are shared out of their sheer goodness via social channels and word-of-mouth, but the elephant in the room for reliable, recurring traffic over time is search engines.

We should analyze keywords most common and most likely to lead people to Bisq and t

[2020-10-28 20:23] m52go opened #201 "Create a competitive analysis page on the website"
Many sites have a page (usually prominent and easy to find) featuring a comparison table between their product and a that of a competitor, making the differences clear and encouraging a call-to-action.

The Bisq website could probably use something like this too, given how different Bisq is from other options, and how unclear those differences may be to a first-time visitor. It's a shame because t

[2020-10-28 20:31] m52go opened #202 "Create personas for users across markets"
In order to properly carry out any kind of campaign, we need to know who we want to reach.

So far we've been focusing on the typical bitcoin HODLer looking to stack sats and/or sell some bitcoin as needed to pay expenses. This type of persona is listed in the current [Growth Handbook](https://cryptpad.fr/pad/#/2/pad/view/3Zp0c6z0P4gCUw3n0IzNYjXJT3C+Egbajtz2U7rGzC0/).

But there are likely a numbe

[2020-10-28 20:34] m52go opened #203 "Create press kit"
Often, journalists and other people will cover Bisq and get something wrong: some element of its history, something about the DAO, etc.

Rarely someone will cover Bisq and get everything right—either because they took the time to talk to a contributor directly, or because they took the time to look through and read Bisq documentation.

It's not fair to expect a journalist trying to be first to bre

[2020-10-28 20:39] m52go opened #204 "Create growth kit"
We need to make it as easy as possible for people to evangelize Bisq without needing hand-holding.

For example: every so often, someone wants to help start a new market or push along an existing one, and they want to make a talk or webinar, so they ask for an example deck they can use as a starting point. This is something not hard to create that should be easily available.

Perhaps market-specif

[2020-10-28 23:17] pazza83 commented on #202
Hi I would be up for these. Some of my ideas for personas:

- Jacqueline from Sao Paulo who has concerns about BRL inflation
- Daniel a teenager from the US that wants to get some BTC but has no ID
- Juan a local money exchanger living in Buenos Aires
- Sarah in New Zealand that was stacking sats using Vimba as her go-to-exchange but it has now been shut down
- Adebiyi a Bitcoin trader living in N

[2020-10-28 23:27] Conza88 commented on #202
Everyone everywhere switched on—avoiding the state knowing about their assets to reduce the risk of theft.
________________________________
From: pazza <notifications@github.com>
Sent: Thursday, October 29, 2020 9:17:39 AM
To: bisq-network/growth <growth@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [bisq-network/growth] Create personas for users across markets (#

[2020-10-29 20:24] m52go commented on #199
@smcama I got feedback elsewhere that people might be hesitant to use Boleto as it tends to be seen as some kind of an invoice for a product/service, so sellers are likely to get a lot of scrutiny when using it.

Have you encountered this?

[2020-10-30 05:34] pazza83 commented on #203
I really like idea.

I would be happy to get involved in this.

I would be happy to deliver this as a completed downloadable PDF with some nice graphics that could be added as to a press page on the website.

Also happy to complete complete as a website XD prototype that can then be added to the website.

[2020-10-30 05:40] pazza83 commented on #204
I would be happy to help.

My idea would be to produce an editable slide deck that could be utilized by anyone that wanted to give a presentation about Bisq. This seems to fit in nicely with #203

In the growth call you mentioned the AUD market as being as identified for growth.

I would be happy to use this an an example.

[2020-10-30 09:17] lavinger opened #205 "Review GRIN listing on Bisq"
Grin is a relatively new cryptocurrency taking advantage of mimblewimble, which is a protocol focused on privacy.

As I understand it, trading Grin is haulted at the moment because sending/receiving caused confusion among some users. However, Grin already uses a new standard way of sending coins: slatepack addresses. This eases the process and also unifies it.

I suggest that Grin is allowed to be

[2020-10-30 10:24] ulisses1979 commented on #199
There is a 10000 BRL limit for boleto payment in Cash

[2020-10-31 04:07] m52go commented on #205
@chimp1984 any thoughts here? I don't follow Grin very much.

This was the biggest discussion thread on it from what I remember:
https://bisq.community/t/we-need-to-remove-grin/7013/20

[2020-10-31 04:51] m52go commented on #202
@pazza83 wow! Quite a nice and wide-ranging collection. Some interesting ones too, ha.

Shall we pick the 1-3 most important ones, according to market potential and revenue importance, and flesh them out? I would say that would involve XMR for sure; others up for debate.

[2020-10-31 04:53] chimp1984 commented on #205
Is there a way to verify the Grin transfer, so that the sender of Grin can proof to the mediator or arbitrator that he sent it? Somthing like the private tx key on Monero?
Basically I am in favor to add it again if the earlier problems are solved.

[2020-10-31 04:58] m52go commented on #203
Cool! I've seen some press pages delivered as a PDF for certain information. My opinion is that any kind of downloadable file is on the inconvenient side nowadays and it might be better to just put everything in a web page (might be better for SEO too? not sure).

Anyway would you like to get started with a rough outline for content and/or design?

[2020-10-31 05:01] m52go commented on #204
Yes it might even make sense to put press kit and growth kit together to start, since neither will probably be very extensive.

I think that's the perfect place to start. We can build it out over time. There's the recent workshop done at HCPP ([deck](https://www.youtube.com/redirect?v=ssFeWRs1gDs&redir_token=QUFFLUhqbEFIbjZLTW1MMVhfazRQWGk2YmEyVXFjdXd5UXxBQ3Jtc0ttX3NFVmhFel9JQU5uMng4WUM5bXZ4TjZ4LX

[2020-10-31 07:36] klavinger commented on #205
Yes, there is. Anyone with synced blockchain can verify that a transaction took place.
[Grin Documentation - Proof of Payment](https://docs.grin.mw/getting-started/wallet-handbook/#proof)

[2020-10-31 15:28] chimp1984 commented on #205
Thanks. Would be great if there is a web page to do the verification so the mediators do not need to install it themselfes.

[2020-11-01 17:42] pazza83 commented on #204
Thanks that is great.

I will get started on both of them 👍

[2020-11-01 17:45] pazza83 commented on #203
Yes that is great. Happy to both PDF and website page. I will put the content together before the design and send it you for review before moving onto design.

[2020-11-01 18:18] pazza83 commented on #203
Do you have a brand pack / guidelines outlining:

- Fonts
- Typography style / hierarchy
- Color palettes / themes
- Logos
- Brand elements
- Graphic elements
- Illustrations
- Iconography / symbols
- Web assets
- Print assets
- Event assets

Is there a repository for design files? For example previous designs for live events, GUI, website etc. Or files such as: PSD, AI, XD, IND, TTF.

Happy to fr

[2020-11-03 14:30] m52go commented on #203
There is!

https://github.com/bisq-network/bisq-design

See:
- `bisq-refresh.pdf` for colors
- `IBM-plex (bisq's official typeface).zip` file for fonts
- `bisq-logo+mark-0.9.0` folder for logos
- `bisq-campaings/2020.05` for some recent branding assets

[2020-11-04 20:04] pazza83 commented on #203
Thanks that is great 👍

[2020-11-12 20:50] pazza83 commented on #193
Hi @ricardosaurio thanks for all the information that is really useful.

Nequi sounds like a great payment option to be added to Bisq. It would be great if we could get it added to Bisq and you could start adding liquidity to the Columbian market 👍

Please can you let me know the following:

1. Can the payment be made with description or reference information when the Bisq Trade ID can be added?
2

[2020-11-12 23:10] ricardosaurio commented on #193
Hi @pazza83 ,  to answer your questions:
1- Yes, when you are sending money, you can add a text memo, i've tried counting and got tired at 200 characters, but thats enough for a bisq trade id. Unfortunately as far as I know, it cannot be notarized - I can show an arbitrator a screenshot that i send/recived the money with the tx-id, but there is no way for a third party to verify that.
2- Yes, Nequ

[2020-11-12 23:47] pazza83 commented on #193
Hi @ricardosaurio thanks for your speedy response

That is great

Is a mobile the only way you can access you Nequi account. No web version?

Great I think Nequi to Nequi is the way to go. Would Nequi to Nequi be the most popular option for Nequi users?

Great even with my limited Spanish I can understand them 👍

Thanks what trading period would you suggest. For other instant payments it is 24 hou

[2020-11-12 23:51] chimp1984 commented on #193
Do you have a https webpage access? If so PageSigner should work. Depends on the TLS version they use.

[2020-11-13 14:26] ricardosaurio commented on #193
@pazza83  and @chimp1984  unfortunately is an APP only, and i have toutgh about accessing at least the transaction history to be notarized, but their own webpage redirects me to instructions on how to access the tx history through the APP.

@pazza83 yes, Nequi to Nequi would be the most popular option... and yes, 24h should be more than enough... If anything, as I said, since I cant find a way to

[2020-11-13 14:43] ricardosaurio commented on #194
An aditional note with this method, it doesnt have any kind of text or memo note during daviplata to daviplata transactions, it cannot store a transaction ID.

I dont know if this would rule out this method efectively, but its a shame if it would. Daviplata is not the most popular method in Colombia, but its by far the most realiable, fast and accesible for the average joe.

[2020-11-13 22:58] chimp1984 commented on #193
If its only a phone app it has also the benefit to make it much harder to fake the app (a webpage could be easier faked with some proxy). so to make a video chat to the mediator and show the app screens should also be sufficient as i doubt that can be faked.
Sec. deposit can be set by maker, min is 15%, we do not code supporting diff. min. deposits per method, but i guess makers should know the ri

[2020-11-18 01:19] pazza83 opened #206 "Proposed payment method addition process and estimated timelines"
### Proposed payment method addition process and estimated timelines

Part of the [Payment Method Maintainer](https://github.com/bisq-network/roles/issues/38) role is to develop a process for payment methods to be added.

I have documented my proposal below for discussion / comments.

As the role requires input from a numerous Bisq Teams I keen to ensure quick progress though all stages, therefore

[2020-11-18 02:15] pazza83 opened #207 "Proposed existing payment method editing process and estimated timelines"
### Proposed existing payment method editing process and estimated timelines

Part of the [Payment Method Maintainer](https://github.com/bisq-network/roles/issues/38) role is to oversee changes to existing payment methods.

The proposal is closely linked with the #206

I have documented my proposal below for discussion / comments.

The below proposal has just been created from my current understan

[2020-11-18 03:48] chimp1984 commented on #206
The point with promoting a method and to verify afterwards its success are very important points and I think lack of promotion was one of the reasons some did not get more traction.
Would be great it we can get this done with the 2 new ones for 1.5.0.

Also I think the experience with CBM was/is a bit an extreme case. I don't remember other payment methods which caused that much of discussions and

[2020-11-18 04:17] pazza83 commented on #206
Hi @chimp1984

Many thanks for your comments.

Yes, I am going to look into getting some graphics made for socials and also adding info about it on the Wiki.

Was musing about the possibility of having 0% maker fees for first 3 months or so with new payment methods. That way it would get offers up for them on the client that traders would see and increase awareness. Plus Bisq would still get the m

[2020-11-18 04:51] chimp1984 commented on #206
I fear that would cause too much extra technical effect as the trade protocol expects a maker fee tx.

Not yet, but that would be less of an effort.

[2020-11-18 05:12] pazza83 commented on #206
Noted, likewise, other platforms are charging 1% maker fees for CBM trades. Could be a way to increase revenue for Bisq for payment methods with more mediation complexities.

[2020-11-18 07:58] felipeucc opened #208 "New payment method from Brazil - PIX"
There is a new method of transferring securities available in Brazil called PIX. The recipient only needs to share a phone number, e-mail or Social Security Number. The advantage over the National Bank Transfer payment method is that the PIX works 24 hours a day, 7 days a week and the transfer takes place in a few minutes. To prevent users from creating orders in different ways with the intention

[2020-11-18 08:55] ripcurlx commented on #206
I think it is good to have a timeline for new payment methods for expectation management. The main point as mentioned above is to have someone that does the bootstrapping for a new payment method putting out offers to be taken. Additionally I think we should advertise (twitter,...) interesting new payment methods already before they get implemented to gain interest in the community. Also to make s

[2020-11-18 12:37] pazza83 commented on #206
Thanks, going to have a think of ways to effectively promote a new payment method when added to allow it to become established.

A dedicated payment method dev would be great.  I could also try and batch up new payment methods to be added to reduce dev time.

[2020-11-18 14:36] m52go commented on #206
This looks good. As for recent promotion efforts, we ran a Twitter campaign on US Postal Money Orders that did fairly well. Volume went up notably afterward and some of the initial spike seemed to stick. We also created [graphics for USD and EUR](https://bisq.wiki/Payment_methods#Payment_method_guides) to advise on pros and cons of the major payment methods. Maybe similar graphics could be created

[2020-11-18 15:49] m52go commented on #207
What kind of edits would this process apply to?

[2020-11-18 20:04] pazza83 commented on #207
Here is an example https://github.com/bisq-network/bisq/issues/4809

[2020-11-18 20:05] pazza83 commented on #207
Also I am yet to propose removing phone number on Revolut now username has been added. The phone number is now redundant.

[2020-11-18 20:07] pazza83 commented on #207
Also Western Union issues that are preventing it being multi-currency https://github.com/bisq-network/bisq/issues/4757#issuecomment-729053024

[2020-11-18 20:08] pazza83 commented on #207
And the proposal to disallow Transferwise SEPA accounts https://github.com/bisq-network/bisq/issues/4698

[2020-11-18 20:10] m52go commented on #207
I think phone numbers for Revolut are only for legacy reasons / backward compatibility.

[2020-11-18 20:12] pazza83 commented on #207
Thanks I had someone sending me a WhatsApp about a trade I completed with them over a month ago on Revolut. If there is a way to remove phone number that would be great. If not no problems.

[2020-11-18 20:35] pazza83 commented on #206
Thanks that is useful I will look to create some graphics for socials for the new payment methods to be added. Would be good if they could also link to a campaign. I agree no point advertising that they can buy in XXX if there are no XXX for them to take.  If there any way to incentivize people to place maker offers with a new payment method?

[2020-11-18 20:45] pazza83 commented on #208
Hi @felipeucc

Thanks for all the info it looks great. Many thanks for taking the time to document the features.

I will take a look at PIX and get back to you.

Is PIX the service from [NuBank](https://nubank.com.br/pix/ )?

[2020-11-18 21:05] m52go commented on #206
Bounties have been tried to bootstrap new markets, but could be tried for new payment methods in less-active markets.

If market is already active, it might be sufficient to just market the new method well and find 1-2 people to create offers.

Would be nice to think of other ways...but privacy limitations make it difficult to reward user activity, so need to be clever. Maybe reaching out to trade

[2020-11-18 21:57] pazza83 commented on #204
Hi @m52go

I have completed a first draft of the template of a Growth Kit / Slide Deck.

Here is a link to the [Bisq - Slide Deck Growth Kit](https://github.com/pazza83/Bisq)
Here is a zip [Slide deck.zip](https://github.com/bisq-network/growth/files/5562968/Slide.deck.zip)

The slide deck includes lots of variations of slide designs to enable users to quickly pull together a presentation for a me

[2020-11-18 23:11] felipeucc commented on #208
No. Pix works in all banks in Brazil.
It was created by the Central Bank of Brazil (same as the FED)
https://www.bcb.gov.br/en/pressdetail/2361/nota

[2020-11-19 00:06] pazza83 commented on #206
That is great, thanks for all the info.

[2020-11-19 01:37] chimp1984 commented on #206
@m52go Have bounties show real sustained success? E.g. did we ever manage to bootstrap a new market mainly based on bounties?
I am asking as I made repeatedly the experience that money is the wrong motivator for Bisq.

[2020-11-19 02:24] m52go commented on #206
I don't personally like bounties. In my limited experience people do what's required of the bounty and then seem to stop working. Could be bad bounty structure but probably more like what you said -- money is wrong motivator.

I just suggested them as something tried before, but would much prefer to find/use other ways.

[2020-11-20 06:43] m52go commented on #204
Nice effort overall. The aesthetics look nice but I probably didn't get the real experience because I couldn't open in PowerPoint (see last paragraph below). To be honest I was thinking this would be a fairly quick task...I wasn't really expecting such nice graphics, etc. To me it was more about content, i.e. creating a suggested sequence of slides covering the most important topics that a non-con

[2020-11-20 08:16] pazza83 commented on #204
Thanks for the feedback.

Here is a copy of the slide deck in an ODP format for Libre Office etc.

[Bisq - Slide Deck - v1.zip](https://github.com/bisq-network/growth/files/5571960/Bisq.-.Slide.Deck.-.v1.zip)

Here is a copy of the fonts which I think also need to be installed to view as intended.
[fonts.zip](https://github.com/bisq-network/growth/files/5571977/fonts.zip)

All the nice graphics wh

[2020-11-20 10:57] dave2014btc commented on #206
https://github.com/bisq-network/bisq/issues/1101#issuecomment-731097699 - my two cents not worth copying as its more for the other convo but has my ideas on it. also 1% fee is fair i dont mind paying that on my other websites.

[2020-11-20 11:01] dave2014btc commented on #206
you will not need to do anything to promote cash in mail, they are enough big trades with lots of customers on other websites which will move over soon as they can, they are my competition and every new site that allows CIM they as on there within a week. chances are they will move customers over as no one likes the idea of centralised escrows.

[2020-11-20 12:40] pazza83 commented on #206
Thanks for the feedback. That is good to know.

[2020-11-20 16:04] m52go commented on #206
@dave2014btc do you know of a good way to reach offer makers on other websites? Are there forums or chat groups where they tend to hang out? I noticed some have direct email addresses listed on their profiles but many don't.

[2020-11-21 04:08] m52go commented on #204
Would you be willing to do an outline of how you would approach making an AUD presentation? Might be better to discuss an approach this time before spending time to put it together.

I'm still seeing crashing text on some slides. I recommend just using something cloud-based so it's guaranteed to appear the same on any machine. Would also avoid the hassle of installing fonts.

Cost should be fine a

[2020-11-21 16:43] pazza83 commented on #204
Thanks again, for an outline of the AUD presentation I would use the following slides:

- Front cover (black)
- Title page (black)
- Speaker page
- Contents
- What is Bisq (Black)
- Exchange Decentralized (Green)
- No Identity Verification
- Decentralized
- Safe
- Private
- Open
- Easy to Use
- Weekly trading volume (all markets)
- Be just a number
- Payment methods Australia
- Video of trade you

[2020-11-21 23:20] pazza83 opened #209 "Add missing 4 countries to the SEPA and SEPA Instant payment accounts in Bisq client"
### Description

When adding a SEPA or SEPA payment account to Bisq there are 4 countries missing.

Bisq should enable users with bank accounts in these countries to access the EUR market place with SEPA / SEPA Instant accounts.

Adding these should be straightforward for @bisq-network/dev assuming being backwards compatible would not be an issue?

Adding these 4 countries would increase liquidity

[2020-11-22 06:35] m52go commented on #204
Looks good. What do you think about including a brief technical overview slide before the video? Cover just the basics like why it's desktop software, Tor, local wallet, why you need bitcoin to make/take offers, etc...so that what happens on the video is more clear (unless you were already planning to cover that in one of the previous slides).

Google would be ideal for functionality. Like you sai

[2020-11-25 16:57] m52go commented on #206
Was just pondering ways to incentivize market makers. Instead of offering bounties for making offers, what if we offered refunds for maker fees as an incentive for special events like liquidity days and new market pushes (and possibly new payment methods)? Not all the time, just occasionally for special events.

I know maker fees on Bisq are relatively low, but LocalMonero and LocalBitcoins are _f

[2020-11-25 17:58] chimp1984 commented on #206
I fear the administrative overhead and miner fees are too high. I also think we should try to focus on other incentives than money as that has never really worked in the past.

[2020-11-26 01:23] crocket commented on #206
I'd also like to pay maker fee after completing a deal..

[2020-11-26 16:57] m52go commented on #206
I agree about money as bad motivator for general contributors. The fees in question are almost negligible and trader would need to spend upfront anyway...there's no profit in it. My intention was more to explore ways to reduce friction that active traders don't get elsewhere as temporary carrots.

[2020-11-26 17:00] m52go commented on #206
That's not possible. Fee needs to be paid when offer is made, per the current trade protocol. I was just exploring the idea of refunding trade fees for new market makers in new markets if they fail to be taken after a certain amount of time as a temporary incentive.

[2020-11-26 17:10] chimp1984 commented on #206
With the new trade protocol idea (1 tx protocol) we are more flexible with changes regarding fees, but now its not easy/possible to remove maker fee.

[2020-11-26 20:42] m52go commented on #190
Closing as stalled. @luisantoniocrag thanks for your efforts while it lasted. If you'd like to help out again, please make a new initiative.

[2020-11-26 20:42] #190 closed

[2020-11-26 20:45] m52go commented on #196
Closing in favor of publishing as part of market-driven initiatives like #211.

I personally don't like the idea of blindly writing posts without an underlying goal, which is probably why I never got much done on this.

Can be reopened at some point if someone has another take on this.

[2020-11-26 20:45] #196 closed

[2020-11-26 21:09] m52go opened #211 "Proof of Keys Liquidity Week: 03-10 January 2021"
## Objective

Achieve 0.5 BTC in BTC/CAD trading volume during 03-10 January 2021 through a week-long combination of market-making coupled with CAD-specific posts, videos, and social/community efforts to draw attention.

**This event is currently proposed as specific to the CAD market, but if you would like to spearhead efforts in another market for this week, please speak up. It would be great to

[2020-11-26 23:34] pazza83 commented on #206
I do not think a refund of maker fees would be much incentive for me personally. They are generally small and it seems like to claim them would be more work than it is worth. Also conscious that someone would have to check and process them.

Not sure what would be a good alternative. Maybe a reduction in maker fees for new payment methods, promotions etc. But this would likely take too much of the

[2020-11-26 23:39] pazza83 commented on #204
Thanks for all the feedback.

I will include your ideas about a technical overview in a new slide.

Yes, I think Google is the way to go for the moment. You are correct about the font it all looks good when imported.

I am looking to get this complete for a review by the end of the week.

[2020-11-26 23:42] chimp1984 commented on #206
The API should be ready soon for production. That will make it much easier to automate trades with scripts.

[2020-11-26 23:50] pazza83 commented on #206
That is great. I want to get them all for low miner fees. It is a bit of a lottery at the moment. Not places a trades since the new release yet so hoping that might might a difference.

Could the API be set up to place X amount of maker trades, on the XXX / BTC market, for X BTC, for X% over market rate, using X payment method, if miner fees are <X?

This would save hours!!

[2020-11-27 00:09] chimp1984 commented on #206
Yes thats will be an interesting use-case. Write a script which waits until miner fee is below a certain amount for placing offers.
@ghubstan is the dev behind the API. Best to tell him what are your requirements so he can tailor the API for real traders needs. But basically the API is only offering the basic functionalities, the logic need to be done in some script which used the API. But would b

[2020-11-27 00:40] viperperidot commented on #211
Great initiative! One thing though, I am not certain that Revolut is available in Canada as of yet.

[2020-11-27 15:53] m52go commented on #211
I only quickly searched 'revolut cad' and it seemed to be offered but I didn't investigate.

[2020-11-27 16:55] pazza83 opened #212 "Fix issue with lack of signed accounts for Moneybeam, Uphold and PopMoney"
## Introduction

All of the below payment methods require signing yet there are no active signed accounts:

- Moneybeam
- Uphold
- PopMoney

All of these payment methods allow chargebacks so signing is required.

This was raised as an issue here: https://github.com/bisq-network/bisq/issues/4809

## Action points

1. In the first stage I will work with @sqrrm to address these issues and propagate s

[2020-11-27 17:19] pazza83 commented on #211
Revolut offers CAD payments for existing users. I can send and receive $CAD.

However Revolut is not yet available to Canadians. It is coming soon: https://www.revolut.com/en-CA

[2020-11-28 02:25] ricardosaurio commented on #190
I would like this to be reopened. Im following closely this development so I cant try to help with the COP colombian peso market.

[2020-11-28 02:30] chimp1984 commented on #212
Maybe a research on Reddit, trading forums, telegram groups might help to figure out if chargeback is a risk. The chargeback they mention in their terms is not the problem, the easy "call customer support that my tx was made by mistake" case is the problem (Paypal, Venmo, CashApp). Usually they have the term "Friends and family" only - thus justifying such "friendly" chargebacks.

[2020-11-28 03:25] pazza83 commented on #212
Just did a quick search and get results back of reverse charges pretty quickly.

It is hard to quantify extent of what the problem is. All you have to go on are random internet strangers being annoyed about the account closures, freezes and reverse charges.

As you said previously I think care can be taken.

---

**Some examples of chargeback risks**

Popmoney
User got funds refunded after scam on

[2020-11-28 16:55] pazza83 commented on #203
Hi @m52go

Please see below my draft for the content. I would welcome any feedback.

I will make it look pretty in the design phase, the below is just the content that will be included for the XD and PDF designs.

---

# Media

Where possible Bisq is happy to help journalists, podcasters, and youtubers with their stories about Bitcoin, decentralized autonomous organizations, and peer to peer netwo

[2020-11-28 17:23] pazza83 commented on #204
Hi @m52go

Here is a link to the presentation.

https://docs.google.com/presentation/d/1rYeR64mML5VoTV_KgTTeTQJznuIFjC6_82qThuu22_Y/edit?usp=sharing

I am waiting for the video I requested from you on Keybase before i can complete all the content.

Let me know your feedback.

[2020-11-29 16:59] m52go commented on #206
As a start maybe we can develop and implement publicity campaigns for payment methods like we do for markets.

For example [this upcoming liquidity drive](https://github.com/bisq-network/growth/issues/211) is currently planned around CAD, but maybe we can also target TransferWise and Amazon at the same time.

Perhaps just 1-2 market makers recruited through existing Bisq channels (Keybase, GitHub,

[2020-11-29 17:23] Olugbo commented on #211
Great initiative. I'm in CA, happy to help any way I can

[2020-11-29 23:14] pazza83 commented on #211
This is a great idea.

I gave it a thumbs up for the idea but I cannot participate.

There are no payment options for the CAD market. It is not easy for non residents to access Interac e-Transfer. If anyone knows any options please share.

Just tried experimenting with TW. I can take CAD TW offers but not make them as you need a local CAD bank.

Maybe we could have SWIFT up and online for the 03-1

[2020-11-29 23:19] pazza83 commented on #206
Yes, I think that would be great. I am going to open up an issue about ideas for marketing new payment methods.

- Amazon eGift Cards has 2 live offers
- TransferWise has 16 live offers
- PayID has no live offers yet

I like the idea of recruiting market makers. I agree that market making should be profitable on it's own and therefore not  require financial incentives.

[2020-11-29 23:27] Conza88 commented on #206
Yes. Efforts towards highlighting the opportunity etc, new markets etc.

Also those looking for no KYC bitcoin, how does Bisq rank on searches?

Worth some paid articles in various crypto news outlets?
________________________________
From: pazza <notifications@github.com>
Sent: Monday, November 30, 2020 9:20:00 AM
To: bisq-network/growth <growth@noreply.github.com>
Cc: Subscribed <subscribed@nore

[2020-11-29 23:49] pazza83 commented on #206
Yes , these sound good.

Not sure about paid articles, unless there would be something that would be a really good fit.

There is a BSQ Bounty out for SEO Analysis https://github.com/bisq-network/growth/issues/200

[2020-12-02 06:05] m52go commented on #211
Yes I believe virtually all trades in CAD are through Interac...was hoping other methods might be available to diversify and possibly expand interaction with other markets, but it seems that won't be possible just yet.

SWIFT would of course be nice to have as soon as possible, but it might be better to have payment method in the wild for a little while before promoting it hard...in case there are

[2020-12-02 06:59] m52go commented on #203
@pazza83 thanks -- I think content is the lion's share of what we should focus on for now anyway. Press kit, in my opinion, at this point, should be a simple page on the website without too much effort or fancy graphics. Just a way for people writing about Bisq to get what they need quickly and be accurate about whatever they're writing about.

I think what we have so far is enough to make a websi

[2020-12-02 07:01] m52go commented on #204
Hi @pazza83, nice - some questions and feedback:

- how can one edit the world map on slide 14 to highlight other countries?

- the _what is bisq_ section is nice, but what do you think about adding some kind of compare/contrast table with other bitcoin exchanges? might help put bisq in perspective for n00bs with no frame of reference.

- slides 15-18 have a lot of text on them. is this placeholde

[2020-12-02 18:46] pazza83 commented on #204
Thanks for the feedback

This was done in photoshop. I was going to suggest once you are happy with the growth kit I could make one for each main market.  Alternatively the map could just be deleted.

No problems, do you have a link to any content you would like included for this or would you like me to produce some. It would link nicely with https://github.com/bisq-network/growth/issues/201 oncet

[2020-12-02 18:50] pazza83 commented on #203
Hi @m52go

No problems. Would you like me to complete leave there then?

[2020-12-02 19:05] m52go commented on #203
Yes -- I left the issue open since the larger item isn't yet delivered. We'll continue discussion on the pull request (separate thread).

[2020-12-02 20:51] pazza83 commented on #204
Hi @m52go

I have made the following changes:

- Footer link: Added 'https' and made clickable link
- Button and text on slide 30 & 31: Underlined and made clickable links
- Added the 'assets' folder to the Growth Kit - Google Drive folder https://drive.google.com/drive/folders/1BUnDcgnDuOpVhE_ritysdmIVH6yKzfOQ?usp=sharing
- Added separate [PNGs and SVGs files for every country](https://drive.goog

[2020-12-09 20:19] LeadManPL commented on #211
Good idea, but how do you plan to avid issues with blocking users Revolut accounts? I saw many posts spread over the internet, that revolut was blocking user accounts after they made several transactions. This was AFAIR related to payment description containing transaction IDs

[2020-12-09 23:38] m52go commented on #211
@LeadManPL yeah I've heard about this a few times too, but Revolut remains heavily used on Bisq. Not sure. Feel free to open an issue or start a chat on [Keybase](https://keybase.io/team/bisq) or create topic on the [forum](https://bisq.community/) if you have any additional information or concerns.

[2020-12-10 14:00] LeadManPL commented on #211
@m52go : I just realised, that thi issue is about using TransferWise not Revolut.

[2020-12-15 01:44] pazza83 commented on #204
Hi @m52go

The growth kit is now complete.

Please see the '**Using Bisq in Australia**' Google Sheet.

It is located within the public folder https://drive.google.com/drive/folders/1BUnDcgnDuOpVhE_ritysdmIVH6yKzfOQ

Following changes have been made:

- Added comparison slide
- Added 'Bisq is' slide
- Added 'Demo video' slide
- Added 'Demo video breakdown' slides
- Reduced text of 'How Bisq works'

[2020-12-15 15:26] sqrrm commented on #212
I added a way to introduce new signed accounts to markets with no signed accounts, see https://github.com/bisq-network/bisq/pull/4957

Process would be, the DAO decides on some user that it feels is worthy of being signed to bootstrap the target markets. In this case I'm suggesting that the arbitrator will sign @pazza83 for these markets. The DAO deciding could reasonable be done with thumbs ups o

[2020-12-16 01:47] pazza83 commented on #212
Thank you.

I am happy to be signed for Moneybeam and Uphold.

Will try and see if I am eligible for a Popmoney account.

[2020-12-16 20:57] stopfeds commented on #212
I'd be happy to take your offer!

[2020-12-17 00:42] Ben10Brasileiro commented on #199
Pros: Payment option

Cons: Address in the boleto, the seller need to generate the boleto.

[2020-12-17 12:17] flix1 commented on #177
This bounty was successfully claimed.

[2020-12-17 12:17] #177 closed

[2020-12-17 12:19] flix1 commented on #176
Bounty closed as unclaimed.

[2020-12-17 12:19] #176 closed

[2020-12-17 12:20] #178 closed

[2020-12-20 17:48] Vigme86 opened #213 "Satispay"
Payment methods are evaluated very carefully before being added to Bisq. Poorly integrating a payment method, or integrating a payment method that's not a good fit for Bisq's trading protocol, can be costly mistakes for Bisq's users and dispute resolution mechanisms.

As a result, we request that you add responses to the following questions so that we can better consider your suggestion.

Please a

[2020-12-20 19:30] m52go commented on #213
@pazza83 I just assigned you to this issue.

[2020-12-21 02:14] pazza83 commented on #213
Hi @Vigme86 thanks for completing the new payment method issue. Much appreciated.

Looks like a great little app with about 1.3 million users [ref](https://www.reuters.com/article/italy-satispay-ceo-idUSL8N2IG1GR)

I had a look on the [website ](https://www.satispay.com/en-it/) but could not find answers to the following:

Is there a maximum amount you can send via the app?

When sending money to

[2020-12-21 08:11] Vigme86 commented on #213
HI @pazza83,

1) I think maximum amount you can send in a single transaction is the weekly budget, which you can set between 25 and 500 €, but to be honest I never tried the max amount. I personally did a transaction of 100 € with a friend and everything went fine.

Budget is regulated every Monday, i.e. Satispay App makes a Sepa Direct Debt with your bank if balance is 5 € above or below your wee

[2020-12-22 06:07] m52go commented on #204
Wonderful -- overall I think it's great. Two small things:

- Maybe change the DAO video link to https://www.youtube.com/playlist?list=PLFH5SztL5cYPAXWFz-IMB4dBZ0MEZEG_e; it's more current and informative
- I suggest removing the PDF -- I made some small changes just now, making the PDF outdated, but I can't update the PDF. People can easily generate a PDF from the Slide if/when they need it.

Als

[2020-12-22 15:44] m52go commented on #199
Closing as stalled as concerns in previous comments ([one](https://github.com/bisq-network/growth/issues/199#issuecomment-717711875), [two](https://github.com/bisq-network/growth/issues/199#issuecomment-719000746)) haven't been addressed.

[2020-12-22 15:44] #199 closed

[2020-12-25 22:03] iraamaro opened #215 "Due diligence for CapCode payment option in Bisq"
## Proposal

Add the option CapCode from https://www.capitual.com solution.

### Why

_Why would Bisq benefit from adding this payment method? Is is popular in a particular region? More convenient? More safe?_

Because this method offers a better privacy than traditional banks in Brazil. People that buy/sell crypto assets have a risk with the traditional banks. They can freeze the traditional acco

[2020-12-25 23:24] pazza83 commented on #215
Thanks @iraamaro for poposing this new payment method and the comprehensive information you have provided. I will take a look this week and get back to you with some questions.

I did not know there was a Bisq Telegram group for Brazil. That is great

[2020-12-29 03:16] pazza83 commented on #204
Thanks for the feedback.

I have made all the changes above.

Thanks for the comments on the timestamps. I think those slides were helpful to breakdown the trade process.

If you need anything else just let me know.

[2021-01-02 01:52] bluimes commented on #205
Bump this issue for listing purposes. We really want to make this happen. Can you guys share your latest concerns with us?

In agreement with Manfred I quote our previous convo:

`Hi Manfred,

Thanks for your comment. The github issue is still open under https://github.com/bisq-network/growth/issues/205. In the previous issue the discussion stopped. https://bisq.community/t/we-need-to-remove-grin/

[2021-01-05 11:05] Conza88 commented on #44
Might need to review this, and individualise.

[2021-01-11 21:12] stopfeds opened #216 "Re-activating Bitcoinhackers.org account"
I hope this is the correct rep to talk about this topic. I have already asked this on Keybase but it seems like no one had an answer.

Due to the fact that a lot of Bitcoiners are moving over from Twitter to Mastodon (bitcoinhackers.org), it would be great to have an active account on this platform. Number of users & engagement is exploding on bitcoinhackers: https://the-federation.info/node/bitco

[2021-01-11 21:24] m52go commented on #216
I'm not sure who has access to those accounts...seems like community members. I don't recall any contributors mentioning it. Will try to find out.

Another idea: it would be cool to have a Bisq instance of some ActivityPub implementation that federates with bitcoinhackers.org. I've been a bit disappointed that everyone has defaulted to joining that one server.

[2021-01-11 21:26] m52go commented on #216
If you or others could think of some kind of strategy or something to make a Bisq instance "special" in some way, such that people would have some reason to join it over bitcoinhackers.org, that might be nice.

Or it could just be limited to contributors and known community members who ask to join...not sure.

Or we could always just create an account on bitcoinhackers.org and call it a day.

[2021-01-11 23:25] stopfeds commented on #216
I agree that everyone using the bitcoinhackers instance is not the best solution as NVK is in full control of the data and even private messages but tbh I'd rather trust him than Facebook, Reddit or Twitter. Right now, there is a much discussion going on about this topic and I think there will improvements from time to time.

What about starting with the existing account on Bitcoinhackers and try

[2021-01-11 23:26] pazza83 opened #217 "Add TransferWise-USD as a payment method"
## TransferWise-USD

Related issues:

[Add Transferwise as new multi-currency payment method #243](https://github.com/bisq-network/proposals/issues/243)
[Improve Transferwise account ](https://github.com/bisq-network/bisq/issues/4931)

TransferWise info:

Due to what I assume is US banking regulation, Sending / receiving USD payments has more restrictions than most other currencies. This is the re

[2021-01-11 23:29] Conza88 commented on #216
Yep. I really don't like the name 😅.

Bitcoin hackers. Really? Woeful optics imo.

________________________________
From: stopfeds <notifications@github.com>
Sent: Tuesday, January 12, 2021 9:25:35 AM
To: bisq-network/growth <growth@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [bisq-network/growth] Re-activating Bitcoinhackers.org account (#216)

I agree that eve

[2021-01-11 23:48] pazza83 opened #218 "Add Domestic Wire Transfer - USA as payment method"
## Domestic Wire Transfer - USA

### Background

For US users wanting to trade on Bisq using bank transfers (excluding thrid party methods like Zelle and Chase) they have two options:

- ACH
- Wire

Currently neither of these payment methods can be added to Bisq.

There is a workaround where they can be added as 'National Bank Transfer' however this is not ideal due to differences in fees and trad

[2021-01-11 23:49] Conza88 commented on #217
Great! No easy way to access largest market in the world ATM.

Interesting they might use SWIFT in certain instances sending USD to other countries lol.

[2021-01-11 23:53] pazza83 opened #219 "Add ACH Transfer - USA as payment method"
## ACH Transfer - USA

Reference: https://en.wikipedia.org/wiki/ACH_Network

### Background

For US users wanting to trade on Bisq using bank transfers (excluding thrid party methods like Zelle and Chase) they have two options:

- ACH
- Wire

Currently neither of these payment methods can be added to Bisq.

There is a workaround where they can be added as 'National Bank Transfer' however this is n

[2021-01-12 00:13] Conza88 commented on #218
Think USD is an important market to help grow.
Generally more US users on Twitter etc and think Bisq being a better option for the plebs, would get more coverage/exposure in terms of branding by making more options for them. Increased liquidity. Surprised EUR is bigger tbh.

[2021-01-12 00:18] pazza83 commented on #218
I agree. Most trades are done on Zelle and I think there should be more options. 95% of the people in the US have access to a bank account so adding ACH and Wire transfers should increase accessibility.

[2021-01-16 01:08] pazza83 commented on #217
Let's wait until the trade ID issue is updated (if that is to happen) then reconsider.

[2021-01-17 19:42] pazza83 opened #220 "Add Strike App as a new payment method"
## Strike - USA

References:

- [Strike](https://beta.strike.me/) (in beta)
- [Stroke Global](https://global.strike.me/) (in development)
- [Strike Twitter](https://twitter.com/ln_strike)
- [CEO Medium](https://jimmymow.medium.com/) (for updates)

Strike is a payments application developed by Zap Solutions. It allowing users to send and receive money instantly around the world, for free. Strike mo

[2021-01-17 20:55] pazza83 opened #221 "Add Venmo as a payment method"
## Venmo

Resources:

- [Venmo Website](https://venmo.com/)
- [Venmo Wiki](https://en.wikipedia.org/wiki/Venmo)
- [Venmo help section](https://help.venmo.com/hc/en-us)
- [Venmo T&Cs](https://venmo.com/legal/us-user-agreement/)
- [Bisq community thread about previous issues](https://bisq.community/t/sellers-beware-heads-up-chargebacks-from-cashapp-venmo-venmo-account-frozen/5388/8)

### Why

Venmo

[2021-01-17 21:54] pazza83 opened #222 "Add Bizum as a new payment method (popular in Spain)"
## Bizum

Resources:

[Bizum website](https://bizum.es/en/)
[Bizum Wiki](https://es.wikipedia.org/wiki/Bizum)
[Bizum FAQs](https://bizum.es/en/frequently-asked-questions/)

Bizum is a mobile payment provider service based in Spain. Bizium is a result of the collaboration of almost all of the Spanish banks to create a system of instant payments between individuals and shopping in stores.

### Regio

[2021-01-18 01:17] pazza83 opened #223 "Add Verse as a payment method (popular European payment app)"
## Verse

References:

- [Verse website](https://verse.me/)
- [Verse Twitter](https://twitter.com/joinverse/)
- [Verse T&Cs](https://verse.me/en/terms)

Verse is a mobile payment app based in Europe owned by Square. Users can pay and request money from your friends. Payments are immediate and free. It is easy to use.

Verse is designed for small payments between friends and family members and user

[2021-01-19 09:55] ripcurlx commented on #221
We also had Venmo integrated already in the past and had to remove it because of chargebacks.

[2021-01-19 15:12] m52go commented on #221
Yes, as I noted [on the other thread](https://github.com/bisq-network/bisq/issues/4757#issuecomment-755860612), Venmo proactively blocks transactions it doesn't like. I think not bringing it back is the right call.

[2021-01-20 00:54] pazza83 commented on #221
Yes, these are my thoughts.

Does @RefundAgent have any comments as they suggested chargebacks where no longer possible?

[2021-01-22 01:10] pazza83 commented on #207
For reference: [Specify Amazon eGift Card country](https://github.com/bisq-network/bisq/issues/5098)

[2021-01-23 17:17] pazza83 opened #224 "Add Immediate Payment Service (IMPS) as a payment method (popular mobile payment service in India)"
## Immediate Payment Service (IMPS)

References:

- [Immediate Payment Service Wiki](https://en.wikipedia.org/wiki/Immediate_Payment_Service)
- [IMPS video explainer](https://www.youtube.com/watch?v=EbeStNuSetE)

### Why

India has the 5th largest economy in the world by GDP, yet Bisq does not have many options for people in India to trade. It would be good to give people in India more access to t

[2021-01-23 18:02] pazza83 opened #225 "Add Unified Payments Interface (UPI) as a payment method (popular mobile payment service in India)"
## Unified Payments Interface (UPI)

References:

- [Unified Payments Interface Wiki](https://en.wikipedia.org/wiki/Unified_Payments_Interface)
- [UPI video explainer](https://www.youtube.com/watch?v=6qlpG4V8jdc)
- [UPI limits](https://blog.cashfree.com/upi-transaction-limit-2020/#Bank_UPI_transaction_limit_by_amount)

### Why

India has the 5th largest economy in the world by GDP, yet Bisq does n

[2021-01-23 18:03] pazza83 commented on #224
See similar payment method UPI proposal here: https://github.com/bisq-network/growth/issues/225

[2021-01-23 18:04] pazza83 commented on #225
See similar payment method IMPS proposal here: https://github.com/bisq-network/growth/issues/224

[2021-01-23 18:36] pazza83 opened #226 "Add PayTM as a payment method (popular mobile payment service in India)"
## PayTM

References:

- [PayTM website](https://paytm.com/)
- [PayTM video explainer](https://www.youtube.com/watch?v=_twGGicE_OQ)
- [PayTM wallet blog post](https://blog.paytm.com/the-simple-incredible-paytm-wallet-79b2bb36d51f)
- [PayTM Wiki](https://en.wikipedia.org/wiki/Paytm)

### Why

India has the 5th largest economy in the world by GDP, yet Bisq does not have many options for people in In

[2021-01-23 18:36] pazza83 commented on #226
See similar payment method IMPS proposal here: #224

[2021-01-23 18:36] pazza83 commented on #226
See similar payment method UPI proposal here: #225

[2021-01-23 18:37] pazza83 commented on #224
See similar payment method PayTM proposal here: #226

[2021-01-23 18:37] pazza83 commented on #225
See similar payment method PayTM proposal here: #226

[2021-01-23 19:54] pazza83 opened #227 "Add Monese as a payment method (popular mobile bank app in UK and Europe)"
## Monese

References:

- [Monese website](https://monese.com/)
- [Monese fees and limits](https://monese.com/gb/en/fees-and-limits/fee-and-limits-information)
- [Monese T&Cs](https://monese.com/gb/en/terms)

Monese is a popular neo bank app for users of GBP, EUR and RON.

As well as the usual bank facilities Monese allows users to send money to other Monese accounts instantly and for free in any

[2021-01-23 20:09] viperperidot commented on #220
I am very excited about this payment method and I think it easily has the potential to become the #1 payment method on bisq. Having a pro-crypto money transfer finntech company will be an amazing improvement in the space. I do not know if companies like TransferWise are regulated to not allow crypto or if it just a personal choice. Either way if Strike does not allow crypto in their ToS then I kno

[2021-01-25 15:36] m52go commented on #211
As covered on the Q4 2020 call, this event flopped. Market makers didn't show up, liquidity was thin, and as a result, it didn't make sense to do further promotions.

[2021-01-25 15:41] m52go commented on #216
Closing this issue, as it has been solved in a nominal sense—the @bisq@bitcoinhackers account is active and is controlled by a regular contributor.

Since the existence of bitcoinhackers.org itself seems to be in question, I think this might be the best we can do right now.

Any further proposals such as making a new ActivityPub instance can be raised in new issues.

[2021-01-25 15:41] #216 closed

[2021-01-26 01:12] NigelBess opened #228 "Please support the cryptocurrency NANO"
## Learning Goal/Objective
To provide a decentralized means of liquidity for buyers and sellers of NANO.

## Hypothesis
If the experiment is successful, I believe it will significantly increase downloads and participation in the Bisq network, and increase liquidity volume across all Bisq markets by increasing its user base.

## Experiment Design
1. Create a NANO/BTC market
2. Examine the number of

[2021-01-26 03:03] m52go commented on #228
As of Cycle 9, adding new assets is on [indefinite hold](https://github.com/bisq-network/proposals/issues/166).

[2021-01-26 03:03] #228 closed

[2021-01-28 02:10] pazza83 commented on #209
Hi any @bisq-network/dev able to implement this change. Hopefully it is a quick one.

[2021-01-30 01:24] pazza83 commented on #207
Here is my work process for existing payment methods that are in need of consideration for editing: https://github.com/users/pazza83/projects/3

For reference this is a list of all payment methods that are in available on Bisq: https://github.com/users/pazza83/projects/2

[2021-02-01 13:31] PautassoEGiacomina opened #229 "PostePay"
### Why

I believe Bisq can implement this payment method because it is one of the most used in Italy. It is also true that in Italy cryptocurrencies are unfortunately not yet very popular, but this implementation, perhaps, could also help cryptocurrencies to acquire some users in my country.
It is very popular in Italy because it is cheap and is offered by the Italian postal company (the only one

[2021-02-02 16:47] HeadyWook commented on #220
"Users using Strike have to complete KYC. Once KYC'd they can also buy Bitcoin directly with Strike by converting their USD to BTC."

I was under the impression users deposit cash on to Strike and stay in cash. Think of Venmo, for example, users can deposit cash into their accounts and make payments with that cash to others. The difference with Strike, as I understand it, is when a cash payment is

[2021-02-04 01:25] pazza83 commented on #229
Hi @PautassoEGiacomina

Thanks for raising this issue.

The ability to chargeback would be a problem. The fact that it takes a while to complete a chargeback is not really a security benefit as PostePay could just take the funds from a future credit.

Can you add a link to the terms and conditions where it mentions anything to do with chargebacks or reversals.

Many thanks

[2021-02-04 06:05] PautassoEGiacomina commented on #229
I searched their website for contractual terms and conditions, if there was anything specific about chargebacks, but I found nothing unfortunately. I fear that to get them you must necessarily go in person to the post office...

[2021-02-08 02:13] pazza83 commented on #229
is this the website? I was looking for information about chargebacks https://www.poste.it/disconoscimento-delle-operazione-di-pagamento.html

[2021-02-08 04:45] pazza83 opened #230 "Add WorldRemit - Multi-currency payment method"
## WorldRemit - Multi-currency

Website: https://www.worldremit.com/
Terms and conditions: https://www.worldremit.com/en/about-us/terms-and-conditions

### Background

Multi-currency payment methods are a good addition to Bisq as they increase accessibility to markets for more users.

### Why

WorldRemit is an established multi-currency payment service.

### Region

Multiple counties [over 130+](h

[2021-02-08 05:01] Conza88 commented on #230
How do they do it? Is it built on SWIFT? ;o

The ability to do National Bank Transfers for multiple currencies would be stellar.

Whole reason I think SWIFT is vital, with all those banks.

Ooooh yes! Never thought of "take only" accounts. Very good idea.

[2021-02-08 05:04] pazza83 commented on #230
No they use local banking partners. So if you buy BTC in EUR from say Canada you will pay using credit / debit card or bank transfer in CAD, they will then send Euros from a local European bank to the seller.

[2021-02-08 05:06] Conza88 commented on #220
I have less of a problem with KYC - IF there is no direct BTC engagement / deniability of sorts.
e.g. KYC with a central exchange and the state asks for records of everyone who bought BTC, ya cooked.

Same with TW, Revolut etc. it's fiat to fiat only. Step detached.

So very interested in how that gets handled by Strike Global. I think after hearing Micro Startegy w/ Saylor interview of NIYDG foun

[2021-02-08 05:34] Conza88 commented on #230
Epic. So kinda similar to TransferWise style? (not TW -> TW , but the background 'magic').

Account name

We sure about this? [https://www.worldremit.com/en/faq/bank-transfers#12679](https://www.worldremit.com/en/faq/bank-transfers#12679)

### _How do I make an international bank transfer?
It’s so easy to make international bank transfers using our website or app. Just follow these simple steps:

[2021-02-08 05:50] pazza83 opened #231 "Add CelPay as a Multi stablecoin currency payment method"
## CelPay - Multi-currency (stablecoins)

Website: https://celsius.network/celpay/
Youtube explainer: https://www.youtube.com/watch?v=AS6IIsHb7bM
Celsius interest rates: https://celsius.network/rates/

### Background

This is a proposal for an Idea I had about using a the Celsius app to send and receive stablecoins for Bisq Traders.

I am not 100% for it just think it would be good for discussion

[2021-02-08 05:58] pazza83 commented on #230
Yes, it is like sending a payment from your TransferWise account to someone's bank.

As it would be taker only, the WorldRemit user details it is not important.

If you want to use WorldRemit to buy BTC from me using SEPA I do not need to know anything about your WorldRemit details. Only enough to link the payment I received to your trade.

I have not seen this. https://www.worldremit.com/en/faq/w

[2021-02-08 06:14] Mycelial1 commented on #231
As long as Celsius uses real ethereum addresses, you should be able to use your Celsius app for trading DAI on Bisq as DAI is currently available to trade on Bisq right now.

I'm not sure if there's a need for a whole payment method like CelPay if the end goal is just to trade stablecoins.

Unless I'm missing something here, would it not be simpler to just trade using on-chain DAI with an ethereum

[2021-02-08 06:18] pazza83 commented on #231
Thanks for the comments. I think adding CelPay would add 5 stablecoin currencies at once; USD, CAD, GBP, HKD, AUD.

It could also be added to existing fiat markets to help promote liquidity.

Also transfers are immediate and free.

[2021-02-08 06:40] Mycelial1 commented on #231
I see what you're getting at.
Though, I think it might be weird to implement because you'd have to create an "altcoin" CelPay account in bisq app, and then how would bisq be able to tell which stablecoin you're trying to trade? You only get one field to paste in an address when creating a new altcoin account.

 I don't think CelPay should be a "national currency" account either because it's actual

[2021-02-08 06:47] pazza83 commented on #231
Yes, I was proposing to add it as a national currency account with users than able to select out of USD, CAD, GBP, HKD, AUD the currencies they would like to use it for.

I agree it is a little strange as it would be crypto not fiat. But I think all trader that created CelPay accounts would be aware of that. Also would be nice to bring some of the stablecoin liquidity to Bisq within the fiat/BTC p

[2021-02-11 06:27] PautassoEGiacomina commented on #229
Exactly, it is from this link that I had deduced the clear difficulty and the long procedure that the chargeback procedure would have involved. Now I understand, however, that this is not enough, precisely because future credits could in any case be charged.

[2021-02-12 10:21] #209 closed

[2021-02-12 22:36] lismanown commented on #208
Me and other people I've talked to are looking forward to adding this payment method on BISQ. Is there any way to contribute?

[2021-02-13 03:01] RififiCastorjunior commented on #202
That will be good to put those personas in good use for india(INR), vietnam (VND), nigeria (NGN) ... and reach those market.

[2021-02-13 23:17] pazza83 commented on #208
Hi @lismanown thanks for the comments. To save myself and the devs time I am looking to batch up proposals for new payment methods for certain markets.

If you or other users would like other payment methods listed that can be used in Brazil please let me know any other payment methods you would like to add.

[2021-02-14 02:15] pazza83 commented on #229
Yes, sorry I think due to the chargebacks it is not possible to add this as a payment option in Bisq

[2021-02-14 19:15] pazza83 opened #232 "Add Skrill - Multi-currency payment method"
## Skrill - Multi-currency

Website: https://www.skrill.com/
Fees: https://www.skrill.com/en/siteinformation/fees/#send-money-receive-money
Terms and conditions: https://www.skrill.com/en/footer/terms-conditions/skrillaccounttermsofuse/
Skrill Wiki: https://en.wikipedia.org/wiki/Skrill

### Background
Multi-currency payment methods are a good addition to Bisq as they increase accessibility to mark

[2021-02-14 22:27] pazza83 opened #233 "Add Paysera - Multi-currency payment method"
## Paysera - Multi-currency

[Paysera Website](https://www.paysera.com/)
[Paysera Fees](https://www.paysera.com/v2/en-GB/fees)
[What is Paysera video](https://www.youtube.com/watch?v=5Bd1-xZjHMk)
[How does Paysera work video](https://www.youtube.com/watch?v=Hgh_sYTeGIs)
[Terms and conditions](https://www.paysera.com/v2/en-GB/legal/general-payment-service-agreement-for-private)

### Background
Pays

[2021-02-14 23:13] pazza83 opened #234 "Add Jeton - Multi-currency payment method"
## Jeton - Multi-currency

[Jeton Website](https://www.jeton.com/)
[Jeton Fees](https://www.jeton.com/fees-limits)
[Jeton YouTube Channel](https://www.youtube.com/c/JetonWallet/videos?view=0&sort=p&flow=grid)
[Terms and conditions](https://www.jeton.com/terms-and-conditions)
[Jeton Twitter](https://twitter.com/jetonwallet)
[Jeton Blog](https://blog.jeton.com/)

### Background

From the website:

F

[2021-02-14 23:44] RififiCastorjunior commented on #232
A foot note say this :

Withdrawal Fee from a Skrill Account to a NETELLER Account – 3.49% per transaction
International transfer send money Fee for the use of Skrill Money Transfer – up to 4.99% per transaction - applicable to international money transfers in the same send and receive currency only
International transfer send money FX markup Fee - up to 4.99% per transaction.

Almost 5% of all tr

[2021-02-15 00:24] RififiCastorjunior commented on #233
i love to see this page Time of money transfers
https://www.paysera.com/v2/en-GB/fees/euro-transfers

[2021-02-15 00:24] pazza83 opened #235 "Add Paxum - Multi-currency payment method"
## Paxum - Multi-currency

[Paxum Website](https://eu.paxum.com/)
[Paxum Fees](https://eu.paxum.com/fees/personal)
[Paxum e-Wallet Terms of Use](https://eu.paxum.com/legal/ewallet-terms-of-use)
[Paxum Twitter](https://twitter.com/paxuminc)
[Paxum blog](https://paxumblog.com/)

### Background

Paxum is a Global Payment Service for Businesses and Individuals.

From looking at other websites it appea

[2021-02-15 00:38] pazza83 commented on #232
Yes the high fees for Skrill to Skrill transactions put me off at first. However, the way I have proposed to implement it means that these fees will not be payable.

Say if I was selling BTC for EUR, you would be able to send me any other currency from the list above to pay. The only cost would be the difference between the mid market exchange rate and what you were charged, Your fees would be ver

[2021-02-15 03:08] RififiCastorjunior commented on #235
It's to expensive to exchange with this one. "Western Union" take less fees. it's a great product outside of that

[2021-02-15 03:50] pazza83 commented on #235
Thanks for the feedback. I agree it it an expensive option but it is less expensive than what SWIFT will be and it is more immediate.

[2021-02-17 05:59] pazza83 opened #236 "Add National Electronic Funds Transfer (NEFT) as a payment method (popular banking payment method in India)"
## National Electronic Funds Transfer (NEFT)

References:

- [National Electronic Funds Transfer Wiki](https://en.wikipedia.org/wiki/National_Electronic_Funds_Transfer)

### Why

India has the 5th largest economy in the world by GDP, yet Bisq does not have many options for people in India to trade. It would be good to give people in India more access to trading on Bisq.

NEFT is an electronic fund

[2021-02-17 06:15] pazza83 opened #237 "Add Real-Time Gross Settlement (RTGS) as a payment method (popular banking payment method in India)"
## Real-Time Gross Settlement (RTGS)

References:

- [Real-Time Gross Settlement Wiki](https://en.wikipedia.org/wiki/Payment_and_settlement_systems_in_India#Real-time_gross_settlement)

### Why

India has the 5th largest economy in the world by GDP, yet Bisq does not have many options for people in India to trade. It would be good to give people in India more access to trading on Bisq.

RTGS is an

[2021-02-17 06:45] m52go commented on #225
@pazza83 might be good to prioritize this particular payment method.

![Screenshot from 2021-02-17 01-44-15](https://user-images.githubusercontent.com/735155/108166113-a0a93000-70eb-11eb-8e40-e5fdcbd9667f.png)

[2021-02-17 07:01] pazza83 commented on #225
@m52go Thanks, I agree, Indian and also Nigerian payment methods are important to develop.

Regulation on exchanges is likely to increase in the coming years. Bisq can help people a lots in these locations, and lessons learnt can be applied to future markets:

As well as UPI I have also proposed the following payment methods:

- [RTGS](https://github.com/bisq-network/growth/issues/237)
- [PayTM](h

[2021-02-17 10:22] prayank23 commented on #225
@pazza83 ACK for UPI and Paytm

However using gift cards can be better for users in case there is a ban in India and users are not allowed to trade bitcoin.

[2021-02-17 11:30] pazza83 commented on #225
Thanks for the info. Gift cards are a little hard to get right. Amazon eGift cards have been added but do not think they are available to purchase in India yet.

[2021-02-17 11:32] pazza83 commented on #207
For reference: [National Bank Transfer - BSB](Fix Bank transfer 'Copy BSB number' bug #5200)

[2021-02-17 12:45] prayank23 commented on #225
Not sure about this. Bitrefill has giftcards that can be used here in India and you can pay with bitcoin. Paxful has gift cards as payment option.

[2021-02-17 13:07] m52go commented on #225
Internet feedback is also pretty strongly in favor of prioritizing UPI.

https://twitter.com/bisq_network/status/1361941104686342146

[2021-02-18 21:13] pazza83 commented on #225
Thanks, I think it is a firm yes vote for UPI

[2021-02-18 21:16] pazza83 commented on #225
I have discounted Bitrefill as a payment method as one would have to use BTC to buy BTC which seems a bit unintuitive.

Other gift cards are hard as it is not easy to verify funds. Plaxful has them, but also a lot of disputes come with them.

[2021-02-18 21:35] prayank23 commented on #225
I mentioned Bitrefill because some traders can use it instead of selling BTC to INR. Paxful can be used to buy BTC with gift cards. So options are already available.

Possible. Because lot of scammers also prefer gift cards.

[2021-02-18 21:40] pazza83 opened #238 "Add ATH Móvil as a new payment method (Popular payment service in Puerto Rico)"
Reopening the proposal for Add ATH Móvil as a new payment method  as discussed [previously](github.com/bisq-network/bisq/issues/1868) and rekindled by @btcpuertorico

##  ATH Móvil (Puerto Rico)

References:

- [ATH Móvil website](portal.athmovil.com)
- [ATH Móvil website 2](https://escaneaypaga.com/)
- [Participating banks](https://portal.athmovil.com/terminos)
- [Terms](https://portal.athmovil.c

[2021-02-18 21:55] pazza83 commented on #207
For reference : [Bank ID leaking](https://github.com/bisq-network/bisq/issues/5201)

[2021-02-18 21:58] pazza83 commented on #225
Thanks, that is a usecase I had not considered. I will create an Bitrefill as a payment method for discussion.

[2021-02-18 22:35] btcpuertorico commented on #238
Thank you @pazza83 !
In terms of the $500 limit, I forgot to add that you can have multiple accounts defined from different banks or credit unions and the limit is enforced on each. So the sender could exceed the $500 limit by using other accounts on the app and perform multiple transactions on the same day.

[2021-02-18 23:07] pazza83 opened #239 "Add BitRefill as a multi-currency payment method"
## BitRefill

[BitRefill Website](https://www.bitrefill.com/)
[BitRefill Youtube](https://www.youtube.com/channel/UCA01xfPhX-HcE1H5IzIBcjg)
[BitRefill Terms](https://www.bitrefill.com/terms)
[BitRefill Twitter](https://twitter.com/bitrefill)
[Video tutorials in multiple languages](https://www.bitrefill.com/videos/)

### Background

Bitrefill aims to let people live on cryptocurrency more easily. T

[2021-02-18 23:09] pazza83 commented on #238
Thanks that is useful to know. $500 USD is about 0.01 BTC at the moment and it would be useful for payment methods to make payments for larger amounts of BTC.

[2021-02-19 23:49] m52go opened #240 "Hold demo events to help users become more comfortable with using Bisq"
Bisq is complex software that many new users find confusing. Even users who have been using Bisq for a while are often unaware of certain features and tips to make the experience better. New features and updates can be communicated better.

Perhaps a twice-per-month interactive demo-style event where such features and tips are demonstrated could help with both: make new users more comfortable with

[2021-02-19 23:54] m52go commented on #240
Would like to hold first demo event next week.

Possible topics depend on release of 1.5.7. If it does end up coming out next week, the demo should cover the release's most important user-facing updates.

Otherwise, potential topics include:
- updating Bisq to Tor v3
- showing off editing offer functionality
- answering questions from those on the call

[2021-02-20 06:04] RififiCastorjunior commented on #240
Those event will be a FAQ talk ?

[2021-02-20 06:09] m52go commented on #240
Not exactly sure of format yet. Will probably have 3-4 features or tips to cover, and then take questions from people.

Will play it by ear and adapt...if not too many people join livestream format, then we can just try recording regular videos and seeing if they get good viewership across social channels. Or do a mix of both.

[2021-02-20 06:44] RififiCastorjunior commented on #220
If a Gov want to track those who buy Bitcoin and make them pay, they can fetch those KYC on strike.

I'm not a big fan of this app.

Those easy cash in and out of bitcoin can't happen yet. Gov doesn't control that part so be prepare for some blow up.

[2021-02-20 07:36] Conza88 commented on #240
Is there a better way to display new features/updates with the pop-up notification for those on old versions?

I think a walk-through would be helpful... things to consider at each stage. The FAQ's that constantly pop up should help provide a guide of things to cover.

- e.g. taking an offer, noticing the sats v/byte at the bottom and what that means. Tangentially related: discussion on the memepo

[2021-02-22 20:48] lismanown commented on #208
Hello @pazza83, thanks for the reply. Apart from PIX nothing comes to mind. PIX is becoming the standard payment method in Brazil because its free, instant and all the banks support it. The current payment method on BISQ (namely TED transfers) you have to pay a fee to transfer between different banks, it only works on business hours, and also you have to provide your full name and social security

[2021-02-24 00:48] pazza83 commented on #208
Hi @lismanown thanks for the info I will get working on this.

[2021-02-24 17:08] m52go commented on #240
@Conza88 thanks for writing all of that out. Many great suggestions in there for exactly this kind of event. From what I've seen many of the best practices posts from the forum could also go on the wiki.

FAQs need a huge revamp...I've always found them to be problematic and somehow out-of-date. Which is a major problem considering the traffic they get. They will be moved to the wiki (so they can

[2021-02-24 17:12] m52go commented on #240
**First event is scheduled for tomorrow at 6pm CET**.

There is tons that could be covered but I want to start by keeping these events short and to-the-point. People should learn practical tips to help them use Bisq better and/or become more comfortable with the software in general...part of the reason people don't often feel this way is that just opening Bisq can sometimes feel like drinking out

[2021-03-04 02:31] tonyox-ops commented on #238
This would help so much with bitcoin in Puerto Rico.  Used Ath movil in localbitcoins a few times in the past and no problems with it.  Currently buying in Bitcoin Atm to skip KYC

I was talking with my friends about the possibility of Ath movil joining bisq and they love the idea.

[2021-03-05 01:14] pazza83 commented on #238
Hi @tonyox-ops thanks for creating an account. It is great to get feedback.

One of the issues above is the limits.

Do ATH Móvil account holders generally have multiple bank accounts linked?

A $500 USD limit is a little low for Bisq trades due to miner fees often eating into the trade amount.

What amount per trade do you think would be feasible for trades using ATH Móvil?

[2021-03-07 13:01] flix1 commented on #156
Given the recent ban on centralized exchanges in Nigeria...
https://www.dw.com/en/nigerias-cryptocurrency-crackdown-causes-confusion/a-56547374

It seems like a very good time to showcase Bisq's censorship resistance there. We should try to find a local market maker.

[2021-03-07 13:08] m52go commented on #156
Agree, but might be good to reduce the value of the bounty though as BSQ is now over 2 USD.

[2021-03-07 15:24] flix1 commented on #184
![image](https://user-images.githubusercontent.com/4233784/110244932-6a7c0500-7f61-11eb-8be3-1697e67c32ca.png)

It's nice to see that many months after this bounty was claimed, there is still activity in MXN/BTC. Increasing volumes even.

[2021-03-08 03:05] maltokyo commented on #217
Only USD?

[2021-03-08 03:07] Conza88 commented on #217
Essentially the rest of the world is already added lol

[2021-03-08 03:38] pazza83 commented on #217
Yes pretty much everyone has access to TransferWise  at the moment on Bisq apart from users in Nigeria, Brazil and USA.

Nigeria and Brazil are not possible, but USA users can be catered for.

[2021-03-08 09:00] flix1 commented on #222
I can definitely confirm that this is the most widely used micro-payment method in Spain and is compatible with all banks.

[2021-03-10 04:46] pazza83 commented on #156
Just went to check out the NGN/BTC market on Bisq.

It has to be manually added.  It is therefore, not immediately obvious to new users based in Nigeria that their is a way to trade on Bisq.

@bisq-network/bisq-devs can NGN be added to the default currencies in the next Bisq release?

Would adding by default cause any problems? The app does a good way of sorting them by offers anyway so why make i

[2021-03-11 13:29] RififiCastorjunior commented on #175
some error here

[2021-03-15 06:02] Conza88 commented on #230
Tested worldremit. Experience added in Community Forums.

[2021-03-15 06:10] Conza88 commented on #232
Yep, that'd be the way. No Skill to skill, but however best. For that low level fee's as taker only.

[2021-03-15 09:05] flix1 commented on #156
![image](https://user-images.githubusercontent.com/4233784/111129114-fbf90180-8575-11eb-8388-a310e273a33e.png)

It looks like we have somebody trying to make a market in NGN/BTC !

[2021-03-18 23:45] pazza83 commented on #232
@bisq-network/dev is a 'taker only' payment method something that can be achieved?

[2021-03-19 10:50] sqrrm commented on #232
How would this work? User sets up a skrill account, won't be able to create offers but it would match to sepa/faster payment/wire/national bank options while looking to take offers? Does the information for all those methods fit with the skrill side of things or is something extra needed?

Sounds doable to have a take only account type, but is that really what you want to achieve here? Isn't it bu

[2021-03-19 11:01] Conza88 commented on #232
Yeah 'buyer of BTC' only seems more accurate, whether taking offers for BTC or making offers for BTC.

I'd be real keen for the universal fiat nature of it, in terms of opening up liquidity to all fiat markets essentially to take offers.

Is it just opening access to national/local banks? Or would others need to add skrill themselves - although technically could be tied into their local currency n

[2021-03-20 00:24] pazza83 opened #241 "Match SEPA accounts IBANs to selected participating countries"
### Description

When adding a SEPA or SEPA payment account on Bisq there is no validation of country selected against IBAN. This can lead to users creating SEPA accounts using banks of non participating SEPA countries.

For example see comments on [SEPA order taken by non-SEPA account](https://bisq.community/t/sepa-order-taken-by-non-sepa-account/10564)

Bisq should check users bank IBANs match t

[2021-03-20 02:29] pazza83 commented on #232
@sqrrm yes you are correct it is buy only.

- Maker as Buy BTC
- Taker as Buy BTC

Yes that would be correct.

Yes it does. Buyer (Skrill account holder) would just need to enter sellers payment details when making payment using Skrill. Seller would receive funds from Skrill's account.

@Conza88

It would open up access to users wanting to buy in any of the following currencies irrespective of the

[2021-03-20 12:10] sqrrm commented on #232
It sounds reasonable to add this. I haven't looked at the details regarding checks to not allow selling for some account types but I suspect it's won't be hard to implement.

[2021-04-01 05:37] m52go commented on #225
From what I'm seeing this is one of the most-requested payment methods at the moment...potentially a big gateway for a big market.

What work remains to get it implemented?

[2021-04-01 15:52] m52go opened #242 "Add K-Net for KWD"
Payment methods are evaluated very carefully before being added to Bisq. Poorly integrating a payment method, or integrating a payment method that's not a good fit for Bisq's trading protocol, can be costly mistakes for Bisq's users and dispute resolution mechanisms.

As a result, we request that you add responses to the following questions so that we can better consider your suggestion.

Please a

[2021-04-02 00:51] pazza83 commented on #225
Hi @m52go I have created issues for all the requested payment methods.  Just waiting for opportunity for all users to give feedback. I shared a post on Reddit, GitHub, Keybase and Bisq community forum: [New Payment Methods proposed for Bisq (Please comment on the ones you would like added)](https://bisq.community/t/new-payment-methods-proposed-for-bisq-please-comment-on-the-ones-you-would-like-add

[2021-04-02 01:03] pazza83 commented on #242
Hi @m52go thanks for proposing K-Net. I have added it to my project for [proposed payment methods](https://github.com/users/pazza83/projects/1)

Great to hear @baro0k is keen to promote this and help develop and implement this.  @baro0k are you able to provide more info about how K-Net is being used in Kuwait?

[2021-04-02 01:28] pazza83 commented on #241
Hi are any @bisq-network/bisq-devs able to take this on?

[2021-04-02 02:26] pazza83 commented on #212
Thanks @sqrrm for implementing a solution to this.

Uphold and MoneyBeam have been sorted and there are now multiple signed accounts.

PopMoney still needs to be actioned. If there is anyone wanting to use PopMoney pease get in touch with my via Keybase user: pazza

[2021-04-04 09:38] MwithM opened #243 "Bonded small amount of BSQ sellers"
To make it easier for small volume traders, BSQ trading started with a different security model, based on bonds from sellers. See [wiki](https://bisq.wiki/Buy_BSQ#Buying_small_amounts) for details.
The first post of this issue will be updated reflecting the current valid bonds for sellers, I'll keep it updated.

- @mwithm locked 150BSQ in [txid](https://mempool.emzy.de/es/bisq/tx/b9830a33c3c17c8db

[2021-04-05 20:20] pazza83 commented on #207
For reference: Change [Optional additional information' field text on 'Cash by Mail](https://github.com/bisq-network/bisq/issues/5394)

[2021-04-05 22:01] pazza83 commented on #207
For reference: [payment reason BLANK message alert when trading (some banks require to write a reason)](https://github.com/bisq-network/bisq/issues/5395)

[2021-04-06 17:19] m52go commented on #240
**Next event is scheduled for Thursday at 6pm CET, co-hosted with @mwithm.**

Topics:
- how to upgrade Bisq's hidden service to Tor v3
- how dispute resolution works + tips in case a user is involved in a dispute

Link:
https://www.youtube.com/watch?v=s7Zb3mY1y9U

[2021-04-11 01:47] jimmyneutront commented on #219
I will be very interested in offering liquidity in the BTC/USD market if this payment method is implemented.

[2021-04-11 19:02] Mycelial1 opened #244 "Bonded sellers for the Keybase #buy-bitcoin channel"
Since the discussion around off-chain trading have begun, we now have the #buy-bitcoin and #buy-bsq channels on keybase available for traders to access their first Bitcoin for paying the Bisq security deposit, as well as selling BSQ for small amounts that would otherwise be too expensive (due to mining fees).

There has been plenty of discussion and ideas around using Bonds/Proof of Burn to create

[2021-04-11 19:03] Mycelial1 commented on #244
I will be bonding for a trade with coinhodi on keybase in the amount of 0.0077 (enough for their first security deposit plus a 10% premium).

TXID: https://mempool.emzy.de/bisq/tx/23364a00476e9c74674eec4403111d68929baffcda44f3d9f7c77575240fd0ec

We will be using Zelle as the payment method.

I set a bond of 192.50 BSQ using the 30 day average price (0.00004)

Lockup time = 7200 blocks (50 days)

[2021-04-12 17:12] m52go commented on #225
I think this payment method has gotten enough feedback to justify it being added. From a development standpoint, payment methods are not hard to add, so I'm not sure all this added time to gather feedback is worth it.

[2021-04-12 19:22] m52go opened #245 "Add semi-automated DAO reporting to website"
Proper DAO reporting is long-overdue, but probably won't be implemented [as originally envisioned (fully automated)](https://github.com/bisq-network/projects/issues/41) for a while.

Hence this initiative to add semi-automated reporting, which takes place at intervals (e.g., per-day, per-cycle) instead.

## Mid-term workaround

Reporting BTC+BSQ burning, qualitative issuance, BSQ supply, and more

[2021-04-13 08:02] ripcurlx commented on #241
@pazza83 I think it would be good to move this issue to the Bisq repository so it can be labeled accordingly and the chance increases that new devs might pick it up. WDYT?

[2021-04-13 08:04] ripcurlx commented on #241
Sorry I did miss #5384 above.

[2021-04-15 03:03] baro0k commented on #242
excuse me for being late to answer your question @pazza83 [K-net gateway ](https://www.knet.com.kw/services/payment-gateway/) is a local payment provider we use it to pay as links in between our bank accounts and it's easy to transfer a payment link via email, sms or WhatsApp since it's a almost in every phone around Kuwait. the payments can't sent back via bank or provider can't cancel the paymen

[2021-04-16 18:04] MCM-Mike commented on #205
Just a short update on this topic:

Yes we from [Grinnode.live](https://grinnode.live/) are still working on a solution for this problem.
At the moment we are developing a public API which anyone can query, when activated and use it to verify of a payment. This can be useful when you are a `mediator` or `arbitrator`
It can be activated via GRIN and has a standard `JSON API` to query if a transacti

[2021-04-16 23:41] pazza83 commented on #242
Hi @baro0k thanks for all the useful information sounds like a promising payment method.

Please can you tell me a little more with regards verification.

If someone wanted to prove that they sent the payment by K-Net how would they do this?

[2021-04-17 00:31] pazza83 commented on #225
Hi @m52go thanks I am keen to add UPI at the same time as other Indian payment methods see comment [here](https://github.com/bisq-network/bisq/discussions/5287#discussioncomment-622884).

Let me know if you think the current process of adding payment methods can be improved?

[2021-04-17 01:27] pazza83 commented on #243
Hi @MwithM is there a wiki about bonds? I have looked but cannot find anything.

I get a little confused by them.

For instance your bond of 150 BSQ. I can see it on the DAO > Bonding > Bonds. But it would be great if when a user made the bond they can link it to a GitHub issue like on the compensation requests. This would identify the user as the bond holder and prevent a scammer claiming someone

[2021-04-17 02:30] marekyggdrasil commented on #205
Hi all! The alpha version of our proof-verification API is being tested right now. As @MCM-Mike says, it is a JSON api that verifies payment proofs generated by the wallet. Users can charge their account with Grin balance by providing payment proof to grinnode.live wallet. Every response from the API is signed with `ed25519` key which also is grinnode.live wallet. For additional security you can e

[2021-04-17 06:49] MwithM commented on #243
No, there is nothing at the Wiki yet. This would be the github issue for linking the bonds, which should be updated by me on regular updates for the first comment and the keybase group headline. There's no need to create a new issue. New bonded sellers could contact me now before bonding, to help each other to do it right.
I want to get more familiar with how bonds work myself before creating a wi

[2021-04-18 15:16] pazza83 commented on #235
Paxum has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referen

[2021-04-18 15:27] pazza83 commented on #230
WorldRemit has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a re

[2021-04-18 15:45] pazza83 commented on #232
Skrill has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a refere

[2021-04-18 15:51] pazza83 commented on #233
Paysera has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a refer

[2021-04-18 15:58] pazza83 commented on #234
Jeton has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referen

[2021-04-18 16:06] pazza83 commented on #231
CelPay has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| ~~Very low risk of chargeback~~ | **No risk of chargeback**  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referen

[2021-04-18 18:21] pazza83 commented on #236
NEFT has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referenc

[2021-04-18 18:26] pazza83 commented on #237
RTGS has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referenc

[2021-04-18 18:44] pazza83 commented on #225
UPI has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a reference

[2021-04-18 18:50] pazza83 commented on #224
IMPS has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referenc

[2021-04-18 18:54] pazza83 commented on #226
PayTM has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~  | **Way to verify the sender in the received payment and ability to enter a referen

[2021-04-20 11:48] Conza88 commented on #231
What's the deal with KYC?
Ability of the state to ask them & obtain.

[2021-04-20 18:22] pazza83 commented on #231
You need to complete full KYC to open an account with Celsius https://support.celsius.network/hc/en-us/sections/360000536077-KYC-Identity-Verification

Trades using CelPay happen between users on the Celsius platform.

You can withdraw stable coin funds for free to an off platform address (non KYD'd address) but this would take 48 hours as Celsius requires users to wait 24 hours min before adding

[2021-04-21 09:20] ripcurlx commented on #241
I think this should not only be validated during account creation, but also on the trading peers side to prevent someone to bypass our form validation. This is especially important if we loosen up account signing requirements for certain SEPA countries.

[2021-04-21 20:11] pazza83 commented on #241
@ripcurlx I agree. Also need to decide what to do with historic accounts. Some users have accounts that are set up incorrectly. Any ideas how best to achieve this?

[2021-04-21 21:01] pazza83 commented on #206
I will use the following template when recommending payment methods to be added.

This is to ensure mediators, arbitrators, developers and users are clear about how the payment method will fit within Bisq.

### Proposed National Currency Payment Method Template

---

Date proposal being made:
Date feedback to be provided by:

Name of payment method:

Required fields (eg)
- Region
- Country
- Accou

[2021-04-21 21:22] pazza83 commented on #219
ACH Transfer has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment**  | ~~Way to verify the sender in the received payment and ability to enter a

[2021-04-21 21:26] pazza83 commented on #218
Domestic Wire Transfer has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment**  | ~~Way to verify the sender in the received payment and ability t

[2021-04-21 21:44] pazza83 commented on #217
TransferWise-USD has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter

[2021-04-21 21:48] pazza83 commented on #238
ATH Móvil has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a refe

[2021-04-21 21:54] pazza83 commented on #220
Strike (Beta) has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a

[2021-04-21 21:59] pazza83 commented on #222
Bizum has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a referenc

[2021-04-21 22:02] pazza83 commented on #223
Verse has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a referenc

[2021-04-21 22:04] pazza83 commented on #227
Monese has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a referen

[2021-04-21 22:06] pazza83 commented on #213
Satispay has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a refer

[2021-04-22 07:23] ripcurlx commented on #241
For incorrect historic accounts - they are incorrect accounts that could cause unnecessary arbitration cases, so I would also render them as invalid IMO.

[2021-04-27 23:33] pazza83 commented on #223
Verse will no longer be available to UK based users:

Email from 27.04.21

[2021-04-28 00:25] Aman-1412 commented on #225
I'm not sure how straightforward it is to integrate new payment methods in Bisq. But when using a payment gateway like Razorpay, PayU, JusPay, etc. these allow to make payments via all of - UPI, IMPS, PayTM including Credit/Debit card and some other methods as well.

NEFT/RTGS may/may not be included in these payment gateways. However, NEFT/RTGS do amount for majority of the 'volume' transactions,

[2021-04-30 18:55] flix1 commented on #243
What a great idea! I'm will try to create a bond as well.

[2021-05-01 07:39] MwithM commented on #243
I still find missing a way to identify this bond with your identity, other than you communicated in advance the creation of this bond.
There should be something you "reveal" to us that only you can. I see the salt on my bond, but I don't know what would you gain by knowing it, there must be a way to verify that.

I have updated this first post and will update #buy-bsq channel header. Do you know a

[2021-05-01 10:02] flix1 commented on #243
No. But 10.000 blocks is ≈ 100.000 minutes -> 1.666 hours -> 69 days.

[2021-05-01 15:13] pazza83 commented on #192
Efecty has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| ~~Very low risk of chargeback~~  | ~~No risk of chargeback~~  | **< very low risk of chargeback**  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a referen

[2021-05-01 15:27] pazza83 commented on #193
Nequi has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment** | ~~Way to verify the sender in the received payment and ability to enter a referenc

[2021-05-01 15:35] pazza83 commented on #194
Daviplata has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment** | ~~Way to verify the sender in the received payment and ability to enter a refe

[2021-05-01 17:19] pazza83 opened #246 "Add Capitual - Multi-currency payment method; EUR, BRL, USD and GBP"
## Capitual - Multi-currency

[Capitual Website](https://www.capitual.com/)
[Capitual Fees & Limits](https://exchange.capitual.com/)
[Capitual GitHub](https://github.com/capitual)
[Capitual Help Centre](https://help.capitual.com/en)
[Terms and conditions](https://my.capitual.com/legal#tos)
[Prohibited uses](https://static.capitual.net/legal/prohibited-businesses.pdf?view)
[Capitual Twitter](https:

[2021-05-01 17:20] pazza83 commented on #215
Closing as I have created: https://github.com/bisq-network/growth/issues/246

[2021-05-01 17:20] #215 closed

[2021-05-01 17:27] pazza83 commented on #246
Capitual has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment**  | ~~Way to verify the sender in the received payment and ability to enter a refe

[2021-05-01 17:32] pazza83 commented on #208
PIX has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| **Way to verify the sender in the received payment** | ~~Way to verify the sender in the received payment and ability to enter a reference~

[2021-05-01 17:37] pazza83 commented on #239
BitRefill has been scored for inclusion to Bisq:

| Essential   | Desirable | Definite No’s |
| ------------------- | ------------------- | ------------------- |
| **Very low risk of chargeback**  | ~~No risk of chargeback~~  | ~~< very low risk of chargeback~~  |
| ~~Way to verify the sender in the received payment~~ | **Way to verify the sender in the received payment and ability to enter a refe

[2021-05-01 18:11] pazza83 commented on #234
I am not recommending this payment method for addition to Bisq due to:

- Fees being a barrier to trading
- No significant user base

[2021-05-01 18:11] #234 closed

[2021-05-01 18:13] pazza83 commented on #194
The above payment methods would be suitable if it were not for the low limits of around 0.01 BTC max transaction limit or under. I think this will likely cause issues in the months ahead and, therefore, these payment methods can be re-visited when the on chain miner fee problems have been reduced.

[2021-05-01 18:13] #194 closed

[2021-05-01 18:14] pazza83 commented on #238
The above payment methods would be suitable if it were not for the low limits of around 0.01 BTC max transaction limit or under. I think this will likely cause issues in the months ahead and, therefore, these payment methods can be re-visited when the on chain miner fee problems have been reduced.

[2021-05-01 18:14] #238 closed

[2021-05-01 18:16] #192 closed

[2021-05-01 18:35] pazza83 commented on #239
### BitRefill - Proposed National Currency Payment Method

I am proposing that BitRefill be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how BitRefill will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided b

[2021-05-01 18:38] pazza83 commented on #208
### PIX - Proposed National Currency Payment Method

I am proposing that PIX to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how BitRefill will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.

[2021-05-01 18:46] pazza83 commented on #193
## Nequi - Proposed National Currency Payment Method

I am proposing that Nequi to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Nequi will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.21

Na

[2021-05-01 18:50] pazza83 commented on #223
### Verse - Proposed National Currency Payment Method

I am proposing that Verse to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Verse will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.

[2021-05-01 18:55] pazza83 commented on #213
### Satispay - Proposed National Currency Payment Method

I am proposing that Satispay to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Satispay will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided b

[2021-05-01 18:58] pazza83 commented on #227
### Monese - Proposed National Currency Payment Method

I am proposing that Monese to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Monese will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.

[2021-05-01 19:01] pazza83 commented on #222
### Bizum - Proposed National Currency Payment Method

I am proposing that Bizum to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Bizum will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

---

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.

[2021-05-01 19:18] pazza83 commented on #219
## ACH Transfer - Proposed National Currency Payment Method

I am proposing that ACH Transfer to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how ACH Transfer will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.05.21
Date feedback to be prov

[2021-05-01 19:18] pazza83 commented on #218
## Domestic Wire Transfer - Proposed National Currency Payment Method

I am proposing that Domestic Wire Transfer to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Domestic Wire Transfer will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.

[2021-05-01 19:22] pazza83 commented on #220
## Strike - Proposed National Currency Payment Method

I am proposing that Strike to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Strike will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.21

[2021-05-01 19:24] pazza83 commented on #217
## TransferWise-USD - Proposed National Currency Payment Method

I am proposing that TransferWise-USD to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how ACH Transfer will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.05.21
Date feedback to

[2021-05-01 19:34] pazza83 commented on #236
## National Electronic Funds Transfer (NEFT) - Proposed National Currency Payment Method

I am proposing that National Electronic Funds Transfer (NEFT) to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how National Electronic Funds Transfer (NEFT) will be mediated / arbitrated. If you have any objection please l

[2021-05-01 19:36] pazza83 commented on #237
## Real-Time Gross Settlement (RTGS) - Proposed National Currency Payment Method

I am proposing that Real-Time Gross Settlement (RTGS) to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Real-Time Gross Settlement (RTGS) will be mediated / arbitrated. If you have any objection please let me know by 31 May 202

[2021-05-01 19:38] pazza83 commented on #225
Hi @Aman-1412 thanks for the comments. Will take a look at Razorpay, PayU and JustPay once the current payment methods proposed for India have been added.

[2021-05-01 19:43] pazza83 commented on #225
## Unified Payments Interface (UPI) - Proposed National Currency Payment Method

I am proposing that Unified Payments Interface (UPI) to be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Unified Payments Interface (UPI) will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

[2021-05-01 19:45] pazza83 commented on #226
## PayTM - Proposed National Currency Payment Method

I am proposing that PayTM be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how PayTM will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Date proposal being made: 01.05.21
Date feedback to be provided by: 01.05.21

Name

[2021-05-01 19:48] pazza83 commented on #224
## Immediate Payment Service (IMPS) - Proposed National Currency Payment Method

I am proposing that Immediate Payment Service (IMPS) be added as a national currency payment method.

@refund-agent2, @huey735, @leo816 please let me know if you have any questions as to how Immediate Payment Service (IMPS) will be mediated / arbitrated. If you have any objection please let me know by 31 May 2021.

Da