[2017-11-30 14:01] ripcurlx opened #1 "Pro-active interact with users on Twitter that have requests/complaints about Bisq or other exchanges"
## Learning Goal
To find out, if an increased interaction on twitter will have a significant impact on app downloads.

## Hypothesis
More interactions with twitter users on the topic of cryptocurrency exchanges and increased references of @bisq_network will increase the social traffic share by 5%

## Metric
The current traffic share from social channels is 7% and the share within social of twitter

[2017-11-30 14:09] ripcurlx opened #2 "Contact twitter influencers who talk or follow competitors and spark discussion on Bisq"
## Learning Goal
To find out, if conversations with twitter influencers will have a significant impact on app downloads.

## Hypothesis
More interactions with twitter influencers will increase the social traffic share by 5%

## Metric
The current traffic share from social channels is 7% and the share within social of twitter is 9%.
We could measure the session increase and download numbers from tw

[2017-11-30 14:32] ripcurlx opened #3 "Vote, interact in forum and exchange page of cryptocompare.com"
## Learning Goal
### Sources for downloads

Source/Medium|Users
----------------|------
google/organic|24.31%
(direct)/(none)|21.04%
bitcoin.org/referral|18.30%
reddit.com/referral|6.08%
cryptocompare.com/referral|5.60%
bestbitcoinexchange.io/referral|1.50%
github.com/referral|1.35%
t.co/referral|1.14%
bitcointalk.org/referral|1.07%

How much burst in downloads can we create by actively interact o

[2017-11-30 14:38] mrosseel commented on #3
great experiment, one question though: how stable is that 5.6% been the last month/year? So in other words, what kind of difference can we say is statistically significant?

[2017-11-30 14:50] ripcurlx commented on #3
At the moment we only have numbers since 16th of November as I've deployed the changes to the website at this time. How long it will take to reach statistically significant is just a matter of numbers of downloads and difference between the current share. I'll set up a formula for that. But good that you asked, I used the sessions not the downloads. Just fixed it in the document above.

[2017-12-01 08:29] flix1 opened #4 "Produce "How to buy bitcoin with $XYZ using Bisq" videos"
... where $XYZ is a given fiat currency, e.g. $EUR, $USD, $INR, $NGN, etc.

Screencap
< 5m
"How to"

Videos must be short (5m) and show real examples of use in screen capture format. Simultaneous narration of the steps taken onscreen can also be helpful.

---------------
A bounty is going to be put on each of these videos.

For a video to be acceptable to receive the bounty:
-It must be published

[2017-12-01 09:51] ripcurlx commented on #4
As discussed on [Slack](https://bisq.network/slack-invite) this could be a great way to onboard pro and noob players alike.

I'm very in favor of this idea, as it would help us to find out, if videos are more convincing to try out Bisq than plain text - we might already know the outcome of this ;-)

Uploading it to Youtube or a similar video hosting provider it would also enable us to easily track

[2017-12-01 09:53] ripcurlx commented on #4
Just for completeness I'm adding example content/titles for the screencasts (kudos to @flix1 ):

- "How to buy Bitcoin with Euros on Bisq"
- "How to buy Bitcoin with GBP on Bisq"
- "How to buy ETH with BTC on Bisq"...

[2017-12-01 10:02] cbeams opened #5 "2017.12.06 growth call"
- **Date:** Wed Dec 6th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom conferencing, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that yo

[2017-12-01 10:03] ripcurlx opened #6 "Provide an easy to copy example/guide on how to use our trading API"
## Learning Goal
Are we able to convince people to use and play around with our API to increase liquidity on Bisq?

## Hypothesis
By providing an easy-to-use example of the trading API, we convince people to use it for automatic trading.

## Metric
To be honest I'm not sure how we would be able to differentiate orders from automated and manual trades. Maybe @mrosseel has an idea how to measure the

[2017-12-01 10:39] ripcurlx opened #7 "Reach out to localbitcoins experienced traders (kudos to @flix1)"
## Learning Goal
Are we able to convince localbitcoins pro traders to also trade on Bisq?

## Hypothesis
By personally contacting localbitcoins pro traders, we are able to convince at least 5 of them to place offers and try Bisq out for a few weeks.

## Metric
As this is not easy to measure exactly, it will be more an monitoring of the platform volume and the direct communication with the pro trad

[2017-12-04 10:30] ripcurlx opened #8 "[Draft] Referral program"
## Learning Goal
Can we sustainable increase growth by setting up a referral program?

## Hypothesis
By incentivising people to invite their friends we expect an additional growth of downloads/trades by x%.

## Metric
By tracking accepted invite codes within the platform we will be able to measure the success and calculate a growth factor for it.

## Experiment
For this program to work we need to

[2017-12-04 17:51] ripcurlx commented on #5
## Pre Meeting Expectations
As this meeting is the first of its kind, the agenda will differ from how it will be in the future. This meeting will be all about ideas to **grow liquidity**. As our growth meetings will only run for 45 minutes we'll have to do everything to make them as efficient as possible. Please take your time to go through following list before the meeting:

- Look at existing ex

[2017-12-05 11:04] ripcurlx opened #9 "[DRAFT] Improve README.adoc"
## Goal/Objective
To enable anyone to contribute to Bisqs success we need to communicate how we tackle growth at Bisq.

## Draft
Following structure is strongly inspired by Brian Balfour, Sean Ellis and many others.

# Goals of our Growth Process

- **Learning**
Constant learning of our customer, product, channels and feeding that learning into the process to improve.
- **Rhythm**
 Momentum is pow

[2017-12-05 13:20] ManfredKarrer commented on #8
What is your idea how to pay out the trade fee? It goes directly to the arbitrator in the trade process. With BSQ fees they will get burned (too small  to transfer in a BTC tx).
I could only see a way to use the compensation requests but they are usually designed for larger payments (min 100 USD) not for micro payments and require a fee in BSQ. They also add work for all stakeholders for evaluatin

[2017-12-05 13:43] ManfredKarrer opened #10 "Get Reddit active again"
## Learning Goal/Objective
See if more activity on Reddit will bring us new users and increase liquidity.
Find community members taking a more active role there.
The activity should not be only focussed on our subreddit (r/bisq) but also r/Bitcoin and other relevant subreddits like trading or altcoin channels.
- Bring Bisq into discussions where it benefits the thread
- Engaging in education and s

[2017-12-05 13:56] ManfredKarrer opened #11 "Add feedback form into app"
## Learning Goal/Objective
We want to see if users are using a feedback form and what the feedback is from their trade experience (specially after a completed trade and dispute).
This can provide a valuable information for us for improving Bisq as well as can satisfy the user emotionally if they see that we are interested in what their experienced with Bisq was.
It has to be implemented in a way w

[2017-12-06 08:17] ripcurlx commented on #5
## Agenda

**10 min:** Short introduction on the topic of this meeting: **Grow Liquidity** and on future structure of Growth Meetings
**10 min:** Depending on the number of participants short introduction round
**25 min:** Select tests/experiment for this week. Talk about how we handle assigning of tasks, roles and compensation

[2017-12-06 08:34] ripcurlx commented on #8
Yes, it is quite tricky in our case to set it up, especially if we don't have "real" user accounts. But I wanted to put it out there, so we, as a crowd, might come up with a good idea on how to nudge people to share Bisq with their friends (besides the fact that Bisq is such a great tool, that everyone wants to share it anyways ;-) ).

[2017-12-06 17:12] csacher commented on #5
## Log for Growth Call #1

Join the log of the upcoming call:
https://docs.google.com/document/d/19gMJKJa1oJ3UURqOTAOva5EglUr-7AQOluf1IQZ_ZWE/edit?usp=sharing

[2017-12-06 20:51] ripcurlx opened #12 "EUR/BTC liquidity bootstrap week"
## Learning Goal/Objective
If we provide enough liquidity for the EUR/BTC order book, we bootstrap the market for organic growth.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by x (everyone placed its own bet) percent.

## Experiment Design
Every participant on the experiment tries to keep two offers (1 buy, 1 sell with low distance from market price) open

[2017-12-07 09:07] csacher commented on #5
# **Bisq** - Growth Call #1

**Date:** Wed Dec 6th
**Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
**Place:**   Zoom
**Recordings:** [Part 1](https://www.dropbox.com/s/z1yu8l7nq699ldm/growth-call-%231-part1.mp4?dl=0) and [Part 2](https://www.dropbox.com/s/8m03dj75ik5wi7f/growth-call-%231-part2.mp4?dl=0)

**Joined By:** ripcurlx, cbeams, csacher, flix1, Manfred Karrer, Stephan Emzy,

[2017-12-07 10:46] cbeams commented on #5
Thanks everyone who attended, and thanks @csacher for recording and transcribing notes from the call above! Are we ready to close this issue, then? The experiment we're setting out on this week is captured in #12, and I think it would be best to capture any other actions as separate issues at this point. I'll leave this open for a little while in case anyone thinks differently about it.

[2017-12-07 11:34] ripcurlx commented on #12
Current Weekly Growth Bets

User|BTC Volume Growth|EUR Volume Growth
----|---------------------|-------------------
ripcurlx|+30%|+50%
mkarrer|+42%|+66%
meapistol|+/-0%|+10%

[2017-12-07 11:39] csacher commented on #12
BTC Growth: 49%
EUR Growth: 75%

[2017-12-07 11:43] mrosseel commented on #12
BTC: 10%
EUR: 20%
TRADES: 30%

[2017-12-07 13:09] cbeams commented on #12
BTC volume growth: +25%
EUR volume growth: +50%
# of (BTC/EUR) trades growth: +50%

P.S.: @ripcurlx, please @mention users wherever possible, e.g. in the User column in the table above, as it ensures folks get notified, reduces chances of typos, etc, thanks.

[2017-12-08 13:17] #5 closed

[2017-12-12 09:33] ripcurlx commented on #12
Please add your learnings as a comment to this experiment issue. I’ll consolidate them before our next growth meeting tomorrow.

[2017-12-12 09:34] ripcurlx commented on #12
Learnings:
- it's difficult to get an overlook on how much you've gained/lost with all the trades
- there is no easy way to find out the trading fee paid after a trade is completed or in progress
- the mining fee is the bigger part/influencer of the trading costs
- selling offers with a high distance (2.5%) is faster than having the same spread on buy offers (varies a lot depending on market situa

[2017-12-12 09:42] mrosseel commented on #12
My learning: tx fees and to a lesser extent Bisq fees put non-intuitive constraints to the offer value+distance combo. We should put this into a spreadsheet and play with it so we can give recommendations to localbitcoin traders/adjust fee structures/...

[2017-12-12 10:43] flix1 commented on #12
Market making milestones:

*Phase 1:* Minimal order book (1 offer on each side, spread < 10%, total offered > 0.1 BTC)
*Phase 2:* Retail order book (10 offers on each side, spread < 3%, total offered > 5 BTC)
*Phase 3:* Trading order book (20 offers on each side, spread < 1%, total offered > 10 BTC)
*Phase 4:* Wholesale order book (50 offers per side, spread < 0.5%, total offered > 50 BTC)
*Phase

[2017-12-12 10:44] flix1 commented on #12
EUR/BTC is at Phase 2. I believe if we manage to keep it there for a few weeks and at the same time push to attract localbitcoin traders we can get it to level 3 in January.

Then we need to focus on USD/BTC. I know it's difficult... but breaking the USD market is a key challenge.

[2017-12-12 11:02] flix1 commented on #12
Learnings:
-Bitcoin network congestion kills usability of Bisq
-Low spread (<1%), small quantity (0.01) offers are taken very quickly.
-Even when price volatility is high and confirmation was delayed, promises were fulfilled.
-Nobody is using SEPA Instant Payments yet.

[2017-12-12 11:06] flix1 commented on #12
One of my trades remained unconfirmed for over 6 days:
06ad9f232a1f955a03c129417a458459fed03a74a04e492a9f16fae9ad6d1135

On the other hand I did another on Monday, after mempool had cleared, and completed everything within 24 hours. SEPA can be fast!

[2017-12-12 17:47] ripcurlx opened #14 "Research and add payment methods"
## Learning Goal/Objective
To find out which payment methods our customers want to use to settle their trades

## Hypothesis
If the experiment is successful, I predict we see 20% more trading volume per month because of the usage of new payment methods.

## Experiment Design
First we have to find out which are the most promising  payment methods for us to use.
We want:
- fast transaction time
- no

[2017-12-12 17:52] ripcurlx opened #15 "Bootstrap USD/BTC liquidity"
## Learning Goal/Objective
If we provide enough liquidity for the USD/BTC order book, we bootstrap the market for organic growth.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by x (everyone placed its own bet) percent.

## Experiment Design
Every participant on the experiment tries to keep two offers (1 buy, 1 sell with low distance from market price) open

[2017-12-13 09:17] ripcurlx opened #16 "Dec 13th growth call"
- **Date:** Wed Dec 13th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom conferencing, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2017-12-13 17:11] ripcurlx commented on #16
Please review experiment pipeline and last weeks metrics to be up-to-date for today’s growth meeting.

- [Experiment Pipeline](https://github.com/bisq-network/growth/issues)
- [Trading volume of last week](https://docs.google.com/spreadsheets/d/1o-I5fAx7DJRVqYjW8fPbo0ztlGIhIZ1EM2iLc5aEHnA/edit#gid=1272392286?usp=sharing)

[2017-12-13 18:47] ManfredKarrer commented on #12
@flix1 We adjusted the fee estimations. So your first trade was probably with the old fee estimations where we have been a bit too low with recent congestion.

[2017-12-13 18:59] cbeams commented on #16
Please also review the learnings from last week's experiment, starting with https://github.com/bisq-network/growth/issues/12#issuecomment-350995920

[2017-12-13 19:01] cbeams commented on #16
Note to all, @csacher won't be on the call, but he plans to watch the recording later tonight and has offered to take notes while he does and then paste a link to / transcribe them here afterward.

[2017-12-13 19:07] cbeams commented on #16
Actually, I just realized when reading the agenda for these meetings at https://github.com/bisq-network/growth/blob/master/docs/growth-meeting.md, that we will go through the learnings as part of the call, so no need to try to rush through reading them!

[2017-12-13 19:09] cbeams commented on #16
## Additional agenda suggestions

In addition to the standard agenda, here are a few things I'd like to discuss, if we have time:

 - [ ] Should we continue doing open invites on Twitter to these calls? I did it last week, but I didn't do it this week
 - [ ] 5-minute timeboxed discussion of whether participating in this kind of liquidity experiments is something we want to submit and vote on BSQ c

[2017-12-13 19:10] ManfredKarrer commented on #12
Learnings:
- We need to adjust faster to fee situation. We increased fees now a lot to get fast confirmations but that drives up total trade fee. So we need to go back asap. Fee estimation services are still very bad and most time they suggest way too high fees. We will try to make some automated adjustments (e.g. if mempool gets filled we increase). Finding an experienced Bitcoin dev in that area

[2017-12-13 19:13] ManfredKarrer commented on #12
Btw. Altcoin trade can be quite fast. Just did 3 and got all completed in < 5 min.

[2017-12-13 19:14] cbeams commented on #12
My Learnings:

 - My four offers to sell 0.5–0.25 BTC @ 1% distance from market price were taken within roughly 24 hours
 - They took ages to settle (actually the last two just settled today) because of the fee / congestion issue and slow tx confirmation times that resulted.
 - I placed no further trades throughout the week than those initial four, so I essentially dropped out / didn't participate

[2017-12-13 19:57] flix1 commented on #7
I'll have a first draft of a pitch to LBC traders in a few days, share it on slack and incorporate feedback for next week's call.

[2017-12-13 19:59] cbeams commented on #7
@flix1 agreed on today's growth call (#16) to pick this issue up. By next week's call (Thu the 20th), the plan is to have a draft of a "pitch" document for LocalBitcoins traders. A "call sheet" of sorts that we can work from when talking to them, detailing:
 - the advantages of Bisq, especially from the perspective of an LBC trader.
 - a simple set of instructions how to get started providing liqu

[2017-12-13 22:58] csacher commented on #16
## Call notes
_(transcribed from the [GDoc](https://docs.google.com/document/d/1MKIOYAAqW9YP-Pv79InvXE_qrdhKtpxZ4iRY4m04oKo/edit?usp=sharing))_

**Date:** Wed Dec 13th
**Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
**Place:**   Zoom
**Recordings:** [Part 1](https://www.dropbox.com/s/u1ag90cj95d5jic/growth-call-%232-part1.mp4?dl=0) and [Part 2](https://www.dropbox.com/s/4gwfvnjo2450

[2017-12-14 07:00] ripcurlx commented on #12
And the winner of our experiment estimation bet is @cbeams with a total difference of 17% to the final numbers!

2nd place (ex aequo): @ManfredKarrer & @ripcurlx (22% distance)

_Number # Trades Growth side bet_:
Winner is @ManfredKarrer with 8% distance!

[2017-12-17 16:30] flix1 commented on #7
**Pitch 1 - Speed**
Bisq is the only Bitcoin exchange where you can be trading in 10 minutes. No account needed. No waiting for verification. No ID required.
Private. Safe. Decentralized.   https://bisq.network/

**Pitch 2 - Privacy**
Bisq is the only Bitcoin exchange where your privacy is respected. No account needed. No ID required. No KYC.
Private. Safe. Decentralized. https://bisq.network/

**

[2017-12-18 09:04] flix1 opened #17 "List Bisq on Coinmarketcap, Bitcoincharts."
## Learning Goal/Objective

## Hypothesis

## Experiment Design

## Resource Estimation and Probability

## Results

## Learnings

## Action Items

[2017-12-18 09:07] flix1 commented on #15
Before we can bootstrap USD liquidity we need to review payment methods and research which USD payment methods can combine security, fraud prevention requirements (no chargebacks) with speed and with a large user base.

[2017-12-18 09:14] flix1 commented on #15
Localbitcoins has the following payment methods for USD:
-Cash by Mail
-OKPay
-Perfect Money
-Payeer
-Transfers with specific bank
-Paxum
-International Wire (SWIFT)
-WebMoney
-Cash Deposit
-Western Union
-Neteller
-Other online payment: Revolut
-National bank transfer: United States
-Payoneer

[2017-12-18 10:01] flix1 commented on #15
Market making milestones:

Phase 1: Minimal order book (1 offer on each side, spread < 10%, total offered > 0.1 BTC)
Phase 2: Retail order book (10 offers on each side, spread < 3%, total offered > 5 BTC)
Phase 3: Trading order book (20 offers on each side, spread < 1%, total offered > 10 BTC)
Phase 4: Wholesale order book (50 offers per side, spread < 0.5%, total offered > 50 BTC)
Phase 5: Instit

[2017-12-18 11:02] flix1 opened #18 "Optimize fees for small size trades"
## Learning Goal/Objective

## Hypothesis

## Results

## Learnings

## Action Items

[2017-12-18 11:03] cbeams commented on #12
Closing as complete. Thanks all who participated.

[2017-12-18 11:03] #12 closed

[2017-12-18 11:27] flix1 commented on #18
-Currently for a small trade (0.01 BTC) the minimum fee is a huge 12% (2% trade fee + 9.6% mining fee).
-For 0.1 BTC trades total fees are quite reasonable... <1.5% in total (0.20% trade + 0.95% mining).

[2017-12-19 08:31] jt007 opened #19 "Solution for better liquidity"
This is a really great initiative! The primary challenge I see so far, is too low liquidity. This result in a big price difference between buyer and seller, which means a bad price compare to average market price for one or both traders. Sometimes there is also no seller or no buyer.

To solve this, I think there must be less alternatives when it comes to Fiat currencies. If you instead choose jus

[2017-12-19 10:21] cbeams commented on #19
I don't see how reducing the number of fiat currencies available would increase the liquidity of any of the currencies that remain. I think you're suggesting that people would do bank transfers from their local currency, say, SEK into EUR, but this assumes that they are (a) using a payment method that makes this sort of currency exchange possible in the first place (some banks do, others don't) an

[2017-12-19 10:21] #19 closed

[2017-12-19 10:24] flix1 commented on #17
Request form submitted to include Bisq on Coinmarketcap

[2017-12-19 10:25] flix1 commented on #17
Bitcoincharts requirements are here:  https://bitcoincharts.com/about/exchanges/

[2017-12-20 10:42] ripcurlx commented on #17
Not sure if our API supports `Accept-Encoding: gzip` or `ETag` header (@dan-da) which are both optional, but everything else should be available through our api: https://markets.bisq.network/api/

[2017-12-20 10:48] ripcurlx commented on #17
I just checked the referrals for coinmarketcap.com in GA and saw that we are already listed there for some time: https://coinmarketcap.com/exchanges/bisq/
But traffic seems to pick up since December
![Traffic from coinmarketcap.com](https://user-images.githubusercontent.com/170962/34203474-86b1b82e-e57b-11e7-85ce-d66e791910fe.png)

I don't see any traffic from bitcoincharts.com yet.

[2017-12-20 10:51] ripcurlx commented on #17
@flix1 Shall I contact bitcoincharts.com directly to add Bisq?

[2017-12-20 10:58] flix1 commented on #17
@ripcurlx sure. Go ahead.

[2017-12-20 11:11] ripcurlx commented on #9
[README](https://github.com/bisq-network/growth/blob/master/README.adoc) already created.

[2017-12-20 11:11] #9 closed

[2017-12-20 11:11] flix1 commented on #4
A bounty is going to be put on each of these videos.

For a video to be acceptable to receive the bounty:
-It must be published on YouTube or Vimeo.
-Image and sound quality must be good, if not necessarily professional.
-It must NOT be longer than 5 minutes.
-Video creator must allow it to be published in Bisq's own Youtube channel (with credit to creator).
-Narration must be in English, clear vo

[2017-12-20 11:13] ripcurlx opened #20 "Dec 21st growth call"
- **Date:** Thu Dec 21st
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom conferencing, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2017-12-20 11:33] ripcurlx commented on #7
To have it in one place, I've copied over the Localbitcoins traders suggestions from @flix1 from the slack #growth channel:

## Twitter
- https://twitter.com/thebitcoinking, https://localbitcoins.com/accounts/profile/McVillan/
- https://twitter.com/Mqrius, https://localbitcoins.com/accounts/profile/Mqrius/
- https://twitter.com/vnistor
- https://twitter.com/kryptokitty
- https://twitter.com/afford

[2017-12-20 13:12] cbeams commented on #4
Work on the first of these videos is being managed at bisq-network/youtube#1. Thanks @flix1 and @leomcy for taking this on!

[2017-12-20 18:32] flix1 commented on #8
This is interesting... I have been thinking quite a bit about how to incentivise growth and a referral progarm might work and be scalable. However it is very hard to do without identity..

[2017-12-20 18:42] ManfredKarrer commented on #8
"For example a 50 BSQ reward for anyone who does a first trade in a new currency or successfully tests a new payment method.": Good idea!

[2017-12-21 09:25] #16 closed

[2017-12-21 19:10] csacher commented on #20
The notes for today's call: https://docs.google.com/document/d/15YyvPF95acFngfj5QSKcDgB6zNLmbNk2wmvA9i_mICI/edit?usp=sharing

[2017-12-22 07:13] ripcurlx opened #21 "Bootstrap/Increase BTC_XMR (Monero) liquidity"
## Learning Goal/Objective
If we reach out to the Monero community and/or provide enough liquidity for the BTC/XMR order book, we bootstrap the market for organic growth.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 25 percent.

## Experiment Design
We collect the most important channels for Monero and coordinate a marketing campaign by talking about Bi

[2017-12-22 07:45] cbeams commented on #20
Thanks, @csacher. So glad you captured this, since I couldn't make the call.

[2018-01-15 12:27] ripcurlx commented on #17
bitcoincharts.com responsed beginning of this year:

So if we want to get listed we need to provide them with a different API endpoint that matches their requirements on the response objects.

[2018-01-17 20:01] ripcurlx opened #22 "Jan 18th growth call"
- **Date:** Thu Jan 18th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom conferencing, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-01-17 20:02] #20 closed

[2018-01-17 20:04] cbeams commented on #22
@flix1 and I want to discuss criteria for marking issues as as a `$BSQ bounty`. This isn't strictly `growth`-related, so I'm happy to wait and see if we have time to discuss it. If not, @flix1 and I can do something 1:1 later.

[2018-01-17 20:14] ripcurlx commented on #22
Updated agenda and fixed wrong date (thanks @flix1 for bringing this up)

[2018-01-18 16:22] flix1 commented on #22
My suggestion is that we offer bounties for first trades in a new currency... starting with a few strategic currencies that have never had a Bisq trade:

**NGN** - Nigerian Naira
**INR** - Indian Rupee
**RUB** - Russian Ruble
**ARS** - Argentinian Peso
**KRW**  - South Korean Won
**PHP** - Philippine Peso

The bounty need not be very large... maybe $BSQ 50-100 each. But doing the research and taki

[2018-01-18 19:56] flix1 opened #23 "Complete the 1st trade in NGN/BTC"
Complete the first Bisq trade in Nigerian Naira (NGN/BTC) and report back with 3 lines of feedback here on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-18 19:58] flix1 opened #24 "Complete the 1st trade in INR/BTC"
Complete the first Bisq trade in Indian Rupees (INR/BTC) and report back with 3 lines of feedback here on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-18 19:59] flix1 opened #25 "Complete the 1st trade in RUB/BTC"
Complete the first Bisq trade in Russian Rubles (RUB/BTC) and report back with 3 lines of feedback here on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-18 20:00] flix1 opened #26 "Complete the 1st trade in ARS/BTC"
Complete the first Bisq trade in Argentinian Pesos (ARS/BTC) and report back with 3 lines of feedback here on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-18 20:02] flix1 opened #27 "Complete the 1st trade in KRW/BTC"
Complete the first Bisq trade in South Korean Won (KRW/BTC).

Report back here with 3 lines of feedback on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-18 20:03] flix1 opened #28 "Complete the 1st trade in PHP/BTC"
Complete the first Bisq trade in Philippine Peso (PHP/BTC).

Report back here with 3 lines of feedback on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-19 10:38] flix1 opened #29 "Complete the 1st trade in GHS/BTC"
Complete the first Bisq trade in Ghanaian Cedis (GHS/BTC) on Bisq.

Report back here with 3 lines of feedback on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-19 10:40] flix1 opened #30 "Complete the 1st trade in KES/BTC"
Complete the first Bisq trade in Kenyan Shilling (KES/BTC) on Bisq.

Report back here with 3 lines of feedback on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

**Bounty: 50 $BSQ**

[2018-01-22 09:39] ripcurlx opened #31 "Launch Bisq on producthunt.com"
As ProductHunt has a very tech-savy and investment interested audience we could think about launching Bisq there as soon as the Bisq DAO is ready.

[2018-01-22 09:47] ripcurlx opened #32 "Launch a twitter hash tag campaign"
We could think about using a specific hash tag (e.g. #beyourownexchange) on all personal and Bisq tweets to raise awareness around decentralized exchanges. Maybe even get other exchanges on board to use it as well?.

Example:
[code]

[2018-01-22 10:11] cbeams commented on #22
Closing as complete.

 - Video is up at https://youtu.be/f_E5PvxN_xk
 - Notes are at https://goo.gl/jakVqt (thanks, @csacher!)
 - Tweet announcing the above at https://twitter.com/bisq_network/status/955382152459321344

[2018-01-22 10:11] #22 closed

[2018-01-22 11:58] ripcurlx opened #33 "2018.01.25 Growth call"
- **Date:** Thu Jan 25th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-01-22 12:04] cbeams commented on #33
@ripcurlx, I've changed the title to use 2018.01.25 date notation, as this is an unambiguous format for both US and European minds, and I've also removed the `#5` notation, as (a) I'm not sure it adds any value, and (b) it conflicts with GitHub's own issue numbering notation, eg. this issue is #33, so it's odd to see issues with titles like `Growth call #5 #33`. Ok for you?

[2018-01-22 19:41] flix1 commented on #30
Most KES/BTC trades on Localbitcoins are done with M-PESA Kenya (Safaricom). Volume is significant and growing according to https://coin.dance/volume/localbitcoins/KES.

Somebody who already trades on localbitcoins from Kenya would probably be the best candidate to earn this bounty.

[2018-01-22 19:48] flix1 commented on #29
Localbitcoins Ghana has a few offers, most with **Cash deposit: MTN Mobile money with Ghanaian Cedi (GHS)**. Low volume.

[2018-01-22 19:52] flix1 commented on #25
Most Localbitcoins offers for RUB/BTC are for **Transfers with specific bank**.  Сбербанк (Sberbank) is most frequent.

Volume is significant and growing.
https://coin.dance/volume/localbitcoins/RUB

[2018-01-22 19:54] flix1 commented on #23
Most frequent payment system on Localbitcoins is **National Bank Transfer: Nigeria**.
Volume is growing rapidly:
https://coin.dance/volume/localbitcoins/NGN

[2018-01-22 19:57] flix1 commented on #27
Very little activity on Localbitcoins for Korea. No significant volume.

[2018-01-22 20:01] flix1 commented on #24
Most Localbitcoin offers for India are with **IMPS Bank Transfer India**.
Also used:
-National Bank Transfer: India.
-Neteller
-PayTM
-Skrill
-Tez (Phonepay)

Medium volume. Stable.
https://coin.dance/volume/localbitcoins/INR

[2018-01-23 11:15] cbeams commented on #32
#BeYourOwnExchange is perhaps interesting, but I usually find hashtags like this to be gimmicky. Not always, but usually. I tend to use them very sparingly.

As for hashtags like `#decentralized` and `#exchange`, I think they're not just useless (because I don't think anyone is actually clicking on them / searching by them) but actually a negative: using hashtags in this manner always reads to me

[2018-01-23 11:52] cbeams commented on #31
+1. I pay fairly close attention to Product Hunt as well, and have thought about launching Bisq there too. I think you're right that it's too early right now (for a few reasons), but I'd like to seriously consider it at some point in the post-phase zero future.

[2018-01-24 08:03] ripcurlx commented on #32
No offense taken :-). Regarding using hashtags within the the post, I have no strong opinion, as I just started using twitter more over the last couple of months and I wanted to see if the hashtags discoverability is as effective as on instagram. I also agree that quality of posts is the most important thing to focus on. So the idea was just to use some hashtag people and other decentralized excha

[2018-01-24 10:08] ripcurlx commented on #33
We are discussing the possible agenda of this weeks growth call in the `#growth` slack channel atm.

Topics so far:
- Planning of the "USD liquidity week" (payment methods, possible participants, marketing activities)
- Create playbooks for running "Liquidity weeks"
- Market maker, liquidity provider, liquidity week participation rewards
- Short [tech tree](https://docs.google.com/spreadsheets/d/1

[2018-01-24 10:35] flix1 commented on #33
The idea is to standardize the process of bootstrapping the market with each new currency. This includes rewarding contributors for reaching milestones, scheduled events like liquidity weeks and for creating marketing content like video tutorials.

It could look like this:

0. Reward for **basic research** on payment methods for currency X.
1. Bounty for **1st trade** in new currency X.
2. Bounty

[2018-01-25 10:19] cbeams opened #34 "Offer bounties for completing the 1st trade in as-yet untraded fiat currencies"
Goal is to see if we can bootstrap trading activity in as-yet untraded fiat currencies.

[2018-01-25 12:19] ripcurlx commented on #33
Actually I'm not sure if I'm able to post the hangout invitation link before the actual hangout is started. When I try to start the hangout a couple of times of the same event, I always get a different invitation link.

I'll start the hangout today already at 8pm and will send out the hangout invitation link on Slack in the growth channel.

[2018-01-25 12:37] flix1 commented on #30
Twitter: @bitcoinskenya might be able to help win this bounty. He's an active Localbitcoins trader.

[2018-01-25 15:58] flix1 commented on #29
Potential traders to approach with trades in Ghana:
https://localbitcoins.com/accounts/profile/DHIGANE/
https://localbitcoins.com/accounts/profile/MasterBTC/
https://localbitcoins.com/accounts/profile/pixelGH/

[2018-01-25 16:01] flix1 commented on #28
Most frequent payment system on Localbitcoins are:
-Cash Deposit
-Transfer with specific bank

[2018-01-25 16:02] flix1 commented on #28
Traders to approach:
https://localbitcoins.com/accounts/profile/jbvillarante/

[2018-01-25 16:04] flix1 commented on #23
Traders to approach:
https://localbitcoins.com/accounts/profile/dekoma4u/
https://localbitcoins.com/accounts/profile/Zickie/
https://localbitcoins.com/accounts/profile/Terabits/

[2018-01-25 16:08] flix1 commented on #24
Traders to approach:
https://localbitcoins.com/accounts/profile/zhaodong1982/
https://localbitcoins.com/accounts/profile/Pragyay/

[2018-01-25 16:13] flix1 commented on #25
Traders to approach:
https://localbitcoins.com/accounts/profile/btcwisdom/
https://localbitcoins.com/accounts/profile/BitSales.pro/
https://localbitcoins.com/accounts/profile/glaucoma/

[2018-01-26 09:20] flix1 commented on #24
First trade in INR has been completed.

[2018-01-29 09:29] ripcurlx commented on #33
Thanks to @csacher for writing the meeting minutes for this growth call again!
https://docs.google.com/document/d/1LBOAKXwWxDh4CZorGoaTmm80pLcH4u4L0wRlOHzjIHw/edit?usp=sharing

[2018-01-29 09:29] #33 closed

[2018-01-29 11:05] ripcurlx opened #35 "2018.02.01 Growth call"
- **Date:** Thu Feb 1st
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-01-30 11:53] flix1 commented on #35
Proposed item for agenda:
-Set dates for USD Liquidity week. (Feb 12-18th?)

[2018-01-31 05:56] Francewhoa commented on #35
Hi all Bisq enthusiasts :) This is to confirm I'll join this growth call

I look forward to seeing you live on the webcam, or just audio, or chat

[2018-01-31 10:25] ripcurlx commented on #35
@Francewhoa Great that you're joining the call this week! As most of the participants are watching the live stream, we could try out a short introduction round for everyone who is joining the Google Hangout this week.

[2018-02-01 09:26] flix1 opened #36 "USD/BTC Bisq Liquidity Week (26 Feb- 4 Mar)"
## Learning Goal/Objective
Provide enough liquidity for the USD/BTC order book to bootstrap the market for organic growth. Lasting 1 week from **February 26th-March 4th 2018**.

Objective: 5 traders placing 10 offers on the USD/BTC order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Desig

[2018-02-01 09:27] flix1 commented on #35
Draft issue for USD Liquidity week:
https://github.com/bisq-network/growth/issues/36

[2018-02-01 09:29] ripcurlx commented on #15
Was superseded by https://github.com/bisq-network/growth/issues/36.

[2018-02-01 09:29] #15 closed

[2018-02-01 16:44] ManfredKarrer commented on #35
I think an important factor for US trading is to find more payment methods and/or to add more supported banks to Zelle (need investigation). Seems Square is a good candidate to get added.

[2018-02-01 20:08] #35 closed

[2018-02-01 20:10] ripcurlx opened #37 "2018.02.08 Growth call"
- **Date:** Thu Feb 8st
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-02-03 14:37] flix1 commented on #36
If we manage to reach **10 offers** permanently available in the BTC/USD order book during that week it will be a huge success.

For this we only need **5 participants** to each place 2 offers.

[2018-02-04 20:39] flix1 commented on #36
Possible additional payment method for US: **VENMO** https://venmo.com/

**+ No chargebacks** /payments cannot be cancelled
https://help.venmo.com/hc/en-us/articles/235171088-Cancel-Payment

**-  Low limits**
https://help.venmo.com/hc/en-us/articles/221010968-Payment-Limits

[2018-02-04 20:43] flix1 commented on #36
Possible additional payment method for US: **Cash App**  https://cash.me/

**+ No chargebacks** /payments cannot be cancelled
https://squareup.com/help/us/en/article/5691

+Multi-currency

[2018-02-06 10:41] flix1 commented on #37
Now that Bisq USD Liquidity Week has a firm date and we have 5 potential participants who have shown interest in slack (**jrwashburn**, **Bsqman**, **Stephen Gornick**, **cadayton**, **manolo**) this has all the ingredients to be a vey valuable experiment. We will try to convince them to join the call.

[2018-02-08 18:22] ManfredKarrer commented on #37
@flix1 National Bank transfer or Transfer with the same bank have the problem that ACH can be used and ACH has high chargeback risks. I am not aware of a method to enforce Wire and prevent people to use ACH for those. That was the reason why we deactivated national bank transfers in the US.

[2018-02-08 20:16] ripcurlx opened #38 "2018.02.15 Growth call"
- **Date:** Thu Feb 15th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-02-09 03:51] cadayton commented on #37
Hi All, Watched the youtube video on today's meeting.   So far Zella/Chase Quickpay has been working very well for me.  For Zella through Chase, I have 2k limit per day.  I've hit this limit several times but not a big deal because I can just delay the payment till the next day.  Several times, I've received a SMS message from Chase wanting to verify, I made the transaction.  The main reason for u

[2018-02-09 04:05] cadayton commented on #37
It would be nice to have an additional filter on the buy/sell page to only display offers within a specific percentage range of the current market rate.  This is not an issue now because there are not the many offers on the table.  But if there were pages of offers, I'd like to only display offers within 3% of the market.

The one other issue I've had.  Is I made a sell offer with LTC using Zella

[2018-02-15 10:24] ripcurlx commented on #38
We could take the chance today and talk about the open questions on the new payment methods that will be added for release 0.6.6
- Square Cash App: https://github.com/bisq-network/exchange/issues/1049
- ACH(Automated Clearing House) charge back risk: https://github.com/bisq-network/exchange/issues/1052
- Halcash: https://github.com/bisq-network/exchange/issues/1348

and of course promote the USD L

[2018-02-15 19:33] #38 closed

[2018-02-15 19:33] #37 closed

[2018-02-15 19:36] ripcurlx opened #39 "2018.02.22 Growth call"
- **Date:** Thu February 22nd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-02-19 15:49] cbeams commented on #36
I just did some further research on Cash App and Venmo, see my comments at https://github.com/bisq-network/exchange/issues/1049#issuecomment-366724530 and https://github.com/bisq-network/exchange/issues/1347#issuecomment-366712723, respectively.

In short, I think we need to tread very carefully here. @flix1, you mention cancellations above, but cancellations != chargebacks. Just because these pla

[2018-02-20 11:26] flix1 commented on #39
1. USD Liquidity week starts 26th February.
https://github.com/bisq-network/growth/issues/36

We only need 5 participants to make it a successful experiment. Let's make sure to get them!

[2018-02-20 11:27] flix1 commented on #39
2. China exploratory.
We have been doing some testing and will report on results.

[2018-02-22 17:23] flix1 commented on #39
I've just realized the issue title says 2018.02.25... when in fact the meeting is today Thursday 22nd. Hopefully it won't confuse too many potential attendees.

[2018-02-22 17:26] ripcurlx commented on #39
Thanks @flix1! I must have mixed it up today when I changed it back again. YouTube Event and calendar entry should be fine.

[2018-02-22 20:25] #39 closed

[2018-02-22 20:27] ripcurlx opened #40 "2018.03.01 Growth call"
- **Date:** Thu March 1st
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-02-26 12:03] csacher commented on #22
Notes of the call: https://docs.google.com/document/d/1GyuAjZ_Tz_D5bTMB8npjCu5mp6ESHCmBssT31g0vG4E/edit?usp=sharing

[2018-02-26 12:05] csacher commented on #35
Notes of the call: https://docs.google.com/document/d/1duF8B0gz4_os6RdFJE6xSDOuZ73PCiRTnnwhKVKz8io/edit?usp=sharing

[2018-02-26 12:05] csacher commented on #37
Notes of the call: https://docs.google.com/document/d/1nsHLYddgdxm7GDlgMqR6252SQGOWjCs7-q_KyDe4FiU/edit?usp=sharing

[2018-02-26 12:05] csacher commented on #38
Notes of the call: https://docs.google.com/document/d/1s7PiZO-NZ4yFsZ94Ts770eHdU1c6hHL7EHTkWW1TZDk/edit?usp=sharing

[2018-02-26 12:06] csacher commented on #39
Notes of the call: https://docs.google.com/document/d/1iWc70o2xUXq8XIjE6RJySBkKgsfdMwDjP8rlyulube0/edit?usp=sharing

[2018-03-01 09:50] ripcurlx commented on #40
We could talk about the current progress of the liquidity week, payment methods used, the live trading launch event and the learnings of it.

[2018-03-02 05:03] csacher commented on #40
Notes of the call: https://docs.google.com/document/d/11wACVYhoYU8SdFTnRrOsc8O9rAax4ZCay3dPZhUcbv8/edit?usp=sharing

[2018-03-02 08:38] ripcurlx commented on #40
Thanks @csacher! I've just updated the video description.

[2018-03-02 08:39] #40 closed

[2018-03-02 10:14] ripcurlx opened #41 "2018.03.08 Growth call"
- **Date:** Thu March 8th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-03-06 12:45] cbeams commented on #36
Closing as complete. @ripcurlx, if there's anything further you wanted to do here, please reopen.

With regard to market makers claiming a BSQ bounty, I'm not sure how we ever planned to track that. As far as I know, no one has attempted to claim this or said they were going to. In the future, I think we should leave market making as its own reward. People shouldn't need any more incentive to do i

[2018-03-06 12:45] #36 closed

[2018-03-07 11:33] ripcurlx commented on #41
I guess this call we'll talk mainly about the completed BTC/USD Liquidity week. Is there anything else you want to talk about? Please also leave a 👍 if you'll join the call. Thanks!

[2018-03-08 10:11] ripcurlx opened #42 "BTC/GBP Bisq Liquidity Week (Apr 2-8)"
## Learning Goal/Objective
Provide enough liquidity for the BTC/GBP order book to bootstrap the market for organic growth. Lasting 1 week from **April 2nd to 8th 2018**.

Objective: 5 traders placing 10 offers on the BTC/GBP order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every

[2018-03-08 10:12] ripcurlx opened #43 "BTC/CAD Bisq Liquidity Week (22nd - 28th May)"
## Learning Goal/Objective
Provide enough liquidity for the BTC/CAD order book to bootstrap the market for organic growth. Lasting 1 week from 22nd until 28th of May.

Objective: 5 traders placing 10 offers on the BTC/CAD order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every pa

[2018-03-08 10:13] ripcurlx opened #44 "BTC/AUD Bisq Liquidity Week"
## Learning Goal/Objective
Provide enough liquidity for the BTC/AUD order book to bootstrap the market for organic growth. Lasting 1 week from **TBD**.

Objective: 5 traders placing 10 offers on the BTC/AUD order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every participant on th

[2018-03-08 10:14] ripcurlx opened #45 "BTC/CNY Bisq Liquidity Week"
## Learning Goal/Objective
Provide enough liquidity for the BTC/CNY order book to bootstrap the market for organic growth. Lasting 1 week from **TBD**.

Objective: 5 traders placing 10 offers on the BTC/CNY order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every participant on th

[2018-03-08 10:58] flix1 commented on #42
How to buy bitcoin with British pounds using Bisq
https://youtu.be/sh0_VuA0fmI

[2018-03-08 19:50] #41 closed

[2018-03-08 19:52] ripcurlx opened #46 "2018.03.15 Growth call"
- **Date:** Thu March 15th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-03-09 15:14] tomatopeel commented on #42
Ah I can definitely participate in this, count me in :)

[2018-03-13 12:55] flix1 commented on #42
@ripcurlx please add dates to description and title. We will start to promote this.

[2018-03-13 14:20] ripcurlx commented on #42
@flix1 Just updated the issue with the correct time frame.

[2018-03-13 15:59] ripcurlx commented on #41
Meeting Minutes by @csacher
https://docs.google.com/document/d/1hBwQFnwHzhRBUK1s3wjf3vWOLE1zOdQN6Vz6lKuBRXE/edit?usp=sharing

[2018-03-14 10:00] ripcurlx commented on #46
Agenda proposal for tomorrows growth call:
- Updated numbers on the BTC/USD market
- The current state of the GBP market
- Bisq in Russia (number 2 in website traffic, but we don't see any trades)

[2018-03-14 10:04] ripcurlx commented on #46
and of course the Bisq tech tree 👍

[2018-03-15 19:49] ripcurlx opened #47 "2018.03.22 Growth call"
- **Date:** Thu March 22nd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-03-16 12:22] flix1 commented on #47
Bisq **BTC/GBP** Liquidity Week (Apr 2-8)
https://github.com/bisq-network/growth/issues/42

[2018-03-22 20:03] #46 closed

[2018-03-22 20:04] ripcurlx opened #48 "2018.03.29 Growth call"
- **Date:** Thu March 29th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-03-29 07:41] ripcurlx opened #49 "Contact local Bitcoin user groups"
## Learning Goal/Objective
Can we engage the local community to join a liquidity week by contacting meetup user groups?

## Hypothesis
If the experiment is successful, I predict that we will get 2 participants more for GBP/BTC liquidity week

## Experiment Design
I'll go through all Bitcoin meetup organizers in the UK and contact them via direct message to make them aware of our activity and if th

[2018-03-29 07:48] ripcurlx commented on #48
Besides the upcoming GBP/BTC liquidity week, I would love to talk about other means/activities how we can increase liquidity in a scalable way.

[2018-03-29 09:14] ripcurlx commented on #48
@mrosseel and/or @blabno will join the growth call today to talk about how you could use the mrossel-bisq-api to trade on Bisq.

[2018-03-29 19:33] ripcurlx opened #50 "2018.04.05 Growth call"
- **Date:** Thu April 5th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-03-30 14:16] #47 closed

[2018-03-30 14:16] #48 closed

[2018-04-01 05:22] tomatopeel commented on #42
I've put two offers up, early I know. Let me know if there's anything I need to do to prove this or keep track of them in some way in case I need to prove it later.

[2018-04-01 11:18] flix1 commented on #42
A good start!
[https://files.slack.com/files-pri/T0336TYT4-FA0CW4Q8P/image.png](url)

[2018-04-02 13:08] flix1 commented on #42
17
![image](https://user-images.githubusercontent.com/4233784/38197284-bb7ebfa4-3687-11e8-85fe-2b7ed0207e0e.png)

[2018-04-05 09:06] ripcurlx commented on #50
I think @flix1 mentioned it already in some Slack conversation (can't find it atm), but it would be great if we could talk today also about how we could scale the liquidity efforts so it's not just a single stream process.

[2018-04-05 09:08] ripcurlx commented on #50
Maybe @fedegrc could join us today to talk about the current situation in Argentina?

[2018-04-05 14:11] meapistol commented on #50
I cannot join the growth call, due to a social event. Concerning WeChat:
WeChat shows public messages and pictures when a friend is added, as well as a chosen location (not necessarily the true location, just what the user wrote).
When a friend is deleted the conversation on the phone which is deleting disappears, but not on the phone of the deleted friend. This is important to know for arbitratio

[2018-04-05 16:47] fedegrc commented on #50
Unfortunately, I cannot join the call today. I'll try to analyze alternatives to buy/sell BTCs in Argentina. At the moment I've found three bitcoin exchanges:
 - https://www.ripio.com/
 - https://www.satoshitango.com/
 - https://bitex.la/

I have only information about charges buying BTCs in SatoshiTango:
- Bank debits tax: 1.215%
- Buy Bitcoins fee: 2%
(Wire transfers are free in Argentina)

[2018-04-05 18:57] ripcurlx opened #51 "2018.04.12 Growth call"
- **Date:** Thu April 12th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-04-08 03:30] arjun2503 commented on #24
Can we setup INR bank accounts with bisq?

[2018-04-08 04:39] ManfredKarrer commented on #24
Yes you select national bank transfer as payment method and select India as country.

[2018-04-08 11:05] flix1 commented on #24
@arjun check out this tutotial on how to do that:

How to buy bitcoin with Indian Rupees using Bisq
https://youtu.be/dpoaGKZtLkk

[2018-04-09 09:24] flix1 commented on #42
https://coin.dance/volume/bisq/GBP

![image](https://user-images.githubusercontent.com/4233784/38490124-80eda0b0-3be8-11e8-9eb7-7c10b5346678.png)

[2018-04-12 18:57] #42 closed

[2018-04-12 18:58] #51 closed

[2018-04-12 18:58] ripcurlx opened #52 "2018.04.19 Growth call"
- **Date:** Thu April 19th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-04-19 18:55] #52 closed

[2018-04-19 18:56] ripcurlx opened #53 "2018.04.26 Growth call"
- **Date:** Thu April 26th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-04-23 08:41] flix1 commented on #12
5 months after this, on April 23rd, we have 50+ offers in the EUR/BTC order book.

![image](https://user-images.githubusercontent.com/4233784/39115677-b7f97cf0-46e2-11e8-9336-b68c1de60de6.png)

This market is the first to achieve **Liquidity Level 3**.
![image](https://user-images.githubusercontent.com/4233784/39115712-d6d7c9ba-46e2-11e8-99ee-d626e7b26534.png)

[2018-04-23 08:43] flix1 commented on #12
We should be able to speed things up now that we know how it's done. A reasonable target should be to push the next market (USD) to **liquidity level 3** in 3 months.

[2018-04-26 08:28] flix1 commented on #53
Volume growth
https://coin.dance/volume/bisq/EUR
![image](https://user-images.githubusercontent.com/4233784/39294578-661220de-493c-11e8-8dd1-51432b24b3e0.png)

https://coin.dance/volume/bisq/USD
![image](https://user-images.githubusercontent.com/4233784/39294620-7da55c98-493c-11e8-8d9e-e1152c70a30c.png)

https://coin.dance/volume/bisq/GBP
![image](https://user-images.githubusercontent.com/4233784/

[2018-04-26 19:10] j3ko commented on #43
I will be participating in this!

[2018-04-26 19:51] #53 closed

[2018-04-26 19:53] ripcurlx opened #54 "2018.05.03 Growth call"
- **Date:** Thu May 3rd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-04-26 23:32] dsbeasley commented on #43
Although I live in the US, I would be willing to obtain CAD to facilitate liquidity in this market. Thoughts?

[2018-04-27 08:07] flix1 commented on #43
![image](https://user-images.githubusercontent.com/4233784/39351735-be68e5ee-4a02-11e8-84bd-18702eb89c68.png)

CAD/BTC already looking great!

[2018-04-27 08:14] ripcurlx commented on #43
@dsbeasley Most of the trades that took place so far in the BTC/CAD market are with Interac e-Transfer (http://www.interac.ca/en/interac-e-transfer-consumer.html). For that I think you need a canadian bank account, but I'm not sure if there are partner banks in the US you could also use to trade.

[2018-04-27 08:17] flix1 commented on #43
Revolut and OKPay also have CAD.

[2018-05-03 19:33] #54 closed

[2018-05-03 19:34] ripcurlx opened #55 "2018.05.24 Growth call"
- **Date:** Thu May 24th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-05-22 11:10] flix1 commented on #43
We have transmit the message that given current liquidity levels a handful of people can make a very big difference with very little effort.

[2018-05-22 13:38] ripcurlx commented on #43
I just moved the date of the liquidity week for one day, because of a public holiday in Canada. Happy trading from now on!

[2018-05-24 07:17] ripcurlx commented on #55
I'm back (more or less still suffering under lack of sleep 😉) and will run this weeks growth call again. Does anyone have specific topics that we should add to the agenda today?

[2018-05-25 09:16] #55 closed

[2018-05-25 09:18] ripcurlx opened #56 "2018.06.01 Growth call"
- **Date:** Fri June 1st
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-05-31 04:35] okmrponcho commented on #56
Hi, can you cover the rationale for suspending Cash App (USD) and any plans to reinstate it?

[2018-05-31 08:56] ripcurlx commented on #56
@okmrponcho We covered it already in last weeks [growth call (10:40min)](https://youtu.be/zvyi59vOgxM?t=10m40s). If you have any further questions feel free to join us today as well 👍

[2018-05-31 08:59] ripcurlx commented on #56
Today I'd like to talk about:
- Results of BTC/CAD liquidity week
- How to get compensated for contributions

Any other topics that I should put on the agenda?

[2018-05-31 13:30] ripcurlx commented on #56
Unfortunately I have to move the growth call to tomorrow because of upload issues at the location I am right now. 😞

[2018-06-01 17:46] ripcurlx opened #57 "2018.06.07 Growth call"
- **Date:** Thu June 7th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-06-06 14:29] #56 closed

[2018-06-06 14:29] #43 closed

[2018-06-07 11:27] ripcurlx commented on #57
Depending on if @alfsbs is able to present today I suggest following agenda:
- New liquidity week: Which markets do we want to poll? Starting poll after the call.
- Monthly report May
- Payment methods report for May (by @alfsbs )

Is there anything else you want to put on the agenda for today?

[2018-06-08 10:14] #57 closed

[2018-06-08 10:38] ripcurlx opened #58 "2018.06.14 Growth call"
- **Date:** Thu June 14th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-06-14 09:05] ripcurlx commented on #58
Is there anything specific you want to talk about, besides the two upcoming liquidity weeks?

[2018-06-14 09:47] ripcurlx opened #59 "BTC/CHF Liquidity Week (July 2nd - 8th)"
## Learning Goal/Objective
Provide enough liquidity for the BTC/CHF order book to bootstrap the market for organic growth. Lasting 1 week from **TBD**.

Objective: 5 traders placing 10 offers on the BTC/CHF order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every participant on th

[2018-06-14 09:48] ripcurlx opened #60 "XMR/BTC Liquidity Week (July 2nd - 8th)"
## Learning Goal/Objective
Provide enough liquidity for the XMR/BTC order book to bootstrap the market for organic growth. Lasting 1 week from **TBD**.

Objective: 5 traders placing 10 offers on the XMR/BTC order book for a week.

## Hypothesis
If the experiment is successful, we predict to the total volume to grow by 30% compared to the previous week.

## Experiment Design
Every participant on th

[2018-06-18 07:59] #58 closed

[2018-06-18 08:02] ripcurlx opened #61 "2018.06.20 Growth Call (this week on Wednesday!)"
- **Date:** Wed Jun 20th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-06-18 08:02] ripcurlx commented on #61
Unfortunately I'm not able to make the growth call on Thursday this week so I moved it to Wednesday!

[2018-06-20 07:50] ripcurlx commented on #61
Is there anything special you want to talk about today?

[2018-06-20 15:43] ripcurlx commented on #59
We decided in last week's [growth call](https://github.com/bisq-network/growth/issues/58) to run the BTC/CHF Liquidity week from 2nd to 8th of July. So if you're based in Switzerland and want to participate in this liquidity week please leave a 👍 here or let us know in Slack in the #growth channel.

[2018-06-20 15:43] ripcurlx commented on #60
We decided in last week's [growth call](https://github.com/bisq-network/growth/issues/58) to run the XMR/BTC Liquidity week from 2nd to 8th of July. So if you want to participate in this liquidity week please leave a 👍 here or let us know in Slack in the #growth channel.

[2018-06-26 09:05] ripcurlx opened #62 "2018.06.28 Growth call"
- **Date:** Thu June 28th
- **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
- **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-06-26 13:48] ripcurlx commented on #62
@flix1 Is running the growth call this week, so let's keep the topic suggestions for the call coming 👍

[2018-06-26 13:50] ripcurlx commented on #62
I would be interested if someone has experience with affiliate programs in the crypto space

[2018-06-26 13:51] ripcurlx commented on #62
I found this list as a starter: https://makeawebsitehub.com/best-bitcoin-affiliate-programs/

[2018-06-28 10:42] flix1 commented on #62
![image](https://user-images.githubusercontent.com/4233784/42029680-aa667d00-7ad0-11e8-8a48-e921f0b6cbbe.png)

[2018-06-28 10:49] flix1 commented on #62
Topics for todays call

1. **Review of recent growth.** Congratulations all arround!
![image](https://user-images.githubusercontent.com/4233784/42029771-f01cd380-7ad0-11e8-9267-0ae208266b90.png)
![image](https://user-images.githubusercontent.com/4233784/42029786-fba571d0-7ad0-11e8-9e5f-3c38a04a1ff2.png)
![image](https://user-images.githubusercontent.com/4233784/42029792-0255ea96-7ad1-11e8-9bbb-a39

[2018-06-28 17:58] flix1 commented on #62
Hangouts link for the call:
https://hangouts.google.com/hangouts/_/33g56ko4z5cuzdiln4g2jdi7cue

[2018-07-05 08:33] #61 closed

[2018-07-05 08:35] ripcurlx opened #63 "2018.07.05 Growth call"
- **Date:** Thu Jul 5th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that y

[2018-07-05 08:57] ripcurlx commented on #63
Please let me know if you want me to add something special to today's agenda!

- I'd like to talk quickly about the current release that was not released by @ManfredKarrer this time to address any concerns: https://github.com/bisq-network/bisq-desktop/issues/1598#issue-338390446
- About the state of our two liquidity weeks ([CHF](https://github.com/bisq-network/growth/issues/59) & [XMR](https://gi

[2018-07-05 10:32] ripcurlx commented on #63
Thanks for your response and I totally understand your concerns!

[2018-07-06 13:28] #63 closed

[2018-07-06 13:29] ripcurlx opened #64 "2018.07.12 Growth call"
- **Date:** Thu July 12th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-07-12 10:09] ripcurlx commented on #64
@flix1 Will you run today's call?

[2018-07-12 14:18] flix1 commented on #64
@ripcurlx no problem! I'll do it today.

[2018-07-12 14:41] flix1 commented on #64
![image](https://user-images.githubusercontent.com/4233784/42640365-6c0d2d92-85f2-11e8-9319-222d3e90a1e5.png)

[2018-07-12 14:45] flix1 commented on #64
Agenda for today:

1. Failure of XMR, CHF liquidity weeks.
2. New markets (VND, THB...)
3. Market-making guide & discussion
4. 0.7.1 Survey results
5. China?

[2018-07-12 15:23] sqrrm commented on #64
Perhaps it's time to rethink the liquidity weeks. They worked well for EUR and USD but other markets might need different methods. I know @flix1 has already asked for other ideas on how to promote growth. My feeling is that a dedicated team in each smaller currency area could work well in boot strapping and perhaps also growing it from there. Vietnam seems like a place where that's happening and f

[2018-07-12 18:05] flix1 commented on #64
Links to today's growth call:
Hangout: https://hangouts.google.com/hangouts/_/aiulttrchfckxh6frgm524wvqae
Youtube: https://youtu.be/jwzp3oEyQVw

[2018-07-13 09:01] HarryMacfinned commented on #64
@sqrrm wrote:

Yes, and perhaps it's also time to rethink about the tools used.

1/ For my part, I find a bit paradoxical to use unsafe and unsecure tools (like youtube) to promote a software who's main advertising is safety.
It's highly probable that what many customers/traders are searching with Bisq is safety.
And Bisq itself answers nicely this demand.
But there are too many tools surrounding

[2018-07-13 15:36] m52go commented on #64
In my experience with the US market, sell offers are the biggest limiting factor in onboarding new users. I've gotten a handful of people on Bisq in the past couple of months, but often there weren't any offers available for them to buy BTC immediately. While you can make your own offer to buy, having to wait for some unpredictable amount of time before getting the bitcoin you were so excited suck

[2018-07-13 16:01] HarryMacfinned commented on #64
Yes, I was also thinking to this case.
Because I observed on several growth call, that X persons were following the videos
... but there weren't X persons signaling themselves although it was repeatedly asked.
It may be that people forgot, but it may also signal that people are reluctant.

You can watch youtube videos thru torbrower
... but you cannot participate to online yt video thru torbrower.

[2018-07-13 16:14] m52go commented on #64
@HarryMacfinned to keep this thread on-topic I'll point to @cbeams' comment [over here](https://github.com/bisq-network/proposals/issues/30#issuecomment-404784298). I echo his thoughts.

[2018-07-18 01:29] flix1 commented on #64
![image](https://user-images.githubusercontent.com/4233784/42854143-afc8750e-8a3a-11e8-8a37-4eedf8995002.png)

From China 18-07-2018 . Using regular hotel wifi (no VPN).

[2018-07-18 01:32] flix1 commented on #34
![image](https://user-images.githubusercontent.com/4233784/42854234-26a819e0-8a3b-11e8-9943-e1dfd6a50958.png)

Somebody did the first Thai Baht trade!

THB/BTC

[2018-07-18 05:17] cbeams commented on #34
Good catch, @flix1. I just tweeted about it at https://twitter.com/bisq_network/status/1019449782207688704.

[2018-07-18 10:10] ripcurlx commented on #64
@flix1 👍
Btw. I've just tweeted the short questionnaire (http://survey.io/survey/10363) which can be used by everyone to give feedback:
https://twitter.com/chrisattee/status/1019524052212436993

[2018-07-18 14:10] #64 closed

[2018-07-18 14:11] ripcurlx opened #65 "2018.07.26 Growth call"
- **Date:** Thu July 26th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also that

[2018-07-19 15:43] ripcurlx commented on #65
Moved date to next week as I'm not able to do the call today because of sickness.

[2018-07-23 08:30] ripcurlx commented on #65
What about having this weeks growth call more like a Q & A call, where everyone can join and we try to source questions upfront on twitter? I'll also go through the feedback forms to extract topics we should address.

[2018-07-23 09:22] ManfredKarrer commented on #65
I would love to get feedback for F2F trade and fee model. Maybe we can invite a LBTC trader who is experienced with F2F trade. Btw. Gus said last time that he would like to join the call, I will send him an email...

[2018-07-26 19:04] #65 closed

[2018-07-26 19:06] ripcurlx opened #66 "2018.08.02 Growth call"
- **Date:** Thu August 2nd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-07-30 10:30] #59 closed

[2018-07-30 10:30] #60 closed

[2018-07-31 13:15] flix1 opened #67 "Bisq September Market Kick-Start Day [September 20th]"
## What
On September 20th 2018 we will try to get as many people as possible to place offers on Bisq as a way to kick-start liquidity after the summer and also launch the newest release.

## Objective
Reach maximum number of offers published during 1 day.

## Hypothesis
If we can reach 300 offers published on one day we will see a new high in number of trades.

## Experiment Design
**IF** offers >

[2018-07-31 13:25] flix1 commented on #67
To reach 300 offers we would need  60 users x 5 offers each. It won't be easy, but it can be done.

We should definitely use this day to do some live demos of trades for different currencies/payment methods and show the offer book live...

[2018-07-31 13:41] flix1 commented on #66
Discuss the idea of a September Market kick-start day and to set a date for it.
https://github.com/bisq-network/growth/issues/67

[2018-08-02 08:10] ripcurlx commented on #66
- Talk about the upcoming release roadmap/features
- Talk about the question if we want/need Bisq translated in more languages at the current state of the DAO

[2018-08-02 08:56] flix1 commented on #67
In think the key to reaching this goal will be to set the date with plenty of lead time and promote heavily, making sure to communicate to all current and potential Bisq users.

[2018-08-02 09:11] ManfredKarrer commented on #67
Great initiative!

[2018-08-04 09:57] #66 closed

[2018-08-04 10:04] ripcurlx opened #68 "2018.08.09 Growth call"
- **Date:** Thu August 9th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also tha

[2018-08-04 10:08] ripcurlx commented on #68
@flix1 As I'm traveling next week from Tuesday til Sunday it would be great if you could jump in for next weeks growth call. Would this be possible for you?

[2018-08-04 14:46] flix1 commented on #68
@ripcurlx cool. I've got it.

[2018-08-04 16:46] flix1 commented on #67
Things we can do as part of the Kick-start day (all ideas welcome):

*Communication*
-Post reminders 10, 5, 1 day before on all social media (Twitter, reddit, bitcointalk, etc).
-Live tweet on September 20th with how it's going.
-Live hangout with tutorials, demos. Showcase payment methods, etc.

*Recruit*
-Try to get at least 30 people to commit to participating in advance. Recruit from Slack, Re

[2018-08-08 11:10] flix1 commented on #67
So far 10 people have given the thumbs up indicating that they will participate!

@ManfredKarrer @ripcurlx @alfsbs @meapistol @cryptagoras @m52go @blabno @yagamidev @MattNguyen @flix1

Please try to find 2 friends each and help us get to 30!

[2018-08-08 14:03] cadayton commented on #67
Make that 11.

[2018-08-09 08:54] flix1 commented on #68
-Manfred will discuss mobile app and the dao UI
-Talk about last week's record XMR volumes
-Talk about September 20th kick-start day

[2018-08-09 08:55] ManfredKarrer commented on #68
Here are my slides: https://docs.google.com/presentation/d/18SqIdM1eo-fMG-0IYSwuawrbjzOfxFRSxbUYPpZF8-w/

Not sure if it will be a demo or just screenshots. Demo takes prob. too long...

[2018-08-09 08:56] flix1 commented on #68
![image](https://user-images.githubusercontent.com/4233784/43888754-bd0d669a-9bc2-11e8-82d7-4638f572b9c2.png)

XMR record trading!

[2018-08-09 15:24] ManfredKarrer commented on #68
Go Monero Go!

[2018-08-09 18:02] flix1 commented on #68
Google Hangouts link. Us this link to join this weeks growth call:
https://hangouts.google.com/hangouts/_/byd6qyb7yra4jpg3dwysavojsue

[2018-08-10 04:50] HarryMacfinned commented on #68
Just for info,
when using the link above, google/youtube asks for login/subscription,
while when entering thru the youtube channel https://www.youtube.com/c/bisq-network, nothing is asked.

[2018-08-16 07:50] #68 closed

[2018-08-16 07:52] ripcurlx opened #69 "2018.08.16 Growth call"
- **Date:** Thu August 16th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also th

[2018-08-16 08:07] ripcurlx commented on #69
As there was some confusion recently on certain tabs or data sources in our Reporting Spreadsheet so I was thinking going through it to show what everyone can do with our markets API and how we create charts like that:
![bildschirmfoto 2018-08-16 um 10 00 19](https://user-images.githubusercontent.com/170962/44196372-0c396d80-a13c-11e8-9ec1-8e693b022613.png)

[2018-08-17 07:50] HarryMacfinned commented on #69
As each time, it was a nice life video.
However, if we could fix the program a bit more in advance, we may be able to advertize earlier, and maybe increase a bit the audience ?

[2018-08-17 08:00] ripcurlx commented on #69
Yes, that could definitely improved. It was just a little bit dense with the release preparations over the last days. I'll setup a new livestream and GitHub issue today and will propose ideas for the agenda.

[2018-08-17 08:01] #69 closed

[2018-08-17 08:03] ripcurlx opened #70 "2018.08.23 Growth call"
- **Date:** Thu August 23rd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also th

[2018-08-17 08:07] ripcurlx commented on #70
Next week we should be able to talk about:
- Release of version 0.8.0
- New proposal for translation/review compensation

[2018-08-24 11:05] fedegrc commented on #67
I think that it could be usefull create a list of Issues and Pull requests that should be solved before September 20th.
- https://github.com/bisq-network/bisq-desktop/issues/1525

[2018-09-02 14:33] flix1 commented on #67
16 people have already given a thumbs up!

My confidence is growing that we can get to 30 participants by Sept 20th!

Please help get the word out.

[2018-09-05 01:15] princeofeth commented on #67
Will be participating as well, will be doing buy and sell orders for aud/btc and xmr/btc. Question though, is there a specific time(UTC) this will be starting.

[2018-09-05 11:47] flix1 commented on #67
@pricenofeth Let's say from 0:00 GMT to 23:55 GMT.

But in reality many of us will probably start placing offers from the previous day and leave them on for more than the 20th. But any effort is welcome. Even if you can only keep your offers on for a few hours on the 20th, that's better than nothing.

[2018-09-05 15:19] flix1 opened #71 "2018.09.06 Bisq Growth Call"
- Date: Thu September 6th
- Time: 11:15a–12:15p Pacific / 8:15p–9:15p Central European
- Place: YouTube livestream, see Call Details below

Everyone is welcome! Please add a 👍 below.

### Agenda
You'll find the general agenda of our growth calls here: https://github.com/bisq-network/growth/blob/master/docs/growth-meeting.md

This week will be about:
1. September 20th Kick-Start Day
2. DAO
3. Shape

[2018-09-05 15:21] #70 closed

[2018-09-07 11:57] flix1 commented on #71
GBP Volume
![image](https://user-images.githubusercontent.com/4233784/45217853-ec621900-b2a5-11e8-8577-e36ec897e3dd.png)

[2018-09-07 12:02] flix1 commented on #67
21!

Let's try to get to 30!

[2018-09-07 12:07] cbeams commented on #67
FYI, I plan to start promoting this via Twitter on Monday the 10th—10 days out from the event.

[2018-09-11 19:03] pfergi42 commented on #67
Sounds good. I'm in. I'll help retweet on the twitterverse too.

[2018-09-12 14:33] flix1 commented on #67
A bit of publicity for September 20th:

P2P Exchange Bisq: “It Doesn’t Get More Decentralized Than This”
https://bitcoinnews.com/p2p-exchange-bisq-it-doesnt-get-more-decentralized-than-this/

Decentralized Exchange Bisq Launches Mobile App, Holds Market Kickstart Event
https://news.bitcoin.com/decentralized-exchange-bisq-launches-mobile-app-holds-market-kickstart-event/

How to Buy Bitcoin Without

[2018-09-13 00:15] ManfredKarrer commented on #67
@flix1 Great to get the word out!

[2018-09-13 10:58] flix1 commented on #67
Only 7 days to go!

Surely we can get to 30 thumbs ups....

[2018-09-13 14:26] #71 closed

[2018-09-13 14:28] ripcurlx opened #72 "2018.09.13 Bisq Growth Call"
- **Date:** Thu September 13th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-09-13 14:51] ManfredKarrer commented on #72
This session will focus on the Bisq DAO. We will start a series of sessions explaining all aspects of the DAO. We start with an overview/introduction based on the great doc written by @cbeams : https://docs.bisq.network/dao/phase-zero.html
At the end of the session we do a Q&A. Please join the hangout if you want to participate!

[2018-09-13 17:10] ManfredKarrer commented on #72
Here are the slides of today's session: https://docs.google.com/presentation/d/1AWny8E_-gz528pj6rft66tgNg6rMn1zavW9u7RfwRnc/edit#slide=id.g25a594d246_0_133 (based on slides from @cbeams)

[2018-09-14 16:10] clearwater-trust commented on #72
Excellent presentation. Thank you for taking the time.

I have a question about compensation requests for contributors and BSQ creation.
How is the BSQ creation amount determined per month? Does it always match the monthly compensation request? Will this information be available for review? Will the stakeholder's wallets be review-able through a block explorer?

What is the discount the trader rec

[2018-09-14 16:29] ManfredKarrer commented on #72
@clearwater-trust Thanks for your feedback!
There is nothing like a limit how much can be issues per month, though there will be probably added a max amount for security reasons (if anyone manage to exploit it so that the damage is limited to that max amount). The stakeholders are responsible to keep issuance levels in the right balance. Voting is a management function.
The amount a contributor re

[2018-09-17 09:16] flix1 commented on #67
3 days to go!

This is already looking great... let's give it a last push

[2018-09-17 17:15] flix1 commented on #67
Stickied in reddit:
https://www.reddit.com/r/Bitcoin/comments/9glgfq/bisq_the_decentralized_exchange/

[2018-09-19 08:03] flix1 commented on #67
1 day to go!

We have 38 commitments.

If we can reach 40 and each person places 5 offers that should get us to 200.

However if we each try to get one more person in these 24 hours we should be able to reach 300. Let's go for it!

[2018-09-19 08:05] flix1 commented on #67
Right now this is how the order book looks:

![image](https://user-images.githubusercontent.com/4233784/45739511-7f2e7c00-bbf3-11e8-9995-6212792d954a.png)

[2018-09-19 17:20] #72 closed

[2018-09-19 17:22] ripcurlx opened #73 "2018.09.20 Growth Call"
- **Date:** Thu September 20th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-09-20 09:09] cbeams commented on #67
We're already over 200 offers, a record as far as I know (I've personally never seen more than 197, IIRC).

![image](https://user-images.githubusercontent.com/301810/45808203-8cb43680-bcc5-11e8-8e4d-36c83f183ecc.png)

Please keep the offers rolling in, and here's a tweet targeted at new users that you can retweet: https://twitter.com/bisq_network/status/1042701314713640960

[2018-09-20 11:05] flix1 commented on #67
![image](https://user-images.githubusercontent.com/4233784/45814418-d1e06480-bcd5-11e8-81b4-242e35e4b257.png)

212 now...

[2018-09-20 11:48] flix1 commented on #67
Volume is also looking good!

![image](https://user-images.githubusercontent.com/4233784/45816430-e7588d00-bcdb-11e8-9b9c-26dc470dab65.png)

[2018-09-20 13:57] flix1 commented on #67
![image](https://user-images.githubusercontent.com/4233784/45823380-da449980-bced-11e8-84cb-963fa2b582ae.png)

237!

[2018-09-20 19:14] flix1 commented on #67
![image](https://user-images.githubusercontent.com/4233784/45841461-345b5400-bd1a-11e8-8e0d-2b6b44b02a2f.png)

261 offers!

[2018-09-20 19:15] flix1 commented on #67
75 trades so far...

![image](https://user-images.githubusercontent.com/4233784/45841504-4f2dc880-bd1a-11e8-9433-c7be6b3dc25b.png)

[2018-09-21 10:59] flix1 commented on #67
![image](https://user-images.githubusercontent.com/4233784/45877430-10d9ed00-bd9e-11e8-85e0-0f7f70fb6237.png)

Final tally was very positive! Over 100 trades and $300k, 50 BTC volume.

![image](https://user-images.githubusercontent.com/4233784/45877463-29e29e00-bd9e-11e8-8740-b32109ee423b.png)

[2018-09-21 11:03] flix1 commented on #67
Anyone who participated can claim the 10 $BSQ bounty by creating a compensation request here:
https://github.com/bisq-network/compensation/issues

Just copy the format of previous ones and make sure to title it "Kick Start day bounty"

[2018-09-21 19:14] fedegrc commented on #26
I participated in the first ARS/BTC trade :)

Details of the trade:

- payment method used: National bank transfer (buyer and seller had different banks)
- problems encountered: No problems
- suggestions for improvement: No improvement needed
- fees paid:
  - Trading fee: 0.5% of trade amount
  - Total mining fees: 0.96% of trade amount
  - ARS fees: 0%
- time it took to complete the trade: The tr

[2018-09-21 22:45] fedegrc commented on #26
BSQ requested: 50
BSQ address: B1961fVVFMnQunrKVtWVsBsReLvL6q6VT3R

[2018-09-22 13:41] flix1 commented on #26
![image](https://user-images.githubusercontent.com/4233784/45917840-ec554200-be7d-11e8-99d3-104e8b836c11.png)

[2018-09-22 13:43] flix1 commented on #26
Congratulations @fedegrc. Well done on claiming this bounty!

What can we do next to help the ARS/BTC market grow? Are you in any forum, community of bitcoiners in Argentina where we could try to organize a Bisq day?

[2018-09-22 22:17] fedegrc commented on #26
I'm not in any forum. I'll start with reddit.

[2018-09-26 14:59] flix1 commented on #67
Hey @ripcurlx feel free to close this issue. I don't think I can.

[2018-09-26 16:54] ripcurlx commented on #67
Closing as complete.

[2018-09-26 16:54] #67 closed

[2018-09-26 16:54] #73 closed

[2018-09-26 16:56] ripcurlx opened #74 "2018.09.27 Growth Call"
- **Date:** Thu September 27th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-09-26 17:02] ripcurlx commented on #74
- I'll present the outcome of the September Market Kick-Start Day
- How to get compensated

[2018-09-28 06:35] fedegrc commented on #26
![screenshot_20180928_083414](https://user-images.githubusercontent.com/14953828/46191866-601da180-c2f9-11e8-8b62-69af38c2ad8f.png)

[2018-09-28 15:13] ManfredKarrer commented on #26
Great to see Argentina arriving at Bisq!!!! With the currently difficult situation there it would be really essential for people there to get into BTC with a proper privacy protecting gateway.

[2018-10-04 16:30] flix1 opened #75 "2018.10.04 Growth Call"
- Date: Thu October 4th
- Time: 11:15a–12:15p Pacific / 8:15p–9:15p Central European
- Place: YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, please add a 👍 below so we have an idea how many people will be there.

### Agenda

This week will be

[2018-10-04 16:32] flix1 commented on #75
![image](https://user-images.githubusercontent.com/4233784/46488731-d479a880-c803-11e8-8dd7-5a37a77ef8d6.png)

XMR market continues to drive volumes consistently...

[2018-10-04 16:36] flix1 commented on #75
ETH order book showing some action...

![image](https://user-images.githubusercontent.com/4233784/46488910-579afe80-c804-11e8-88a6-e65f2ac253b7.png)

[2018-10-04 16:38] flix1 commented on #75
EUR order book is healthy..

![image](https://user-images.githubusercontent.com/4233784/46488981-81ecbc00-c804-11e8-9443-196a7c0e5856.png)

USD keeps growing...
![image](https://user-images.githubusercontent.com/4233784/46489019-9c269a00-c804-11e8-8e6c-6ccb85f4aad7.png)

GBP has finally kicked off...

[2018-10-04 16:48] flix1 commented on #75
A shout out to a few currencies that are struggling to go from 0 to 1:

![image](https://user-images.githubusercontent.com/4233784/46489342-6cc45d00-c805-11e8-9284-24605204f9c7.png)

ARS - Argentinian Peso - had its first trade in September, offers available, low spread.
RSD - Serbian Dinar - no trades yet, but offers available, low spread.
VND - Vietnamese Dong - 0 trades, but offers available
TH

[2018-10-16 07:30] ripcurlx commented on #26
Closing as complete.

[2018-10-16 07:30] #26 closed

[2018-10-16 07:31] #74 closed

[2018-10-16 07:31] #75 closed

[2018-10-16 07:35] ripcurlx opened #76 "2018.10.18 Growth Call"
- **Date:** Thu October 18th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2018-10-19 10:39] cbeams commented on #29
Thanks, @flix1. I just tweeted about this here: https://twitter.com/bisq_network/status/1053234000603570177

[2018-10-25 07:29] #76 closed

[2018-10-25 07:36] ripcurlx opened #77 "2018.10.25 Growth Call"
- **Date:** Thu October 25th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2018-10-25 16:53] SamsungGalaxyPlayer commented on #77
I will be about 15 minutes late unfortunately. Scott should be there too.

[2018-10-29 11:36] flix1 commented on #29
![image](https://user-images.githubusercontent.com/4233784/47647381-1b468e00-db77-11e8-829f-829f4cdef864.png)

18th and 19th October.

[2018-10-30 09:20] #77 closed

[2018-10-31 19:16] flix1 commented on #21
![image](https://user-images.githubusercontent.com/4233784/47812852-b1321280-dd49-11e8-826c-a4537fa12542.png)

I don't know what we did, but it clearly worked. XMR volume is now consistently high. Maybe Bisq/Monero was just a perfect match...

[2018-11-07 10:28] flix1 opened #78 "Bitcoin Genesis Liquidity Party [January 3 2019]"
## What
On **January 3 2019** we will try to set a new record for the number of liquid markets available on Bisq.

## Objective
Reach 5 markets with 50+ live offers.

## Hypothesis
A liquid market (50+ live offers) will see volumes triple.

## Experiment Design
**IF** market X live offers >**50**
**THEN** market X volume  **x3**

## Bounty
Participants in the experiment  (creating at least 1 offer

[2018-11-07 10:31] flix1 commented on #78
Potential 5 target markets (but we are open to anything):

1. **XMR/BTC**
2. **EUR/BTC**
3. **USD/BTC**
4. **GBP/BTC**
5. ???

[2018-11-08 08:51] ripcurlx opened #79 "2018.11.08 Growth Call"
- **Date:** Thu November 11th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-11-08 09:00] ripcurlx commented on #79
I'm planning to talk quickly about last month's volume and our upcoming release (why it is delayed).

@flix1 Anything special you want to cover today?

[2018-11-08 19:37] #79 closed

[2018-11-15 06:21] ripcurlx opened #80 "2018.11.22 Growth Call"
- **Date:** Thu November 22nd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-11-15 10:36] ripcurlx commented on #80
We've cancelled today's call, as I'm focusing on developer testing the release branch 0.9.0 and @flix1 is not able to jump in today. Next week we'll have our growth call again as usual. Hopefully already talking about the latest release 😉

[2018-11-22 11:16] ripcurlx commented on #80
Today's call will be about our new release 0.9.0:
- Translations: How can you help to give your language the final touches until our code freeze on Monday
- Testing: Process and preconditions to participate in the release testing
- What's new in 0.9.0
- Bisq DAO on Testnet & Mainnet: What does it mean for contributors and traders?
- Upcoming events: https://www.meetup.com/de-DE/Blockchain-Dev-Wars

[2018-11-30 09:40] #80 closed

[2018-12-05 16:25] ripcurlx opened #81 "2018.12.06 Growth Call"
- **Date:** Thu December 6th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2018-12-05 16:34] ripcurlx commented on #81
@bisq-network/contributors As discussed in the #growth channel on Slack it would be great to have as many contributors as possible for tomorrows growth call to celebrate the release of [v0.9.0](https://github.com/bisq-network/bisq/releases/tag/v0.9.0)! 🍾  Please leave a 👍 if you plan to participate tomorrow. Thanks!

[2018-12-06 09:19] ripcurlx commented on #81
@pedromvpg Do you think you can make it to the call today as well? We'll try to keep it short and sweet 😄

[2018-12-13 11:30] ripcurlx commented on #81
Closing as complete.

[2018-12-13 11:30] #81 closed

[2018-12-13 11:31] ripcurlx opened #82 "2018.12.13 Growth Call"
- **Date:** Thu December 13th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2018-12-13 13:39] ripcurlx commented on #82
@flix1 Anything special you want to talk about today?
I just released 0.9.1. We could talk about the changes there, but besides that I don't have a special agenda so far.

[2018-12-13 14:08] ripcurlx commented on #82
Also the performance of our new website could be interesting to show. It improved quite a lot.
@m52go Do you want to join for this discussion?

[2018-12-13 14:19] m52go commented on #82
@ripcurlx sure. anything in particular we want to discuss? I guess Markets page would be nice for people to see.

[2018-12-13 14:23] ripcurlx commented on #82
Yes you could quickly first walk them through the new homepage and afterwards talk about the performance. I just took some screenshots for you from GA.

**Distribution of downloads on the website**
<img width="1384" alt="bildschirmfoto 2018-12-13 um 15 06 51" src="https://user-images.githubusercontent.com/170962/49944363-8ad7c900-feea-11e8-8c41-0538c0c4c073.png">

**Compare number of downloads wit

[2018-12-30 11:17] #82 closed

[2019-01-02 18:42] ripcurlx opened #83 "2019.01.03 Growth Call"
- **Date:** Thu January 3rd
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also th

[2019-01-02 19:10] ripcurlx commented on #83
What about collecting ideas from the community upfront what they want to see on Bisq in 2019 and discuss some of the ideas live - what do you think? Send out a tweet, put it on reddit,... and collect all the ideas here.

I'll also have a look at the feedback from our survey.

[2019-01-02 19:38] ripcurlx commented on #83
@bisq-network/contributors It would be great to get as many contributors on tomorrow's growth call as possible to discuss ideas from the community and about our plans for 2019. Thanks!

[2019-01-03 09:17] ripcurlx commented on #83
Topics from Twitter & Survey so far:
- more liquidity for BTC/GBP market
- Segwit
- Coinjoin
- Hardware wallet integration
- Monero as base currency
- Purchase other cryptocurrencies with fiat money
- Encrypted chat between buyer and seller
- Noob friendly guidance for on first trade
- Add "[New Payments Platform](https://www.nppa.com.au/)" and Cardless Cash payment method for Australia
- More tut

[2019-01-03 18:53] dgyg commented on #83
Another point for the list above:
* Integration of Bisq into one of these "boxes" (Nodle, Casa Node etc.) → more offers online, more liquidity

[2019-01-03 19:30] dginovker commented on #83
See my comment here; https://bisq.community/t/what-do-you-want-to-see-on-bisq-in-2019/6858/2?u=osnf2p

Let's take the liquidity from the masses; and keep our decentralization pure.

[2019-01-09 14:28] ManfredKarrer opened #84 "2019.01.16 Dev Call"
We will have the next dev session on 16th of January at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Pull request and commit policy
- Testing frameworks
- Milestones of different domains
- Next steps

Feel free to add anything you want to discuss!

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but to

[2019-01-10 08:02] #83 closed

[2019-01-10 08:04] ripcurlx opened #85 "2019.01.11 Growth Call"
- **Date:** Thu January 11th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2019-01-10 08:11] ripcurlx commented on #85
For today's agenda:
- Highlights of our latest two releases (0.9.2, 0.9.3) and if we do plan to keep a 12 hour release cycle from now on 😉
- Market update
- New weekly dev calls

Anything else you want to see on today's agenda?

[2019-01-10 18:40] ManfredKarrer commented on #85
- Beam, Grin

[2019-01-10 18:40] ManfredKarrer commented on #85
- DAO testing open again

[2019-01-15 11:17] #85 closed

[2019-01-15 11:18] ripcurlx opened #86 "2019.01.17 Growth Call"
- **Date:** Thu January 17th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2019-01-16 14:29] ManfredKarrer opened #87 "2019.01.23 Dev Call"
We will have the next dev session on 23th of January at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Testing frameworks
- @blabno would be great if you can give an update regarding API implementation
- I will give an update regarding DAO
- @craigsailor would be great if you can give an update regarding the new trade protocol
- @freimair

[2019-01-16 14:29] #84 closed, assigned to ManfredKarrer

[2019-01-17 04:05] m52go commented on #86
Some items to cover:
- market update
- highlight GRIN (up to 17 offers as I write this, with 3 of those offers to buy it)
- note on bisq growth in india (recently, indian banks threatened to close bank accounts of customers suspected to be involved with bitcoin)
- testing DAO (not specifically growth, I know, but I want to signal this is a high priority)

[2019-01-17 10:46] ManfredKarrer commented on #86
@m52go Great topics!
I am not sure if @ripcurlx will be back home with good internet (was at his parents place with poor internet connection). Could you take the lead for that growth call? Do you know how to set up a Hangout live stream in our Youtube channel?

I wanted to discuss also the new trade protocol, but maybe better move that to next week as it would get too much.

[2019-01-17 12:53] m52go commented on #86
@ManfredKarrer yup, he actually asked me a few days ago. I'll lead the call today. I haven't done a livestream on Google before but will set up early to make sure everything is ready to go.

[2019-01-22 13:49] ManfredKarrer commented on #87
I would like to discuss also a process for reviewing new proposals.

There are some important discussions about login security for API. Please have a look to the proposal [1] so we can have a general discussion.
@freimair: We would like to get your input/expertise for that  topic. Could you have a look to it [1]?

I wanted to also go deeper into the new trade protocol but I fear we need to postpon

[2019-01-22 14:30] #86 closed

[2019-01-22 15:08] ripcurlx opened #88 "2019.01.24 Growth call"
- **Date:** Thu January 24th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also t

[2019-01-22 15:13] ripcurlx commented on #88
@eyalron33 Thanks for hosting this weeks growth call! Feel free to post your agenda as a comment and I'll update the issue accordingly.

[2019-01-23 12:57] ManfredKarrer commented on #87
Hangout link: https://hangouts.google.com/hangouts/_/ytl/1iOl3rtGg4qxToQtnp0ktoKaRP0RMq-b653eP3InmHM=?eid=113658484056496995324&hl=de_DE
Youtube: https://www.youtube.com/watch?v=i8tSEMv5nVo

[2019-01-24 10:13] eyalron33 commented on #88
Here's the (short) agenda.

Topic: Bisq's decentralized dispute resolution protocol

- Introduction to Bisq disputes and the current dispute resolution protocol
- How to improve the current protocol? introducing: mediators
- Mediators vs. arbitrators
- Description of the new trade protocol with mediators

[2019-01-24 10:33] ripcurlx commented on #88
@eyalron33 Thanks! I just updated the issue.

[2019-01-24 10:58] ripcurlx commented on #87
Thanks @ManfredKarrer for hosting this call! Closing as complete.

[2019-01-24 10:58] #87 closed

[2019-01-25 23:35] #88 closed

[2019-01-25 23:43] m52go opened #89 "2019.01.31 Growth call"
Details for the next growth call:
- **Date:** Thursday 31 January 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube Live Stream (see Call Details below)

If you want to help Bisq grow, this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how

[2019-01-29 22:04] ManfredKarrer opened #90 "2019.01.30 Dev Call"
We will have the next dev session on 30th of January at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Testing frameworks
- @freimair would you like to give a overview about the P2P netwwork monitoring?
- New trade protocol overview (@craigsailor - can you join?)

Feel free to add anything you want to discuss!

__Note: Dev calls are in a

[2019-01-30 09:46] freimair commented on #90
- Testing frameworks: I haven't had time to sum up anything. So there is not much to discuss. I suggest to postpone this discussion until we have an idea of what testing frameworks are available.
- network monitoring: sure

[2019-01-31 10:57] ripcurlx commented on #89
@m52go I could do the intro and market update this time and would hand over to @ManfredKarrer for the Grin de-listing. For the rest it would be great if you could take over. What do you think?

[2019-01-31 12:40] m52go commented on #89
@ripcurlx sounds good.

[2019-02-04 16:52] #89 closed

[2019-02-04 16:54] m52go opened #91 "2019.02.07 Growth call"
Details for the next growth call:
- **Date:** Thursday 07 February 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube Live Stream (see Call Details below)

If you want to help Bisq grow, this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how

[2019-02-04 17:49] m52go opened #92 "Blog topic: Bisq DAO for maximalists"
Discuss why the Bisq DAO and BSQ token actually have a worthy use.

Typical big objections:
1. There is no company or other entity to provide the functions these tools enable, so the "token is unnecessary" argument is flawed. All token issuers so far have been entities, so it's reasonable for people to be skeptical at first.
2. BSQ is not a currency to compete with bitcoin. It merely enables bitco

[2019-02-04 17:50] m52go opened #93 "Blog topic: theoretical valuation model for BSQ"
Perhaps Bisq's most fascinating element is that it delivers a service and earns revenue without any legal entity (i.e., no capital structure, no equity). This might be a world-first.

Traditionally, company values are based on the value of their equity. Because Bisq doesn't have any semblance of equity, traditional valuation methods such as discounted cash flow methods and various comparables meth

[2019-02-04 17:50] m52go opened #95 "Blog topic: why users use Bisq"
This is more of a theme than a topic that anyone can write about can write about. We can have multiple people write about it too, perhaps covering how they found out about Bisq and why they use it.

Anonymous contributions are welcome (anonymous contributions are accepted in general, too, but I figured it especially important to mention it here).

This may get interesting with the release of the A

[2019-02-04 17:51] m52go opened #96 "Blog topic: code is not law"
Bisq is not a protocol like Bitcoin or TCP/IP, but a service run by people for people, using software built by people. The software has protections in place to avoid extreme scenarios, but there will be bugs and attackers, and ultimately the code is more of an expression of intention than it is a final incorruptible almighty law.

While we hope nothing will be catastrophic enough to require it, Bi

[2019-02-04 17:52] m52go opened #97 "Blog topic: the Bisq DAO as an evolution of the social organization"
A vastly underrated factor in the dramatic economic growth, innovation, and resulting lifestyle improvements of the past ~200 years has been the limited liability corporation.

While this legal entity has (and will continue) to power great things, it has limitations.

The Bisq DAO is a model for a new paradigm that enables initiatives to proliferate independent of the state (no state/political app

[2019-02-05 10:40] ManfredKarrer opened #98 "2019.02.06 Dev Call"
We will have the next dev session on 6th of February at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Overview about the BitcoinJ integration in Bisq. @oscarguindzberg would you be available to join?

Feel free to add anything you want to discuss!

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but top

[2019-02-05 19:08] m52go opened #99 "Create DAO landing page"
Below are some suggestions for copy of the DAO landing page. I'm envisioning something that follows @pedromvpg's [XD prototype](https://xd.adobe.com/view/ea1d52de-ad37-457f-404c-68167278e9ce-9c2c/) design-wise...I think the blocks would look really good for the why/what/how section (assuming each item can get its own graphic).

Aesthetics are hard to convey with plain text so I used markdown to he

[2019-02-05 20:54] KanoczTomas commented on #99
I like the text a lot! It is short but to the point!
Perhaps we should mentoin the process of burning BSQ by using it, so it is not like we are printing money for the dao. Something like its supply is governed by market forces, not defined by consensus (like other crypto currencies have a built in inflation by mining or other means). It is something that is also unique among tokens.

[2019-02-05 21:18] ManfredKarrer commented on #99
Maybe we should add more text to the headlines:

Suggestion:
"Why does Bisq need a DAO?
A decentralized exchange like Bisq requires to be censorship resistance in all aspects. The trade protocol and the P2P network have achieved that to a high degree. The way how contributors are compensated for their work and how decisions are made need to meet that criteria as well to ensure that Bisq can develo

[2019-02-06 02:41] m52go commented on #99
If this is too brief, I can certainly add more. Keep in mind illustrations will add more context to help explain.

I had the following impressions:
* landing page should be as brief as possible
* its job is to guide users to other pages for more details
* it shouldn't overwhelm users with implementation details

[2019-02-06 06:17] KanoczTomas commented on #99
I too think that this is the case when less is more. The techy person can read about details from linked pages. We should keep it minimal and easily digestable.

[2019-02-06 06:54] KanoczTomas commented on #99
I would keep Seve's minimal text, but add yours about full potential. Something like:
 Bisq trading is currently decentralized, but Bisq's funding and decision-making is not. Help develop its full potential.

I would explain what the DAO acronym is.
A DAO is a decentralised autonomous organisation a new concept with a potential to replace classic corporations. (Then add Manfred's part) The Bisq DA

[2019-02-06 07:49] ripcurlx commented on #99
Actually I think as well that we should stick to the shorter versions by @m52go. Putting too much information on this landingpage at the top, just stops people from reading until the end IMHO.

What about keeping the short versions by Steve with minor changes based on the suggestions above and add follow-up links below each section?

I think we should keep out the DAO term in this section and I'm

[2019-02-06 10:18] ManfredKarrer commented on #99
Yes agree it should be shorter....
I just think we should write it for an audience as ourself. Too high level might be too "PR" like. I think most Bisq users are rather experienced and technical (?). Maybe there is a way to show 1 sentence and then have a bit more info on rollover a "read more" or the like? So that its not changing the page just inserts a bit more text (3 sentences more, just enou

[2019-02-06 12:36] ManfredKarrer commented on #98
Hangout: https://hangouts.google.com/hangouts/_/ytl/OdyFKDshtTa7b6K1qwjpFvEcBvQJsZoa0Lrj0i2hwTo=?eid=113658484056496995324&hl=de_DE

Youtube: https://www.youtube.com/watch?v=FE-7seyY1z8

[2019-02-06 14:19] ManfredKarrer opened #100 "2019.02.13 Dev Call"
We will have the next dev session on 13th of February at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Q&A about the Bisq DAO for developers

To not repeat what we had done already in the past I ask every Bisq developer to watch the video(s) listed below:

If you are already pretty familiar with the DAO please watch that:
- https://www.y

[2019-02-06 14:19] #98 closed

[2019-02-06 14:58] m52go commented on #91
@ripcurlx yessir.

[2019-02-06 15:23] ripcurlx commented on #91
@m52go Thanks!

[2019-02-06 17:58] m52go commented on #99
Here's a mock-up. It integrates feedback from everyone so far.

For me a big part of ICO-style PR is aesthetic design...my unscientific heuristic for tokens is the more slick they look, the more likely they are a scam.

No matter what the exact text says, we should avoid fancy over-designed styling to maximize integrity.

[2019-02-07 00:18] m52go commented on #99
Thanks everyone for the feedback so far.

I've added your suggestions with basic styling to de-emphasize non-essential details. Mock-ups are below (used free version of wireframe.cc, had to take screenshots).

---

### Notes

* if it turns out this new text is too much, maybe we can include toggles to show/hide details like Manfred suggested.
* once we finalize the level of detail we want to cover

[2019-02-07 01:14] pedromvpg commented on #99
Can I get this final version in a text format? google docs maybe?

[2019-02-07 04:35] m52go commented on #99
@pedromvpg

<details>
  <summary>text content of the screenshots above</summary>

# The Bisq dAO
### Bitcoin-style governance to make Bisq as unstoppable as Bitcoin itself.

---

WHY A DAO?

Bisq trading is currently decentralized, but its funding and decision-making is not.

It is critical that Bisq be resistant to censorship, and the trade protocol and P2P network achieve this—for traders.

What

[2019-02-07 04:55] m52go commented on #91
Proposed topics:
* Market update
* Blogging initiative, call for bloggers
* Comments on upcoming release?

[2019-02-07 05:45] pedromvpg commented on #99
Hi

Here's the link to un updated version of the design:
https://xd.adobe.com/view/ea1d52de-ad37-457f-404c-68167278e9ce-9c2c/

In my opinion I think the page is a little to dense with content. Specially the bottom part. Those ideas should have already been conveyed in the top and should be pretty clear by the time the user gets to the bottom.

Added comments and attaching the XD file below in case

[2019-02-07 05:46] pedromvpg commented on #99
Ideas and feedback on the illustrations would be really helpful.

[2019-02-07 06:35] pedromvpg commented on #99
updated XD

[DAO-page.xd.zip](https://github.com/bisq-network/growth/files/2839571/DAO-page.xd.zip)

[2019-02-07 07:58] ripcurlx commented on #99
I'm not sure if we should put that much of an "opinion" here, as legit it might be.

[2019-02-07 18:13] m52go commented on #99
ripcurlx you're right, that's harsh. Let's change it to:

@pedromvpg you're right about density and details.

Maybe we need a different structure. I like what Blockstream does for [their Liquid page](https://blockstream.com/liquid/). One high-level block right at the top (i.e., _what_ is this in 20 words), then 4 discrete features (which could be our users/contributors blocks), benefits (i.e., wha

[2019-02-07 19:49] #91 closed

[2019-02-07 19:56] m52go opened #101 "2019.02.14 Growth Call"
Details for the next growth call:
- **Date:** Thursday 14 February 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube Live Stream (see Call Details below)

If you want to help Bisq grow, this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how

[2019-02-08 00:35] m52go commented on #99
I've shuffled some pieces around to ease into detail rather than forcing it all at the top. I purposely put _What_ before _Why_ to fit Blockstream's approach...does this work better?

Graphics not from Pedro are just rough ideas from me, not serious suggestions.

@pedromvpg graphics feedback:

* for the one showing the difference in BSQ and BTC trade fees, what do you think about something that sa

[2019-02-08 08:29] ripcurlx commented on #99
I still think it is better to put the problem before the solution to guide the user through the same thinking process we've been through.

I agree that it make sense to put the additional information after the `Learn more` section.

[2019-02-08 17:40] m52go commented on #99
Sure, let's move the _Why_ section to above the _What_ section.

Any other feedback?

@pedromvpg how should we proceed? If you'd like to finalize a design, I can write the markup. Or let me know what you'd prefer.

[2019-02-09 00:25] pedromvpg commented on #99
Is the text finalized?
Can we do edits on google doc? I need a finalized text.

I can take a stab at constructing the template on jekkyl tomorrow and work on outstanding illustrations.

[2019-02-09 00:36] m52go commented on #99
https://docs.google.com/document/d/1yXWobnrNyreIXtTXoPVZOyQwUuuGtQActZRuohSzJRc/edit?usp=sharing

[2019-02-12 19:58] m52go commented on #99
@pedromvpg where are we with the website?

[2019-02-13 06:53] pedromvpg commented on #99
Started on the implementation. Hope to have something tomorrow.

[2019-02-13 12:52] m52go opened #102 "Make short video series for the DAO called "Bisq DAO in Brief""
This is a short, to-the-point, 'what, why, and how' video series to explain the DAO and BSQ token. It is intended as a general-purpose resource and pays no special attention to maximalists. I would like to link to this playlist on the bottom of the DAO landing page.

The idea of creating this kind of a video series has already come up a couple times, so I won't wait for approval to do this, but I'

[2019-02-13 17:35] ManfredKarrer commented on #102
Maybe its worth to break that into 2 videos?

[2019-02-13 17:37] ManfredKarrer commented on #102
I think it is important to point out here that we use the blockchain for notarisation purpuse only not as data carrier (as most colored coin and smart contract projects do). We use the Bisqw P2P network as second layer network and combine that with the BTC network for creating a consensus sytem.

[2019-02-13 17:46] ManfredKarrer opened #103 "2019.02.20 Dev Call"
We will have the next dev session on 20th of February at 14:00 CET.
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Release process
- Testing Bisq (for releases)
- Deterministic build system (gitian build)

@KanoczTomas Could you give a bit of overview about gitian build?

@devinbileck I know 14:00 CET does not work for you. Which time would work, ma

[2019-02-13 17:46] #100 closed

[2019-02-13 17:46] ManfredKarrer commented on #100
Hangout: https://hangouts.google.com/hangouts/_/ytl/XlGMayOw9pMTG2WvR4r1cxfa9rd3lkQkt_CmbA9LMKc=?eid=113658484056496995324&hl=de_DE Youtube: https://www.youtube.com/watch?v=dZk3lW9igA0

[2019-02-14 06:34] devinbileck commented on #103
09:00 PST would work for me.

[2019-02-14 07:24] pedromvpg commented on #99
Working version of the page here.
TODO:
- Fix layouts
- Fix styles
- Replace and finalize illustrations

[2019-02-14 07:37] ripcurlx commented on #99
@pedromvpg We decided yesterday in the Dev call to do a codefreeze EOD, but will release next week. Probably Monday or Tuesday.

[2019-02-14 09:07] KanoczTomas commented on #103
@ManfredKarrer I am sorry I am travelling next week, won't be able to join. Besides I did not yet manage to do a gitian build, but as it is in my todo I can for sure present it on a dev call once I get to doing the actual build for bitcoind.

[2019-02-14 14:12] pedromvpg commented on #99
Cool. Code freeze the client obviously. not the website right? That gives me some time to finish it. during the wknd.

[2019-02-14 14:13] ripcurlx commented on #99
Yes, only client code freeze.

[2019-02-14 16:47] KanoczTomas commented on #99
FYI @m52go I added some comments to the googledocs. Nice job!

[2019-02-14 20:04] #101 closed

[2019-02-14 20:04] m52go opened #104 "2019.02.21 Growth Call"
Details for the next growth call:
- **Date:** Thursday 21 February 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube Live Stream (see Call Details below)

If you want to help Bisq grow, this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how

[2019-02-19 21:35] ManfredKarrer commented on #103
I would like to cancel that dev session as we have lots of work with current release and we could not find a timeslot where Christoph and Devin had time. Probably next session will be next Tuesday 9AM PST  / 18:00 CET, but I will announce it the next days.

[2019-02-19 21:35] #103 closed

[2019-02-20 20:24] ripcurlx commented on #104
We could talk about:
- Why it is a bad thing to test on Testnet
- When we plan to release v0.9.4
- Market update

[2019-02-20 20:28] clearwater-trust commented on #104
How testing will proceed after the update. Or maybe we should save this topic closer to release.

---- On Wed, 20 Feb 2019 14:24:48 -0600 notifications@github.com wrote ----

We could talk about:

Why it is a bad thing to test on Testnet
When we plan to release v0.9.4
Market update

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub,

[2019-02-21 09:01] HarryMacfinned commented on #104
Since Bisq devs use github a lot,
would it be possible to spent some minutes, regularly, about some tips, good practices, etc with github ?

[2019-02-21 19:41] ripcurlx opened #105 "2019.02.28 Growth call"
- **Date:** Thu February 28th
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2019-02-21 19:43] #104 closed

[2019-02-22 19:49] m52go commented on #99
Completed with https://github.com/bisq-network/bisq-website/pull/121.

[2019-02-22 19:49] #99 closed

[2019-02-24 16:49] ManfredKarrer opened #106 "2019.02.26 Dev Call at 18:00 CET."
We will have the next dev session on 26th of February at 18:00 CET (9:00 PST / 12:00 EST).
The hangout link will be announced 10 minutes before the call on Slack as well here.

We changed that week's day and time to make it possible that @devinbileck can join.
We can discuss if we stick with that time slot for upcoming sessions as well.

Agenda:
- Release process -> by @ripcurlx
- Testing tool (ht

[2019-02-26 16:51] ManfredKarrer commented on #106
Dev session starts in 10 min here:
https://hangouts.google.com/hangouts/_/ytl/p-2Qkn4g3p55jcJ6kkC3-o3EeMnIHWHwwtr2dFICMCM=?eid=113658484056496995324
https://www.youtube.com/watch?v=GWcIYplrggs

[2019-02-26 21:25] #106 closed

[2019-02-28 21:38] #105 closed

[2019-02-28 21:38] m52go opened #107 "2019.03.07 Growth Call"
- **Date:** Thu March 07 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2019-03-02 14:20] m52go commented on #102
Closing as complete ([link](https://www.youtube.com/playlist?list=PLFH5SztL5cYPAXWFz-IMB4dBZ0MEZEG_e)).

[2019-03-02 14:20] #102 closed

[2019-03-03 10:06] ripcurlx opened #108 "Reach out to existing contributors (DAO launch)"
## Learning Goal/Objective

To understand what communication channels and documentation material work best to activate existing contributors again.

## Hypothesis

If the experiment is successful, we predict that 25% (~55 of 218 contributors) try out the Bisq DAO at least on time on DAO Testnet or Testnet.

## Experiment Design

By communicating via different channels and creating educational mate

[2019-03-03 10:07] ripcurlx commented on #108
@m52go @ManfredKarrer Unfortunately I completely forgot to create our goals for our marketing/communication efforts back then, so I'm not 100% sure about the concrete numbers anymore. How many existing contributors did we want to reach?

[2019-03-03 10:32] ripcurlx opened #109 "Reach out to traders (DAO launch)"
## Learning Goal/Objective

To understand what communication channels and documentation material work best to activate traders to be aware of and try out the DAO.

## Hypothesis

If the experiment is successful, we predict that 10% of our monthly active traders (1,000 of 10,000) will purchase BSQ token on the DAO launch.

## Experiment Design

By communicating via different channels and creating e

[2019-03-03 10:32] ripcurlx commented on #109
@m52go @ManfredKarrer Unfortunately I completely forgot to create our goals for our marketing/communication efforts back then, so I'm not 100% sure about the concrete numbers anymore. How many of our existing traders did we want to reach?

[2019-03-03 17:10] ManfredKarrer commented on #109
Not sure either....
I would say we want to reach 70% of our active traders. Might be hard to meassure as some prefer to be passive and anonymous so might not repsond to requests for feedback, etc.

[2019-03-04 09:18] ripcurlx commented on #109
Yes, I guess we need to put as much information within the client as possible and highlight it with a *new* badge or similar.

[2019-03-04 14:42] m52go commented on #109
In my opinion there was already too much information. For example, I don't think there's a need to outline the steps of testing the DAO if we already describe it elsewhere.

In my opinion, the DAO page in the client should have minimal text and bold calls to action.

I don't think there's any need to try reaching old contributors there...it's proven to be ineffective (and many users are confused i

[2019-03-04 14:48] m52go commented on #108
My impression was always that email was the way to do this. Manfred and I discussed earlier and I think we decided that he'll reach out to them when the time is right.

[2019-03-04 17:30] ManfredKarrer commented on #108
I would suggest a goal is to reach at least 70% of our active users.

[2019-03-04 17:32] ManfredKarrer commented on #109
@m52go Agree!

[2019-03-05 16:31] ManfredKarrer opened #110 "2019.03.05 Dev Call at 18:00 CET."
We will have the next dev session on 05th of March at 18:00 CET (9:00 PST / 12:00 EST).
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Release
- Options for adding integration tests for multiple OS to build system
- Logging performance issues
- Ideas for altcoin trade improvements

__Note: Dev calls are in a similar format like normal growth call. A

[2019-03-05 16:34] ManfredKarrer commented on #110
Hangout: https://hangouts.google.com/hangouts/_/ytl/BnY0J5OQ0lbkmlmL3Mr9EQXSxvLM99ZzmUnyBKnuppM=?hl=en_US
Youtube: https://www.youtube.com/watch?v=y0utsSUKxlU

[2019-03-05 16:55] ManfredKarrer commented on #110
Here are the latest PRs:
https://github.com/bisq-network/bisq/pulls?q=is%3Apr+is%3Aclosed

I would like to give a bit of overview as there are some important changes/fixes.

[2019-03-07 12:47] ripcurlx commented on #107
We could talk today about:
- last months volume
- our release v0.9.5
...

[2019-03-07 14:15] m52go commented on #92
Closing as complete with https://github.com/bisq-network/bisq-website/pull/118.

[2019-03-07 14:15] #92 closed

[2019-03-07 22:05] #93 closed

[2019-03-07 22:10] #107 closed

[2019-03-07 22:10] m52go opened #111 "2019.03.14 Growth Call"
- **Date:** Thu March 14 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2019-03-12 01:11] #110 closed

[2019-03-12 01:13] ManfredKarrer opened #112 "2019.03.12 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Ideas for altcoin trade improvements
- DAO state hashcain (https://github.com/bisq-network/bisq/pull/2532)

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but topic is limited to development topics.__

[2019-03-12 01:13] ManfredKarrer commented on #112
@KanoczTomas @ben-kaufman Are you availabel for joining as well?

[2019-03-12 13:06] ManfredKarrer commented on #112
@KanoczTomas @ben-kaufman @freimair @blabno @oscarguindzberg @devinbileck
As daylight savings changed timezone for Devin I moved 1 hour earlier. Hope that works for everybody.

[2019-03-12 15:33] ManfredKarrer commented on #112
Hangout: https://hangouts.google.com/hangouts/_/ytl/Z7So3HKxLN2Oub8MfRt82MShkwvTsVBdG4JXP8SyTJg=?hl=en_US

Youtube: https://www.youtube.com/watch?v=RRmuUWS6hoQ

[2019-03-12 19:36] #112 closed

[2019-03-14 12:55] m52go commented on #111
Possible topics:
* Market update
* Update on DAO testing and blog initiative
* Request for new video ideas
* Maybe discuss results of live trading so far, to further encourage it?

[2019-03-14 18:31] #111 closed

[2019-03-14 19:10] ManfredKarrer commented on #111
Sorry that I missed it due daylight savings time changes. ;-(

[2019-03-14 19:49] m52go opened #113 "2019.03.21 Growth Call"
Details of our next growth call:

- **Date:** Thu March 21 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many

[2019-03-17 01:17] ManfredKarrer opened #114 "2019.03.19 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Update new trade protocol status
- Overview about DAO monitoring (hash chain)
- Next releases (v0.9.6, v0.9.7, v1.0.0)
- Preparations for DAO launch (See https://docs.google.com/document/d/17OYQifPuH1mEA9rcJ-AiCPkUAfNNMavBO7hiHVbcuZQ)

__Note: Dev calls are in a similar format like normal growth call. A

[2019-03-19 15:54] ManfredKarrer commented on #114
Hangout: https://hangouts.google.com/hangouts/_/ytl/3YOQcaB1PoZPHDm1lXsiH4DXWQJSwzNPlm0U6pS6l98=?hl=en_US
Youtube: https://www.youtube.com/watch?v=nOvEA6xKi1M

[2019-03-21 14:00] m52go commented on #113
Possible topics:
* Market update
* Handling recent spike in interest from Mexican/Brazilian markets (docs translations?)
* Briefly discuss hodlhodl v bisq ([inspired by this tweet](https://twitter.com/romansnitko/status/1108334127898464256)) (optional)

[2019-03-21 14:38] ManfredKarrer commented on #113
@m52go Let's use CET time as masterr time zone. Might be still a bit confusing with day light savings changes.... so 20:15 CET

[2019-03-24 18:42] ManfredKarrer opened #115 "2019.03.26 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- State of DAO launch preparations [1]
- Overview new trade protocol concept [2]

 [1] https://docs.google.com/document/d/17OYQifPuH1mEA9rcJ-AiCPkUAfNNMavBO7hiHVbcuZQ
[2] https://github.com/bisq-network/proposals/issues/52

__Note: Dev calls are in a similar format like normal growth call. Anyone can join

[2019-03-24 18:42] #114 closed

[2019-03-26 15:41] ripcurlx opened #116 "Conduct April 1st-4th compensation request voting"
_(previous voting round: #222 )_

 - [ ] Announce call for requests 3 days ahead and provide instructions on how to submit in a comment on this issue
 - [ ] Announce that the review period (1st) has begun in a comment on this issue
 - [ ] Transcribe [compensation requests](https://github.com/bisq-network/compensation/issues) to [stake and voting spreadsheet](https://docs.google.com/spreadsheets/d/

[2019-03-26 15:42] #116 closed

[2019-03-26 15:55] ManfredKarrer commented on #115
Hangout: https://hangouts.google.com/hangouts/_/ytl/PpVD0pAZcNPvOoQCoTm5_mig3PkdTbyrnmgV5V5fWX0=?eid=113658484056496995324
Youtube: https://www.youtube.com/watch?v=O9E9sdiXKKU

[2019-03-28 11:29] ripcurlx opened #117 "2019.03.28 Growth Call"
- **Date:** Thu March 28th 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note als

[2019-03-28 11:30] #113 closed

[2019-03-28 11:36] ripcurlx commented on #117
We could talk about our upcoming release. About the current state, testing and release date.

@m52go Is there a plan to increase the testing group with next release?
If yes, we could give a sneak peak of some updates within v0.9.6.

[2019-03-28 11:51] m52go commented on #117
@ripcurlx no hard push for new testers, as I think we already have a good-enough user base to get 30+ proposals in a round, which is about what we want.

But yes I think it's a good idea to discuss upcoming updates and still invite new people if they're interested.

[2019-03-29 03:04] m52go opened #118 "2019.04.04 Growth Call"
- **Date:** Thu April 04 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Note also

[2019-03-29 03:05] #117 closed

[2019-04-04 09:51] ripcurlx commented on #118
@ManfredKarrer it would be interesting if we could talk about your recent proposal on a second offchain trade protocol variation. Besides that we should talk about our DAO release plans and where we need support from the community.

[2019-04-04 12:25] m52go commented on #118
Agree, and that's a very interesting proposal, although I think we should discuss DAO release plans and testing first.

[2019-04-04 20:47] m52go opened #119 "2019.04.11 Growth Call"
Call details:
- **Date:** Thu April 11 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be ther

[2019-04-04 20:47] #118 closed

[2019-04-07 03:25] ManfredKarrer opened #120 "2019.04.09 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- State of DAO launch preparations [1]

 [1] https://docs.google.com/document/d/17OYQifPuH1mEA9rcJ-AiCPkUAfNNMavBO7hiHVbcuZQ

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but topic is limited to development topics.__

[2019-04-09 15:55] ManfredKarrer commented on #120
Damn daylight savings time change.... Sorry missed to uupdate my local time as CET is now 1 hour ahead.... But was nothing special on the agenda anyway. So lets skip that weeks call.

[2019-04-09 15:55] #120 closed

[2019-04-11 19:50] #119 closed

[2019-04-16 04:02] ManfredKarrer opened #121 "2019.04.23 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- DAO launch
- Protection against chargeback scammers

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but topic is limited to development topics.__

[2019-04-16 14:50] #115 closed

[2019-04-17 19:02] m52go opened #122 "2019.04.18 Growth Call"
Call details:
- **Date:** Thu April 18 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be ther

[2019-04-18 09:41] ripcurlx commented on #122
Maybe we could collect questions up-front (Twitter, Forum,...) on the Bisq DAO and answer them during the call?

[2019-04-22 16:34] m52go commented on #108
Closing, as the DAO is now launched.

[2019-04-22 16:34] #108 closed

[2019-04-22 16:35] m52go commented on #109
Closing, as the DAO is now launched.

[2019-04-22 16:35] #109 closed

[2019-04-23 14:52] ManfredKarrer commented on #121
Hangout: https://hangouts.google.com/hangouts/_/ytl/hD6shaBVvDSrsKG4MzWfjcoJTPaawYuaMg3MD146hW8=?eid=113658484056496995324&hl=de_DE&pageId=113658484056496995324
Youtube: https://www.youtube.com/watch?v=7nE8wem1eLI

[2019-04-23 17:07] #121 closed

[2019-04-25 11:03] flix1 commented on #24
It looks like we might get some trades in India soon:

https://twitter.com/flix1/status/1121365061837180930

![image](https://user-images.githubusercontent.com/4233784/56731307-7c33d500-675a-11e9-9568-3e8668d2cd3f.png)

Someone is making a market
https://bisq.network/markets/?currency=btc_inr

[2019-04-25 13:47] #122 closed

[2019-04-25 13:56] m52go opened #123 "2019.04.25 Growth Call"
Call details:
- **Date:** Thu April 25 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be ther

[2019-04-25 14:00] ripcurlx commented on #123
Agenda suggestions:
- market update
- mention and talk about https://bisq.community/t/delay-btc-release-for-fiat-trades/7505
- talk about the new anti-scam ideas from a user perspective

[2019-04-25 14:19] huey735 commented on #123
Agenda suggestions:

- [providing trading statistics to traders](https://bisq.community/t/providing-trading-statistics-to-traders/7504)

[2019-04-28 17:15] ManfredKarrer opened #124 "2019.04.30 Dev Call at 17:00 CET"
The hangout link will be announced 10 minutes before the call on Slack as well here.

Agenda:
- Seed nodes handover
- Relay nodes handover
- Price nodes handover
- Protection against chargeback scammers

__Note: Dev calls are in a similar format like normal growth call. Anyone can join but topic is limited to development topics.__

[2019-04-30 14:44] ManfredKarrer commented on #124
Hangout: https://hangouts.google.com/hangouts/_/ytl/l2R-2K4tMlNT2ep-SXcmZf6RSbwHvmWJOwcxwUxwpHY
Youtube: https://www.youtube.com/watch?v=FAQZF4LWgig

[2019-05-01 04:06] m52go opened #125 "2019.05.02 Growth Call"
Call details:
- **Date:** Thu May 02 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

[2019-05-01 04:07] #123 closed

[2019-05-02 23:14] #125 closed

[2019-05-02 23:19] m52go opened #126 "Speak on UnhashedPodcast"
To clarify concerns from their initial coverage of the Bisq DAO in late April. Hosts asked good questions, but seemed poorly informed, so that seemed to result in more speculation than well-informed discussion.

https://twitter.com/bisq_network/status/1121558111259697154

Slated to take place on Monday May 6 2019.

[2019-05-02 23:21] m52go opened #127 "Speak at Bitcoin 2019"
This is a big event put on by the folks behind Bitcoin Magazine.

Exact extent of speaking/involvement is not known yet, but the event is expected to draw 1500-2500 people with some of the top folks in the space.

Will update as I know more.

https://bitcoin2019conference.com

[2019-05-02 23:35] m52go opened #128 "Growth Call 2019.05.09"
Call details:
- **Date:** Thu May 09 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

[2019-05-03 15:56] arunasurya opened #129 "Translator Call 2019.05.07"
Call details:

- Date: Tue May 07 2019
- Time: 13:00 - 14:00 Central European Time
- Place: https://us04web.zoom.us/j/3953007925

We are going to have monthly translator calls, and this is our first call!

We will set consistent dates and times that accommodate many time zones for our future calls, and will live stream them on YouTube. For our first call, we will use the Zoom link above, and not l

[2019-05-05 13:44] MwithM commented on #129
I won't be able to attend the call. Will it be recorded?

[2019-05-06 12:37] arunasurya commented on #129
We can record the call and make it available on YouTube if the call participants are OK with it.

[2019-05-08 14:54] arunasurya commented on #129
The recording of the translator call is now available on [YouTube](https://www.youtube.com/watch?v=nAE0EdojliQ&list=PLFH5SztL5cYPPMIBM22SbqrJ01AXTeVY_). Here is a quick summary of the call, regarding translating the Bisq site.

## Bisq pages we are going to translate:
- Home page
- Vision
- Bisq DAO
- Statistics
- FAQ
- Markets
- Getting Started with Bisq (documentation)
- Downloads

## Languages

[2019-05-08 14:57] #129 closed

[2019-05-16 14:14] m52go opened #130 "Growth Call 2019.05.16"
Call details:
- **Date:** Thu May 16 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

[2019-05-23 01:41] m52go commented on #126
Released on May 10.

https://twitter.com/UnhashedPodcast/status/1126730721526083584

[2019-05-23 01:41] #126 closed

[2019-05-23 01:46] #128 closed

[2019-05-23 01:46] #130 closed

[2019-05-23 01:46] m52go opened #131 "Growth Call - 2019.05.23 at 20:15 CET [RESCHEDULED to 05.27]"
Call details:
- **Date:** Thu May 23 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** YouTube livestream, see Call Details below

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

[2019-05-23 01:47] #124 closed

[2019-05-23 02:24] m52go opened #132 "Developer Call - 2019.05.28 at 17:00 CET"
It's important that we talk through the proposed protection mechanisms and determine a way forward.

This call is scheduled at the same time as past calls, so hopefully most folks can join...a critical part of determining how to best proceed will require developer input.

### Day/Time
- Tuesday May 28 2019, 17 CET

### Agenda
- determine conceptual approach for protection mechanisms
    - strength

[2019-05-23 07:06] mpolavieja commented on #132
Within this bullet point, I think it is important to have feedback from developers about the pre-trade step, as this would enable the possibility of any 2FA method the traders agree without having to end the trade in a dispute wasting mining fees in case they don´t come to an agreement.

[2019-05-23 19:00] m52go opened #133 "Move away from Google Hangouts for live events"
We were already fighting against their new interface for livestreaming, which changed unexpectedly a few times, but today it didn't work at all.

This was probably just a 1-time bug/snafu. But Google's product management doesn't inspire any confidence in me. They have demonstrated that they have no issues haphazardly breaking/debilitating/discontinuing any of their services at any time.

I suggest

[2019-05-23 19:38] devinbileck commented on #133
Anything that respects your privacy and doesn't require a public account is ideal and may allow more people to join.

[2019-05-24 04:26] m52go commented on #133
Looks like Jitsi is the way to go.

We could host our own instance, but their hosted version at https://meet.jit.si/ looks sufficient. The additional privacy we'd get with self-hosting would be nice, but not critical, since recordings will be posted on YouTube anyway. I'm not sure it would be worth the hassle.

Drawbacks people should be aware of:
* [a browser extension](https://chrome.google.com/

[2019-05-24 11:59] m52go commented on #131
This call had to be canceled because Google Hangouts was having technical issues and the call couldn't be started.

I would still prefer for the user community to have a chance to discuss protection mechanisms before a way forward is determined by developers...so **let's reschedule this call for the same time on Monday**.

[2019-05-24 14:48] flix1 commented on #23
It was not claimed @takinbo. Feel free to do another trade and claim it.

We are also very interested in market makers in Nigeria... so if you can help or know anyone who can, there might be a bigger bounty available for that project.

[2019-05-24 14:52] flix1 commented on #24
Chicken and egg problem again. Over the past month we've had several different users posting INR offers... but never at the same time. https://bisq.network/markets/?currency=btc_inr

It's always the same **coordination problem**.

The only solution I can think of is contacting interested parties and doing a liquidity event to get them all to be there at the same time.

[2019-05-24 14:55] flix1 commented on #25
It looks like we've had a first RUB/BTC trade: https://bisq.network/markets/?currency=btc_rub

But nobody has claimed the bounty so far.

[2019-05-24 14:58] flix1 commented on #28
https://bisq.network/markets/?currency=btc_php

![image](https://user-images.githubusercontent.com/4233784/58336992-1e6fd700-7e45-11e9-9c4f-d31fdeace8db.png)

A couple of trades have been done. Nobody has claimed the bounty.

[2019-05-24 15:02] flix1 opened #134 "Complete the 1st trade in IRR/BTC"
Complete the first Bisq trade in **Iranian Rial** (IRR/BTC) and report back with 3 lines of feedback here on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).
https://bisq.network/markets/?currency=btc_irr

**Bounty: 100 $BSQ**

[2019-05-24 15:05] flix1 commented on #134
Localbitcoins has recently blocked Iranian tarders.
https://www.coindesk.com/localbitcoins-bans-bitcoin-buying-in-iran-in-blow-to-rising-crypto-commerce

And there was actually significant volume happening there. So this seems like a very good opportunity to try to attract some of those Localbitcoins traders to Bisq. They should be appreciative of Bisq's uncensorable qualities.

![image](https://u

[2019-05-24 16:36] flix1 opened #135 "China CNY / BTC Market Maker Bounty 1000 $BSQ"
### China CNY / BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq CNY/BTC for 1 month.
https://bisq.network/markets/?currency=btc_cny

This will involve:

1. Keeping at least **2 BUY** and **2 SELL** offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Re

[2019-05-24 19:09] flix1 commented on #21
![image](https://user-images.githubusercontent.com/4233784/58351102-1a08e580-7e68-11e9-947e-e3a3f06d9dd2.png)

This was hugely successful. I recommend closing this issue. @ripcurlx

[2019-05-24 19:09] #25 closed

[2019-05-24 19:15] #27 closed

[2019-05-24 19:15] #28 closed

[2019-05-24 19:19] #29 closed

[2019-05-24 19:20] #18 closed

[2019-05-24 19:20] #4 closed

[2019-05-24 19:21] flix1 commented on #17
https://coinmarketcap.com/exchanges/bisq/
https://www.coingecko.com/en/exchanges/bisq
https://coinadviser.info/coin/BSQ-BSQ

[2019-05-24 19:21] #17 closed

[2019-05-28 16:17] reipichu commented on #133
Would be great to have a solution that doesn't require a Google account!

[2019-05-28 16:20] HarryMacfinned commented on #133
@reipichu ,
it's generally possible to see youtube videos with torbrowser.
And for chating, you can use the slack.
So, there no google account needed.

[2019-05-28 18:06] m52go commented on #133
Yeah the intention of this issue was in part to remove the need for anyone to need a Google account (or any account at all) to participate.

Today's experience indicated that the hosted version of Jitsi won't work for us.

It seems our only option then is to configure our own instance of a suitable tool with sufficient hardware resources. We could stick with Jitsi (requirements not clear), or conf

[2019-05-28 21:07] m52go commented on #132
Outcome: ripcurlx and other developers will evaluate the technical requirements for the proposed measures and convey findings this week. Next week, we'll work toward crafting a technical specification and wire-frames to implement soon after.

[2019-05-28 21:07] #132 closed

[2019-05-29 18:50] m52go commented on #131
Video of this call is at https://youtu.be/8Tq1i379ywY. Closing as complete.

[2019-05-29 18:50] #131 closed

[2019-05-29 19:04] m52go commented on #133
Unless anyone has any better ideas, I'm inclined to use Zoom. We've used it in the past, and even with 20+ people on video, it tends to work fine.

Privacy of the content/video isn't an issue since videos will be uploaded to YouTube, but privacy of participants is an issue (i.e., those who prefer not to identify themselves as attendees). Zoom has a solution for that -- there's a view-only mode whi

[2019-05-29 20:24] devinbileck commented on #133
Just curious, what was the issue encountered with Jitsi?

[2019-05-29 20:29] m52go commented on #133
Their hosted solution (at https://meet.jit.si) seems to have limited resources.

I hosted a call on Monday with ~5 participants (2 on video) and it was okay.

Tuesday's call had 6 participants with 3-4 on video and the whole thing became dysfunctional.

[2019-05-30 11:38] m52go opened #136 "Growth Call - 2019.05.30 at 20:15 CET"
## Call details

- **Date:** Thu May 30 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join the #gr

[2019-05-30 18:55] m52go commented on #136
Published at https://youtu.be/hDAXChZ8RTQ. Closing as complete.

[2019-05-30 18:55] #136 closed

[2019-05-31 08:23] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/58692026-fecd3700-838d-11e9-8be7-4d0cbde44401.png)

It looks like https://bisq.network/ is once again blocked by the Great Firewall of China. I guess that you can still work around it with a VPN... but better to put this idea on hold for the time being.

[2019-06-06 13:54] m52go opened #137 "Growth Call - 2019.06.06 at 20:15 CET"
## Call details

- **Date:** Thu June 06 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join the #g

[2019-06-06 15:28] flix1 commented on #137
Tokyo Liquidity event 19th June
https://www.meetup.com/en-AU/Tokyo-Bitcoin-Hackers/events/262055716/

Organizers of this event have suggested using Bisq to do a F2F "Satoshi Square" type market during the event.

[2019-06-06 22:23] m52go commented on #137
Video uploaded:
https://youtu.be/qxynpwvgFGE

wiz ended up joining after the call recording ended (turns out it was 4am in Tokyo at the time!) and we had a good chat. We'll be in touch with him as he tests and plans to present Bisq in advance of his meetup on June 19.

[2019-06-06 22:23] #137 closed

[2019-06-06 22:41] m52go commented on #133
We've now had our second growth call with Zoom. Today it became apparent that we will need to pay for a premium account (15 USD/month)..."internally" it's no big deal to end a call after 40 minutes and reconnect, but when on a call with a guest, it's embarrassing and inconvenient to start a new call every 40 minutes to carry on a conversation.

Not sure about the "correct" way of doing this from a

[2019-06-08 05:14] huey735 commented on #24
We need to advertise "busy hours" in order to coordinate and kick-start new markets. Let's assume most people are at their computer from 17h00 to 22h00, this should be the time-frame advertised to expect loads of offers. The idea that one has to leave their computer 24/7 to keep their offers online repels people from Bisq.
And I think this info should be advertised inside the software as it is the

[2019-06-08 17:04] HarryMacfinned commented on #24
I agree about providing such information.
But I'm not sure that the software is the good place (already well busy).

[2019-06-11 09:27] flix1 opened #138 "Japan JPY / BTC Market Maker Bounty"
To claim this bounty the contributor must make a market in Bisq JPY/BTC for 1 month.

This will involve:

1. Keeping at least **2 BUY** and **2 SELL** offers live during 1 month.

2. Attracting other traders to the market through marketing, communication.

3. Completing at least 5 trades.

4. Report with feedback here on the details of the trades (payment method used, problems encountered, suggest

[2019-06-11 09:31] flix1 opened #139 "Japan: Complete the 1st F2F trade in JPY/BTC"
Complete the first face-to-face trade in Japanese Yen (JPY/BTC) on Bisq.

Report back here with 3 lines of feedback on the details of the trade (payment method used, problems encountered, suggestions for improvement, fees paid, time it took to complete the trade).

### Bounty: 50 $BSQ

[2019-06-11 09:37] flix1 opened #140 "Japan: JPY Liquidity Party [June 19 2019]"
### What
On 19 June 2019 we will try to kick-start the JPY/BTC market

### Objective
Reach 10+ live offers in JPY/BTC market.

### Bounty
Participants in the experiment (creating at least 1 offer on this day) will be rewarded with **20 $BSQ** after posting feedback here.

Additionally there will be **BTC bounties** offered by collaborators to be announced during the event.

Please add a 👍 below if

[2019-06-11 09:38] flix1 commented on #140
In collaboration with Tokyo Bitcoin Meetup

Wednesday, 19 June 2019
https://www.meetup.com/en-AU/Tokyo-Bitcoin-Hackers/events/262055716/

[2019-06-12 13:58] arunasurya opened #141 "Bounties for translations"
Several contributors suggested posting bounties to attract new translators and to do one-time, concrete tasks. We can post a bounty for Chinese translations, for instance, and share the links along with our monthly report, as @m52go has suggested. I thought to start a discussion here to get your thoughts on this and see what projects we can post bounties on.

[2019-06-13 11:23] arunasurya opened #142 "Language-specific communities & activities"
There is a lot of activity among Spanish-speaking contributors as seen on Slack (meetups, liquidity weeks, interviews in Spanish, etc). Unfortunately, info on Slack tends to disappear after a while (because of our free subscription), so it would be great to pool all that info into one place, present it in a clear format and keep it updated. This format be used for other core Bisq languages as well

[2019-06-13 12:32] y3v63n commented on #141
We can use these for tasks that we are unable to do for any reason. These may include:

- doing legal translations (if someone feels uncomfortable doing them),

- translating into languages we don't have translators for,

- doing an external review of an existing translation,

- doing linguistic testing of the app to point out overlays, truncations, concatenations or other visual issues in the Bis

[2019-06-13 13:29] arunasurya commented on #142
I should probably mention that this task should be compensated, in case it wasn't clear. I am not sure if there should be a specific amount or the amount is determined by the work done/value produced.

[2019-06-13 15:09] m52go opened #143 "Growth Call - 2019.06.13 at 20:15 CET"
## Call details

- **Date:** Thursday June 13 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-06-13 17:58] huey735 commented on #142
I've been thinking about this. It'd be useful to provide those interested with information relevant to their markets. However, we need to be careful not try to do everything. I think we should look to focus only on information directly related to Bitcoin and Bisq.

[2019-06-13 18:51] flix1 commented on #143
This issue was discussed:
https://github.com/bisq-network/proposals/issues/98

[2019-06-13 22:33] m52go commented on #143
Call uploaded here:
https://youtu.be/vX5MUN9KlH4

[2019-06-13 22:33] #143 closed

[2019-06-17 12:19] arunasurya opened #144 "Translator Call 2019.06.18"
## Call Details

- Date: Tue June 18 2019
- Time: 16:00 - 17:00 Central European Time
- Place: https://us04web.zoom.us/j/3953007925

## Agenda
- Update on translating the website (@huey735)
- Bisq query tracker update (@y3v63n)
- Discussions:
   - Compensation request rates
   - [Bounties for translations](https://github.com/bisq-network/growth/issues/141)
   - [Ambassador work](https://github.com

[2019-06-18 15:56] arunasurya commented on #142
Here are some ideas from the second translator call:
- The main goal for having language-specific information is to build communities in those languages.
- An ambassador can create a thread on Bisq forum, under "Protomotion", ideally in the target language (with a summary in English).
- An ambassador can create a Bisq account on Telegram in their target language since it may be a better place to a

[2019-06-18 16:02] arunasurya commented on #141
Here are some more ideas from the translator call:
- A contributor can suggest specific bounties on the #transifex Slack channel, and one of the admins creates an actual bounty with a specific BSQ amount. The bounty can be posted on Bisq forum and other platforms.
- If someone responds to that bounty posting, they will need to do the work and upon completing the task, can submit a compensation req

[2019-06-18 16:03] #144 closed

[2019-06-20 16:34] adibas03 commented on #23
@takinbo are you interested in completing the trade?
We could trade have a trade between us.

[2019-06-20 16:47] m52go opened #145 "Growth Call - 2019.06.20 at 20:15 CET"
## Call details

- **Date:** Thursday June 20 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-06-21 07:46] flix1 commented on #140
![image](https://user-images.githubusercontent.com/4233784/59906548-46813480-9409-11e9-9583-8fcaa60e53bf.png)

This was moderately successfull. The maximum number of live offers reached was 6.

[2019-06-21 19:01] m52go opened #146 "Growth Call - 2019.06.27 at 20:15 CET"
## Call details

- **Date:** Thursday June 27 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-06-21 19:02] m52go commented on #145
There was no one on the call, and I shared no new information, so I will not post video.

[2019-06-21 19:02] #145 closed

[2019-06-26 15:49] torachan3 commented on #138
I started working on this in hopes of getting this bounty.

I put up 2 BUY and 2 SELL orders a couple of days ago. They are small to get things started.

I also posted on reddit at [/r/japanlife](https://www.reddit.com/r/japanlife/comments/c5reqm/bisq_a_decentralized_p2p_bitcoin_exchange_jpybtc/) to hopefully attract some new traders and get the market moving.

[2019-06-28 12:58] m52go commented on #146
Uploaded here:
https://youtu.be/_6hw-gXJC5g

Closing as complete.

[2019-06-28 12:58] #146 closed

[2019-06-28 13:00] m52go opened #147 "Growth Call - 2019.07.04 at 20:15 CET"
## Call details

- **Date:** Thursday July 04 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-07-03 11:42] jmaurice commented on #138
I claim this bounty.

I've had up to 9 JPY offers up at once, for F2F trades in 2 different cities in Japan. The number of offers varies as offers get accepted, but I have setup a new dedicated desktop PC at home to maintain at least 2 buy and 2 sell offers at all times. I will maintain this and continue to provide liquidity indefinitely, much longer than 1 month, as it's a nice source of income a

[2019-07-04 02:15] torachan3 commented on #138
I bow out. :) @jmaurice 100% deserves this bounty. I only learned about Bisq through his demo on June 19 meetup of Tokyo Bitcoin Hackers. I had know idea how much he had invested in this. I only was going to attempt because I stumbled across the bounty and saw there there were no open orders at the time. Maybe I will take on one of his orders just to try the process out!

[2019-07-04 03:38] m52go commented on #147
Will need to cancel this call, as my plans for the long weekend changed late and I won't have internet service at that time.

[2019-07-04 03:38] #147 closed

[2019-07-04 08:31] jmaurice commented on #138
Hey @torachan3, I don't recognize your pseudonymous identity, but thanks for supporting Bisq in Japan and coming to the Tokyo Bitcoin Hackers meetup. Yesterday when I saw your post, I assumed you had given up on this since your post got deleted from reddit and I didn't see your offers online, but now I see you put them back. Thanks for providing liquidity, but I think your 30% premium is quite ste

[2019-07-04 14:27] jmaurice commented on #140
Unfortunately nobody participated in the Liquidity Party on that particular day. However @torachan3 did create offers as a direct result of the event, and a few other guys are going to soon. So I would request to change this bounty to anyone who creates offers within 30 days of the meetup presentation. Is that reasonable?

[2019-07-04 14:38] jmaurice commented on #141
As part of promoting the JPY trading pair in Japan, I'm having trouble with the language barrier, and could really use a Japanese translation. I'd like to request a bounty be created for this and then I'll get a native speaker to work on it with me and send the pull-request :)
Thanks!

[2019-07-04 19:22] tdhr0917 commented on #139
1) Payment method used was F2F cash in Kanazawa, Japan
2) Problems encountered were having to deposit Bitcoin for security deposit
3) Suggestion for improvement: make security deposit optional
4) Fees paid are in attached screenshot
5) Time it took was instant, since F2F in-person trade
I did the first JPY trade with @jmaurice on June 12
![スクリーンショット 2019-07-05 4 21 04](https://user-images.githubus

[2019-07-05 08:34] flix1 commented on #138
Very nice to see that JPY/BTC has taken off!

![image](https://user-images.githubusercontent.com/4233784/60709240-3e98b880-9f10-11e9-92df-b70099fd80f4.png)

![image](https://user-images.githubusercontent.com/4233784/60709302-62f49500-9f10-11e9-9949-d76b18e1916e.png)

Congratulations @jmaurice on claiming the bounty!

[2019-07-05 08:40] flix1 commented on #139
Congratulations @tdhr0917 on claiming the bounty!

[2019-07-05 08:44] flix1 commented on #141
Great idea @arunasurya.

To avoid being overwhelmed you could perhaps define a calendar of priorities and focus on 2-3 languages per month?

[2019-07-05 11:59] flix1 commented on #140
I think that nobody will object to @torachan3 claiming the bounty a bit late.

We are always happy to encourage contributors to learn how to make their first compensation request to the DAO. This is as good an excuse as any.

@torachan3 go ahead and create your compensation request based on this bounty. I will definitely vote in favour in this voting cycle and I'm pretty sure so will everyone else

[2019-07-05 14:05] jmaurice commented on #139
Can confirm, first trade was with @tdhr0917 👍

[2019-07-07 01:29] torachan3 commented on #140
Okay, I will submit a compensation request :)

[2019-07-07 13:31] torachan3 commented on #140
I claim this bounty. Although I did not create an offer on the day of the Liquidity Party, I have begun using Bisq and creating orders as a result of learning about Bisq at this event. At first I had created 2 BUY and 2 SELL orders for about ~1000 yen each, but currently have 1 BUY and 1 SELL order up for about ~5000 yen each. I plan to keep these online to help with market liquidity.

Some feedba

[2019-07-07 17:11] tdhr0917 opened #148 "Cycle 3"

[2019-07-07 17:22] tdhr0917 commented on #148
I'm so sorry. I made this at wrong places (this was not for this "growth"), then I closed this and make it again at correct place("compensation").

[2019-07-07 17:22] #148 closed

[2019-07-08 16:30] m52go commented on #127
Closing as complete. [Here's the video](https://www.youtube.com/watch?v=yogkHI3ion8).

[2019-07-08 16:30] #127 closed

[2019-07-08 16:31] m52go opened #149 "Growth Call - 2019.07.11 at 20:15 CET"
## Call details

- **Date:** Thursday July 11 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-07-12 13:59] m52go commented on #149
Uploading at https://youtu.be/eLEPi_FjlX8.

Closing as complete.

[2019-07-12 13:59] #149 closed

[2019-07-12 14:00] m52go opened #150 "Growth Call - 2019.07.18 at 20:15 CET"
## Call details

- **Date:** Thursday July 18 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-07-18 17:35] ripcurlx commented on #150
- Maybe talk quickly about the account signing feature, to clearify some points.
- Platform volume looks great again
- Latest release

[2019-07-19 02:32] OstrichEgg commented on #150
@ripcurlx - Regarding Japanese translation--

I've gathered some nationality metrics on receptivity towards Bisq based on 2 paid Twiitter ad campaigns and 2 paid Facebook ad campaigns I've run.

Long story short-- it costs almost 3 times as many advertising dollar to get a click from a Japanese national as compared to, for instance, Chinese nationals and Italian nationals.

My metrics indicate tha

[2019-07-19 15:39] m52go commented on #150
@OstrichEgg very interesting...would love to hear more!

Uploading recording [here](https://youtu.be/Oq7sTfXrz88). Closing as complete.

[2019-07-19 15:39] #150 closed

[2019-07-19 15:40] m52go opened #151 "Growth Call - 2019.07.25 at 20:15 CET"
## Call details

- **Date:** Thursday July 25 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join t

[2019-07-19 16:18] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/61549810-42205980-aa51-11e9-81ac-9ce42af7055a.png)
We've had some activity in China over the past few days.

The legal situation of Bitcoin in China has also had positive developments recently:
https://twitter.com/DoveyWan/status/1151944343999008768

Apparently a property dispute case in a Chinese court has resulted in a verdict which decl

[2019-07-19 16:32] #138 closed

[2019-07-19 16:33] #139 closed

[2019-07-19 16:33] #140 closed

[2019-07-22 13:39] ripcurlx commented on #150
@OstrichEgg Yes, I can imagine that ad-campaigns in this market for the crypto field is quite pricy. The question is of course if the clicks/installs for China have the same value as japanese users. What I find interesting is that it worked so well for Italy.

[2019-07-24 12:02] y3v63n commented on #141
@jmaurice @flix1 Guys, I've published a proposal for the [Japanese translation bounty](https://github.com/bisq-network/proposals/issues/104). Your comments and suggestions are very welcome.

[2019-07-24 12:56] jmaurice commented on #141
@y3v63n Thanks for creating this bounty, currently only English speakers can use Bisq in Japan, so this was really critical. I also think it's great that you split it into 2 parts, as one person can do the translation, and a native speaker can review the translations, or vice-versa. We can have it done pretty quickly once approved. Thank you

[2019-07-26 16:07] m52go commented on #151
Will be at https://youtu.be/BcvTA4MJSxg shortly.

Closing as complete.

[2019-07-26 16:07] #151 closed

[2019-07-26 16:09] m52go opened #152 "Growth Call - 2019.08.01 at 20:15 CET"
## Call details

- **Date:** Thursday August 01 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join

[2019-07-28 18:53] jmaurice commented on #135
Since when does Bisq care about the "legal standing" of Bitcoin in some country? IMO the entire purpose of Bisq is to not have to care what local government thinks/says/does about Bitcoin. The relevant issue at hand is that Tor, GitHub, and Bisq's domain name are all blocked in China, so Bisq is essentially censored there. IMO we should implement Tor bridges or other necessary infrastructure to ci

[2019-07-29 07:34] flix1 commented on #135
Agreed.

[2019-07-30 06:57] y3v63n opened #153 "Translator Call 2019.07.31"
## Call Details

- Date: Wed July 31 2019
- Time: 15:00 - 15:40 Central European (Summer) Time
- Place: https://zoom.us/j/7447852686

## Agenda
- Quick update on Bisq translation activity (@y3v63n)
- Update on translating the website (@huey735)
- Discussions:
    - [Bounties for translations](https://github.com/bisq-network/growth/issues/141): next bounty?
    - Translation of Bisq Documentation

[2019-07-31 11:56] huey735 commented on #153
For this session you can see a prototype of the site with Chinese(CN), English, German and Portuguese (PT) at [huey735.github.io/bisqtest](huey735.github.io/bisqtest)

**Issues**
* [There's currently an issue rendering the translated images](https://github.com/bisq-network/bisq-website/issues/196)

**Questions**
 * How do we name the langues in the language selector? In English or in each local la

[2019-07-31 11:58] huey735 commented on #153
# How the translation of the website is structured

## Files involved

**Default layout**
 * /_layouts/default.html

**Navbar**
 * /_data/main_nav.yml
 * /_includes/main_nav.html

**Footer**
 * /_includes/footer.html

**Homepage**
  * /index.md
  * /_includes/homepage_content.html
  * /_includes/os_selector_options.html

**Bisq DAO**
 * /_data/dao_content.yml
 * /dao.html
 * /images/dao

**Communi

[2019-08-01 04:27] m52go commented on #153
Call recording is uploaded [here](https://youtu.be/jV-Ho0IL3wM).

[2019-08-01 04:27] #153 closed

[2019-08-01 17:34] m52go commented on #133
Looks like Zoom has worked well so far, so I will mark this as complete.

[2019-08-01 17:34] #133 closed

[2019-08-03 14:11] m52go commented on #152
Done. Recording: https://youtu.be/2ohM7tIGe5M.

[2019-08-03 14:11] #152 closed

[2019-08-03 14:11] m52go opened #154 "Growth Call - 2019.08.08 at 20:15 CET"
## Call details

- **Date:** Thursday August 08 2019
 - **Time:** 11:15a–12:15p Pacific / 8:15p–9:15p Central European
 - **Place:** Zoom (details below)

If you want to help Bisq grow, then this is the meeting to attend!

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join

[2019-08-08 23:00] m52go commented on #154
[Uploaded here](https://www.youtube.com/watch?v=zjdB5_r3mG8&t=169s). Closing as complete.

New format seemed to get positive feedback. We had something like 10 people on the call at one point, good discussion afterward, and overall a day/night difference from the typical growth call.

[2019-08-08 23:00] #154 closed

[2019-08-20 14:25] m52go opened #155 "[Call] Q&A on Contributing: Bisq BRIEF for August 22"
## Call details

- **Date:** Thursday August 22 2019
 - **Time:** 11:15a–12:15p Pacific (PDT) / 8:15p–9:15p Central European (CEST)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join the #growth channel on our Slack workspace for more di

[2019-08-20 15:11] FKrauss commented on #155
Sending in some topics/questions as a first timer, non-dev and growth focused guy:

1. Looking at Bisq and other exchanges the landing pages seem to be great for an Open Source project, but not very welcoming for a new user specially a non technical one. Has anything been discussed in that front? maybe we create some specific landing pages for new users that are more focused on how to get started.

[2019-08-21 12:20] FKrauss commented on #8
Just adding some comments here after being part of referral programs myself and even exploiting some of them:

- Tiers should be based on trading volume, not users. It is hard for us to validate a user, yet it is easy for a scammer to get 50 users with only the minimum activity required -> they way Bitmex does it good -> up to 10 BTC 10% of trading fees, up to 1000 BTC 15%, more than 10k 20%. See

[2019-08-22 13:13] m52go commented on #155
@FKrauss all great questions and ideas. We can perhaps discuss 1, as it relates to on-boarding new contributors, but I would prefer to stick to contributing as much as possible on this call.

It might make sense for us to have a separate discussion, and then possibly make growth tactics the topic of the next call.

[2019-08-22 17:20] ManfredKarrer commented on #155
I hope some other devs can join and maybe we can discuss a bit how we can do the onboarding and introduction for new devs.

[2019-08-22 17:23] ripcurlx commented on #155
I'll join as well.

[2019-08-25 01:03] thehapax commented on #155
Hi I am new as well. Missed the the zoom meeting but are there notes or is the meeting recorded somewhere?

[2019-08-25 01:05] m52go commented on #155
@thehapax yes, call is uploaded here:
https://www.youtube.com/watch?v=NJKldxdEnEY

Closing as complete.

[2019-08-25 01:05] #155 closed

[2019-08-29 03:08] Olugbo commented on #23
working on this...

[2019-08-29 13:14] flix1 opened #156 "Nigeria NGN / BTC Market Maker Bounty 500 $BSQ"
### Nigeria NGN / BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq NGN/BTC for 1 month.
https://bisq.network/markets/?currency=btc_ngn

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report w

[2019-08-29 13:16] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/63943425-ef828600-ca6f-11e9-8c66-e7d1d630eb0b.png)

Some offers still live... but no trades.

[2019-08-29 13:17] flix1 commented on #156
![image](https://user-images.githubusercontent.com/4233784/63943501-15a82600-ca70-11e9-8085-d149fd8e3a6f.png)

For the record, there was some NGN/BTC activity back in 2018... but nothing since.

[2019-08-29 13:21] flix1 commented on #156
@takinbo @Olugbo @adibas03 you might be interested in moving onto this after you complete the 1st trade bounty #23

[2019-08-30 13:53] m52go opened #157 "[Call] Strategies for Bootstrapping New Markets: Bisq BRIEF for September 5"
## Call details

- **Date:** Thursday September 05 2019
 - **Time:** 11:15a–12:15p Pacific (PDT) / 8:15p–9:15p Central European (CEST)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join the #growth channel on our Slack workspace for more

[2019-08-30 21:51] FKrauss commented on #157
Part of the market bootstrap kit:

1. Research - what are the top payment methods in that country -> can be done online by checking LBTC or asking people on the ground what they use. If we find one that Bisq doesn't support we could consider adding it
2. Build a list of Youtube Channels & Podcasts that might be open to hearing from us - Contact and offer a local person or even a someone remote (th

[2019-09-02 08:55] flix1 commented on #157
Worth mentioning:

-Japan, especially issues #138 #139 and #140 (bounties successfully claimed).
-China #135 (bounty unclaimed)
-Nigeria #156 (bounty unclaimed)

[2019-09-02 12:11] Olugbo commented on #157
👍

[2019-09-03 08:56] flix1 commented on #157
Today there are live offers in several new markets that we should tell people about:

China CNY  2 BUY offers
Nigeria NGN  1 SELL offer
Argentina ARS  1 BUY offer
Russia RUB  1 BUY offer
Vietnam VND  1 BUY offer
Romania RON  2 BUY offers
Georgia GEL  1 SELL offer

...there's a lot of new markets that just need a tiny push to get them started. It takes two to trade! So we should help these pioneers

[2019-09-05 11:56] Olugbo commented on #23
BTC sale to NGN trade added a few days ago. No takers yet

[2019-09-05 18:18] wiz commented on #157
Suggested steps for Bisq entering new markets:

1) find solid ambassadors "on the ground"
2) localize bisq desktop app (translate, add local payment methods, etc.)
3) localize bisq website (translate, etc.)
4) localize youtube videos (translate, etc.)
5) begin education at meetup group using live trade demo, website, videos from above
6) only after everything is finalized, ready, etc. offer bounty

[2019-09-06 08:21] FKrauss commented on #157
For those interested, here are the slides I showed yesterday:
https://drive.google.com/open?id=11CH4sM0o3JFRylPzlHzwANMqT6g5HVtnc1jSoJP1wJ8

And if anyone is interested in discussing BR strategy in particular or even other markets that might be similar to it, hit me up on slack!

[2019-09-06 17:03] m52go commented on #157
Recording is here:
https://youtu.be/MF7914AuyU0

Closing as complete.

[2019-09-06 17:03] #157 closed

[2019-09-08 22:23] adibas03 commented on #23
@flix1 Getting an error trying to take the trade from **olugbo**
Error: security restrictions with trade created after march 1st 2019
![image](https://user-images.githubusercontent.com/6083241/64495265-b1ffd300-d28f-11e9-9a3b-2e48cc88c0b3.png)

[2019-09-08 22:45] Olugbo commented on #23
not sure what to do now. I wasnt told there was any restriction when I set up the offer on my end

[2019-09-09 07:10] flix1 commented on #23
That restriction is supposed to be temporary and only affects some payment methods.

I suggest you just cancel the offer and try a smaller one first, 0.01 should work.

[2019-09-09 08:39] ripcurlx commented on #23
@adibas03 What payment method are you using? If it is a regular bank transfer than expect some changes with the upcoming release v1.1.6. With it the tmp. security limit of 0.01 BTC will only stay on major markets (EUR, USD, GBP, CAD, AUD, BRL).

[2019-09-09 14:29] adibas03 commented on #23
@ripcurlx Yea, it's a regular bank transfer.
@Olugbo have you set up a new trade?

[2019-09-09 14:42] Olugbo commented on #23
I just setup a new trade for 0.01. Hope it works this time

On Mon, 9 Sep 2019 at 07:29, adibas03 <notifications@github.com> wrote:

[2019-09-09 14:44] Olugbo commented on #23
@ripcurlx do you know when v1.1.6 is coming?

[2019-09-09 14:47] ripcurlx commented on #23
I‘d say current prediction is next Monday.

[2019-09-10 19:41] fedegrc commented on #26
@flix1, I'm not seeing in my wallet the 50 BSQs that I claimed as bounty for this first trade. Additionally, I haven't found my BSQ address in the "BSQ stake and vote tracking" doc. How should I proceed?

[2019-09-11 09:04] adibas03 commented on #23
@Olugbo sorry for the delay.
I have initiated the trade.

[2019-09-11 09:09] flix1 commented on #23
![image](https://user-images.githubusercontent.com/4233784/64683931-7aa64780-d484-11e9-9f3f-3801442eb85e.png)

https://bisq.network/markets/?currency=btc_ngn

Great!

[2019-09-11 10:18] Olugbo commented on #23
Thanks, I see it. Just waiting for payment to GTB

[2019-09-17 12:09] m52go commented on #142
This idea has been floated a couple times since it was proposed here but there hasn't been much activity on it. My guess is that localization is a significant task, and localized community-building is a massive task. I think it will need to be community-driven, and planning a top-down approach here won't be too effective.

We've already had some region-specific Twitter accounts pop up in the recen

[2019-09-17 12:09] #142 closed

[2019-09-17 12:28] flix1 commented on #23
@adibas03 @Olugbo was this trade completed sucessfully?

Please give us some feedback on speed, problems, things Bisq can improve, etc...

Also, do you know how to claim the bounty? You have to create an issue in
https://github.com/bisq-network/compensation/issues

[2019-09-17 12:33] m52go opened #158 "[Call] Private and Secure Communication Channels: Bisq BRIEF for September 19"
## Call details

- **Date:** Thursday September 19 2019
 - **Time:** 11:15pm–12:15pm Pacific (PDT) / 8:15pm–9:15pm Central European (CEST)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

Also join the #growth channel on our Slack workspace for

[2019-09-17 13:10] erciccione commented on #158
I cannot make it for today's call, but i strongly vouch for the adoption of matrix as a replacement of slack (which is not meant to be a tool for decentralized projects). Riot has also cool integrations, like the possibility to create videocalls inside channels (using jitsi).

[2019-09-17 13:23] m52go commented on #158
@erciccione call is on Thursday (sorry I had wrong date in the issue body). I like Riot a lot -- will be covering it on the call.

[2019-09-17 13:34] adibas03 commented on #23
@flix1
The transaction was completed successfully.

**Feedback**
*Payment method used:* National Bank transfer,
*problems encountered:* None,
*fees paid:* (Taker) 0.000078 btc / (Maker) 0.000026 btc,
*time it took to complete the trade:* about 2hr inclusive of confirmation times for payments
*suggestions for improvement:*
There needs to be more work to cover up advanced functionality except reques

[2019-09-17 14:08] flix1 commented on #23
Thank you @adibas03

Are you interested in this, much bigger, bounty for Nigeria? #156

[2019-09-17 14:22] Olugbo commented on #23
Yep

Sent from my iPhone

[2019-09-18 05:22] aubits opened #159 "Australia's New OSKO system."
Suggest incorporating [OSKO](https://osko.com.au/about-osko) and [PayID](https://payid.com.au/) into Bisq

1) chargeback risk?
_This is a new system however their byline reads: Osko is located within your online banking and backed by [BPAY](https://www.bpay.com.au/osko) so you know that it’s super safe. Less than or equal to current chargeback risk within current setup._

2) adoption rate?
_Osko i

[2019-09-18 10:50] flix1 opened #160 "Russia RUB / BTC Market Maker Bounty"
### Russia RUB / BTC Market Maker Bounty

To claim this bounty the contributor must make a market in Bisq RUB/BTC for 1 month.
https://bisq.network/markets/?currency=btc_rub

This will involve:

1. Keeping at least 2 BUY and 2 SELL offers live during 1 month.

2. Attracting other traders to the market through marketing, communication, social media...

3. Completing at least 5 trades.

4. Report wi

[2019-09-18 10:54] flix1 commented on #160
![image](https://user-images.githubusercontent.com/4233784/65142558-434f1200-da13-11e9-9ef6-17b66d39fed3.png)

Someone is trying to make a market in Russia. Hopefully this bounty will give them some extra encouragement and help them kick-start Bisq in Russia.

[2019-09-18 11:33] wiz commented on #160
this is my bro @ifarnung - we're also talking about adding some payment methods and finishing the website in russian

[2019-09-18 11:40] ifarnung commented on #160
@flix1 Yeah, I'll keep my markets up, and work on getting some trades going.  I can add a couple of other payment options, and narrow the spread to encourage someone to try Bisq.

[2019-09-21 12:29] adibas03 commented on #23
@flix1
I'd look into it

[2019-09-25 02:58] m52go commented on #158
Recording published here:
https://youtu.be/DTF7_Y7DCak

[2019-09-25 02:58] #158 closed

[2019-10-07 11:47] flix1 commented on #156
![image](https://user-images.githubusercontent.com/4233784/66309081-fb802400-e908-11e9-974b-bd3fdec63462.png)

Someone is definitely trying to create a market in NGN...

[2019-10-30 03:05] fedegrc commented on #26
@flix1, I made a compensation request on October 23 following the document "Requesting Compensation and Voting".
I've just realized that I received 50 BSQ on Sep 11, the same day you reply to my question.
![Screenshot_20191029_234934](https://user-images.githubusercontent.com/14953828/67825664-d1a1c380-faa8-11e9-9a6f-f9f226b4f48d.png)

So, I think I should cancel the compensation request, could yo

[2019-10-30 08:32] flix1 commented on #26
@fedegrc don't cancel the compensation request. I also sent you 50 BSQ myself as a reward, but that was a personal gift, you are still due compensation from the DAO.

[2019-11-05 03:01] m52go opened #163 "[CALL] Bisq v1.2 - New Trade Protocol and Account Signing"
## Call details

- **Date:** Thursday November 07 2019
 - **Time:** 11:15pm–12:15pm Pacific (PDT) / 8:15pm–9:15pm Central European (CET)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

## Topic / Agenda

**Bisq v1.2: New Trade Protocol and Acco

[2019-11-05 03:01] m52go opened #164 "[CALL] Addressing the Bisq Support Workflow - Bisq BRIEF for November 21"
## Call details

- **Date:** Thursday November 21 2019
 - **Time:** 11:15am–12:15pm Pacific (PDT) / 8:15pm–9:15pm Central European (CET)
 - **Place:** Zoom (details below)

Everyone is welcome, and there's no need to RSVP or register, but if you do plan to attend, **please add a 👍 below** so we have an idea how many people will be there.

## Topic / Agenda

**Stepping Up Bisq Support**

Lately sup

[2019-11-07 09:29] flix1 commented on #135
@wdljt6 @ff98sha do you know any traders in China who might be interested in this bounty?

[2019-11-07 14:10] ripcurlx commented on #163
Issue discussing ideas how to generate seed accounts for smaller markets: https://github.com/bisq-network/bisq/issues/3576

[2019-11-07 14:41] ff98sha commented on #135
After discussion with @wdljt6 , we think that we may be unavailable to take this bounty in the near future, as for various problems we face.

Let me just put forward some background information about BTC trade in China, hoping that will benefit your further work.
# BTC trade is illegal now in China. But a week ago the government announced that blockchain is to be of great importance during the dev

[2019-11-07 14:48] MwithM commented on #163
Is it possible to address this issue in the call? https://github.com/bisq-network/proposals/issues/135

[2019-11-07 16:35] eigentsmis commented on #163
Will the call link be listed here at call time?

[2019-11-07 16:43] m52go commented on #163
@eigentsmis yes.

[2019-11-07 18:13] m52go commented on #163
Link (video and audio disabled by default):
https://zoom.us/j/355371585

Web link (no Zoom software required):
https://zoom.us/wc/join/355371585?pwd=

[2019-11-08 13:32] FKrauss commented on #163
Is the video available already? I couldn't find it on Youtube

And thanks for addressing my questions, @m52go

[2019-11-08 13:49] ripcurlx commented on #164
Just a couple of free and open source tools I found with a quick web search:
- https://zammad.org/ (https://github.com/zammad/zammad)
- https://helpy.io/open-source-helpdesk (https://github.com/helpyio/helpy)
- https://osticket.com/ (https://github.com/osTicket/osTicket)

Does anyone have experience with those tools?

[2019-11-08 16:26] m52go commented on #163
Published here:
https://youtu.be/wkNBBgO5At8

Closing as complete.

[2019-11-08 16:26] #163 closed

[2019-11-11 10:23] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/68579993-b4d89900-0475-11ea-9481-556678f993ec.png)
https://twitter.com/DoveyWan/status/1192972887935746048

[2019-11-20 05:51] Bisq2People opened #165 "Scandinavian market (SEK, DKK, NOK)"
This highly developed market consists of more than 20M people.

A big issue counteracting from intitial growth is the price issue mentioned here: https://github.com/bisq-network/bisq/issues/3527

[2019-11-20 08:12] FKrauss commented on #165
hey, I live in DK, people here just trade in EUR. DKK F2F we do it over facebook or meetup

[2019-11-20 08:16] Bisq2People commented on #165
OK

[2019-11-20 08:17] ripcurlx commented on #164
Best case feature set for me would be:
- Twitter support
- No e-mail registration required
- Secure communication (End-to-end encryption)
- Reporting per agent for compensation requests (time until action, customer satisfaction score)
- Automatic reply suggestions for common problems
- Knowledge base (maybe not super important as common problems should find their way into docs anyways)
- API suppo

[2019-11-20 08:49] FKrauss commented on #165
We used to have that, but some cases of chargebacks caused it to be delisted as far as I remember. I really wanted to add MobilePay (same thing but in DK) but the chargeback risk is just too big. Are you on the Bisq Keybase or Slack teams? I would suggest we take that discussion there, ;)

[2019-11-20 08:53] Bisq2People commented on #165
Swish Sweden has NO chargeback.
Also Vipps Norway (new 2018) could be added.

[2019-11-20 09:00] Bisq2People commented on #165
Please read:
https://www.getswish.se/releases/seven-mobile-payment-systems-to-found-the-european-mobile-payment-systems-association-empsa-uniting-25-million-mobile-payment-users-2/

[2019-11-20 09:04] FKrauss commented on #164
silly question, but I guess it's not only on my mind.

What are the unique properties of Bisq support that a regular ticketing system does not fill?
i.e. Zendesk or any other similar service.

I see mainly the following, (please add more):

1. Email support relies on having emails and identity, making support people a trusted role (as opposed to self service support or community provided support)

[2019-11-20 09:11] FKrauss commented on #165
sounds good, Although I would research a bit further if that is just a
claim they have or something they back it up, because want it or not they
are using the Visa/mastercard rails to collect the money and these are
susceptible to chargebacks, but I'd be glad to be wrong on this one =)

do you want work together on a proposal for that? I think if we document it
well enough I can convince someone t

[2019-11-20 09:22] Bisq2People commented on #165
If it is going to be compatible with Swish Sweden credit cards and chargeback risk are not relevant.

Sure can do that later if needed. Follow info here:
https://empsa.org/

[2019-11-20 09:36] FKrauss commented on #164
Looking around I found these:

Non Open Source:

1. https://freshdesk.com/ - seems ok, supporting everything zendesk does too.. not sure if a good option.

Open source:

1. https://osticket.com/features/ - seems more focused on a CRM like thing then in actually ticket system
2. https://www.opensupports.com/features/ - this one looked the closest to what we need from what I could parse from the web

[2019-11-20 10:49] Bisq2People commented on #165
Actually many talks on forums about LocalBitcoin as no option anylonger on Swish (SEK). They could go Bisq.

[2019-11-20 11:59] flix1 commented on #135
![image](https://user-images.githubusercontent.com/4233784/69237179-5dcd7500-0b95-11ea-8e0d-6ee407589278.png)

There's now 2 different buyers and 3 offers in CNY. Still no sellers... but I get the feeling this market is very close to starting up.

[2019-11-20 13:02] FKrauss commented on #165
I agree, we have some other people in the Bisq group who live in Sweden,
they could put in their 20 cents too.

But let's take this in a chat and coordinate how to do it, decide the
details of validation, trade period, and all that. We also need to document
the receipts and things like that. Can I ask you to join Keybase or Slack
to continue this?

thks

On Wed, 20 Nov 2019 at 11:49, Bisq2People <

[2019-11-20 13:26] #165 closed

[2019-11-21 07:27] m52go commented on #164
From my research, it looks like there is no magic bullet solution. I looked at a variety of privacy-focused services, and their support solutions seem to vary quite a bit.

* Some use email, plain and simple. Many times, emails forward to a back-end ticket manager.
* AirVPN appears to use its own forum-like format for tickets, where each ticket is opened with a web form. Tickets are only visible t

[2019-11-21 08:17] FKrauss commented on #164
I guess from the thread here, maybe the way to go about it is to tackle it
in different fronts:

Knowledge Base
Email Support for high touch problems (i.e. the cases we had with the
corrupted wallets where arbitrators needed to manually sign multisigs)
social media low touch problems.

The KB functionality is currently done in github itself, but searching
there is pretty annoying. Example: I had B

[2019-11-21 09:11] ripcurlx commented on #164
One way to solve this, suggested by @wiz, is to include support within the Bisq app and use the onion address as identity handler. Support requests are sent similar as we do it with the mobile notification service over a relay server to forward the requests to a support API. Encryption and decryption of the message when forwarded it to the support system of our choice has to be discussed.

[2019-11-21 09:13] ripcurlx commented on #164
Maybe similar to arbitrator/mediator selection a random support agent is selected and the message is encrypted with its public key. The support agent has to decrypt the message after in the support tool of choice.